<div class="w-100" style="position: relative; z-index: 2">
  <div class="upper-feed-buttons-box w-100">
    <div class="f-r-c-c g-05">
      <!-- Filters Marketplace -->
      <div class="f-r-s-c filters-marketplace g-05">
        <!-- Marketplace -->
        <a
          [routerLink]="['/marketplace']"
          class="cool-feed-button rounded marketplace-button"
          [ngClass]="{ active: channel === 'Marketplace' }"
        >
          <i class="fa-solid fa-shopping-cart"></i>
          <span class="hide-text">Marketplace</span>
        </a>

        <!-- Buyer and Seller Hub Links -->
        <div class="f-r-s-c sub-filters g-05">
          <!-- Buyer Hub -->
          <a
            [routerLink]="['/marketplace/buyer-hub', 'requests']"
            class="cool-feed-button rounded marketplace-button"
            [ngClass]="{ active: channel.startsWith('BuyerHub') }"
          >
            <i class="fa-solid fa-bag-shopping hide-icons"></i>
            <span class="hide-text">Buyer Dashboard</span>
          </a>

          <!-- Seller Hub -->
          <a
            [routerLink]="['/marketplace/seller-hub', 'listings']"
            class="cool-feed-button rounded marketplace-button"
            [ngClass]="{ active: channel.startsWith('SellerHub') }"
          >
            <i class="fa-solid fa-tags"></i>
            <span class="hide-text">Seller Dashboard</span>
          </a>
        </div>
      </div>

      <!-- Department Filters -->
      <div *ngIf="channel === 'Marketplace'">
        <div class="custom-dropdown">
          <div class="dropdown-toggle" id="department-toggle">
            {{ departmentName === "NONE" ? "All" : departmentName }}
          </div>
          <ul class="dropdown-options">
            <li>
              <a [routerLink]="['/marketplace']" [queryParams]="{}">All</a>
            </li>
            <li
              *ngFor="let department of departmentList"
              [hidden]="department.name === 'NONE'"
            >
              <a
                [routerLink]="['/marketplace']"
                [queryParams]="{ inDepartment: department.self }"
              >
                {{ department.displayName }}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Create Listing Button -->
    <a
      [routerLink]="['/marketplace/products/new']"
      class="cool-feed-button p-3 marketplace-button square font-size-16 font-weight-bold"
      [ngClass]="{ active: channel === 'Sell' }"
    >
      <i class="fa-solid fa-tag"></i>
      Sell
    </a>
  </div>
</div>
