<div class="container">
  <div class="row init">
    <div class="column-left">
      <app-sidebar></app-sidebar>
    </div>

    <div class="column-middle">
      <div class="cool-static-container m-b-20" style="word-wrap: break-word">
        <!-- If no amenities -->
        <div class="loader w-100" *ngIf="isLoading"></div>

        <div
          class="no-posts-found"
          *ngIf="amenities?.length === 0 && !isLoading"
        >
          <i class="fa-solid fa-magnifying-glass fa-4x"></i>
          {{ 'AMENITIES-RESERVATIONS-PAGE.AMENITIES_NOT_FOUND' | translate }}
        </div>

        <!-- If amenities are available -->
        <div *ngIf="amenities?.length > 0">
          <h2>
            {{ 'AMENITIES-RESERVATIONS-PAGE.MAKE_A_RESERVATION' | translate }}
          </h2>
          <div class="divider"></div>

          <form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
            <div class="col-md-12">
              <label for="amenityUrl" class="mt-3 mb-2">{{
                'AMENITIES-RESERVATIONS-PAGE.SELECT_AN_AMENITY' | translate
              }}</label>
              <app-infinite-scroll-select
                [theme]="'default'"
                [multiple]="false"
                [fetchData]="fetchAmenities"
                [displayFn]="displayAmenity"
                formControlName="amenity"
                class="w-100"
                [height]="'200px'"
                [uniqueKey]="'self'"
              >
              </app-infinite-scroll-select>

              <p
                class="error"
                *ngIf="
                  reservationForm.get('amenityUrl')?.invalid &&
                  reservationForm.get('amenityUrl')?.touched
                "
              >
                {{
                  'AMENITIES-RESERVATIONS-PAGE.PLEASE_SELECT_AN_AMENITY'
                    | translate
                }}
              </p>
            </div>

            <div class="col-md-12">
              <label for="date" class="mt-3 mb-1">{{
                'AMENITIES-RESERVATIONS-PAGE.CHOOSE_DATE' | translate
              }}</label>
              <input
                type="date"
                id="date"
                formControlName="date"
                class="cool-input mb-1"
                [min]="todayString"
                required
              />
              <p
                class="error"
                *ngIf="
                  reservationForm.get('date')?.invalid &&
                  reservationForm.get('date')?.touched
                "
              >
                {{
                  'AMENITIES-RESERVATIONS-PAGE.PLEASE_CHOOSE_A_VALID_DATE'
                    | translate
                }}
              </p>
            </div>

            <div class="col-md-12">
              <div class="d-flex justify-content-end m-t-40">
                <button
                  type="submit"
                  class="cool-button cool-small on-bg w-25 font-weight-bold"
                  style="height: 40px"
                >
                  {{ 'AMENITIES-RESERVATIONS-PAGE.SEE_TIMES' | translate }}
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <!-- The schedule table for each amenity -->
      <div
        *ngFor="let amenity of amenities"
        class="cool-static-container m-b-20"
        style="word-wrap: break-word"
      >
        <h2>{{ amenity.name }}</h2>
        <p class="mb-3" style="color: var(--lighttext)">
          {{ amenity.description }}
        </p>

        <div
          class="d-flex flex-column justify-content-center align-items-center w-100"
        >
          <div class="cool-table w-100">
            <table class="table-striped w-100">
              <tr>
                <th>
                  {{ 'AMENITIES-RESERVATIONS-PAGE.AMENITY_HOURS' | translate }}
                </th>
                <!-- Use the abbreviated day name -->
                <th *ngFor="let d of uniqueDays">
                  {{ getAbbreviatedDay(d) | translate }}
                </th>
              </tr>

              <!-- For each unique time, display a row -->
              <tr *ngFor="let t of uniqueTimes">
                <!-- Format the time string -->
                <td>{{ formatTime(t) }}</td>

                <!-- For each day, check if the shift is available for this amenity -->
                <td *ngFor="let d of uniqueDays">
                  <ng-container
                    *ngIf="
                      checkAvailability(amenity.availableShifts, d, t);
                      else notAvailable
                    "
                  >
                    <span style="color: var(--primary)" class="col-12">
                      <i class="fa-solid fa-check"></i>
                    </span>
                  </ng-container>
                  <ng-template #notAvailable>
                    <span style="color: var(--error)" class="col-12">
                      <i class="fa-solid fa-xmark"></i>
                    </span>
                  </ng-template>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <!-- PAGINATOR  -->
      <div class="m-t-20">
        <app-paginator
          [totalPages]="totalPages"
          [currentPage]="currentPage"
          (pageChange)="onPageChange($event)"
        >
        </app-paginator>
      </div>
    </div>

    <div class="column-right">
      <app-calendar-widget></app-calendar-widget>
      <app-amenities-reservations-list></app-amenities-reservations-list>
    </div>

    <!-- end column-right -->
  </div>
  <!-- end row -->
</div>
<!-- end container -->
<app-wave-footer></app-wave-footer>
