<div [class.dark-mode]="darkMode">
    <!-- Navbar -->
    <app-navbar></app-navbar>

    <div class="container">
        <div class="row init">
            <!-- Left Column -->
            <div class="column-left">
                <app-left-column></app-left-column>
            </div>

            <!-- Center Grid -->
            <div id="center-grid" class="column-center ps-3">

                <!-- Upper marketplace buttons -->
                <app-marketplace-control-bar [channel]="'SellerHub'"></app-marketplace-control-bar>


                <div class="w-100 f-c-c-c g-05 cool-static-container">
                    <!-- Tabs row (similar to JSP structure) -->
                    <div class="f-c-s-s w-100">
                        <div class="f-r-c-c pt-2 pb-2">
                            <!-- My Listings button -->
                            <a [routerLink]="['/marketplace/seller-hub', 'listings']"
                                class="cool-feed-button rounded marketplace-button font-weight-bold"
                                [class.active]="isListings">
                                <span class="font-size-12">
                                    <i class="fa-regular fa-chart-bar"></i>
                                    <span class="hide-text">My listings</span>
                                </span>
                            </a>


                            <!-- My Sales button -->
                            <a [routerLink]="['/marketplace/seller-hub', 'sales']"
                                class="cool-feed-button rounded marketplace-button font-weight-bold"
                                [class.active]="isSales">
                                <span class="font-size-12">
                                    <i class="fa-solid fa-box-open hide-icons"></i>
                                    <span class="hide-text">My sales</span>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="divider mb-3"></div>

                    <!-- ============================= -->
                    <!-- LISTINGS SECTION (isListings) -->
                    <!-- ============================= -->
                    <ng-container *ngIf="isListings; else showSales">
                        <!-- If no listings -->
                        <div class="no-posts-found" *ngIf="listings.length === 0">
                            <i class="circle-icon fa-solid fa-magnifying-glass"></i>
                            No new requests
                        </div>

                        <!-- Otherwise, show all listings -->
                        <div class="w-100 f-c-c-c g-1" *ngIf="listings.length > 0">
                            <div class="cool-static-container w-100 f-c-s-s g-0 p-0 mb-3"
                                *ngFor="let product of listings">
                                <div class="container">
                                    <div class="f-r-c-c w-100 g-0">
                                        <div class="ps-0">
                                            <div class="purchased-product-image f-c-c-c placeholder-glow">
                                                <img [src]="product.firstImage" class="" style="max-height: 100px"
                                                    alt="purchased_product_image_{{ product.self }}" />
                                            </div>
                                        </div>

                                        <div class="f-c-s-s w-100 p-4">
                                            <!-- Sold or In Stock -->
                                            <div class="f-r-sb-c w-100 g-0">
                                                <span class="font-weight-bold font-size-16">{{ product.name }}</span>

                                                <ng-container *ngIf="product.stock === 0; else inStock">
                                                    <div class="sold-tag p-2 font-weight-bolder">
                                                        Sold out
                                                    </div>
                                                </ng-container>
                                                <ng-template #inStock>
                                                    <div class="in-stock-tag p-2 font-weight-bolder">
                                                        In stock: {{ product.stock }}
                                                    </div>
                                                </ng-template>
                                            </div>

                                            <!-- Price & Department -->
                                            <div class="f-r-sb-c g-0 w-100">
                                                <!-- Price block -->
                                                <div class="f-r-c-c g-0">
                                                    <span class="price font-size-20 font-weight-normal">
                                                        {{ product?.price
                                                        ? (product.price |
                                                        currency:'ARS':'symbol':'1.0-2').split(',')[0]
                                                        : ''
                                                        }}
                                                    </span>
                                                    <div class="f-c-s-c ps-1" style="height: 20px">
                                                        <span
                                                            class="cents c-light-text font-size-12 font-weight-normal">
                                                            {{ product?.price? ',' + ((product.price |
                                                            currency:'ARS':'symbol':'1.0-2')
                                                            .split(',')[1] || '00')
                                                            : ''
                                                            }}
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="f-r-c-c g-05">
                                                    <div class="department-tag"
                                                        (click)="goToDepartment(product.department)">
                                                        {{ product.department?.name }}
                                                    </div>
                                                    <div *ngIf="product.used; else newTag"
                                                        class="used-tag used font-weight-normal">
                                                        Used
                                                    </div>
                                                    <ng-template #newTag>
                                                        <div class="used-tag new font-weight-normal">
                                                            New
                                                        </div>
                                                    </ng-template>
                                                </div>
                                            </div>

                                            <!-- Actions row -->
                                            <div class="f-r-sb-c w-100">
                                                <div class="f-r-sb-c g-05 w-50">
                                                    <!-- View listing -->
                                                    <a class="cool-button small-a marketplace-button square-radius w-50 font-weight-bold"
                                                        (click)="goToListingDetail( product.self)">
                                                        <i class="fa-solid fa-arrow-right-to-bracket pe-1"></i>
                                                        View listing
                                                    </a>
                                                    <!-- Requests -->
                                                    <a class="cool-button small-a marketplace-button square-radius w-50 font-weight-bold"
                                                        (click)="goToRequests(product.self)">
                                                        <i class="fa-solid fa-bell pe-1"></i>
                                                        Requests
                                                        <!-- Example: if you want to display # of requests -->
                                                        <!-- Requires a change in the API -->
                                                        <span class="ms-1">
                                                            (NUMERO)
                                                        </span>
                                                        <!-- *ngIf="product.requestCount" -->
                                                    </a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- If totalPages > 1 then bottom paginator -->
                        <app-paginator *ngIf="totalPages > 1" [totalPages]="totalPages" [currentPage]="page"
                            (pageChange)="onPageChange($event)">
                        </app-paginator>
                    </ng-container>

                    <!-- ========================= -->
                    <!-- SALES SECTION (isSales)  -->
                    <!-- ========================= -->
                    <ng-template #showSales>
                        <!-- If no sales found -->
                        <div class="no-posts-found" *ngIf="sales.length === 0">
                            <i class="circle-icon fa-solid fa-magnifying-glass"></i>
                            Purchases not found
                        </div>

                        <!-- Otherwise, show all sales -->
                        <div class="w-100 f-c-c-c g-1" *ngIf="sales.length > 0">
                            <div class="cool-static-container w-100 f-c-s-s g-0 p-0" *ngFor="let purchase of sales">
                                <!-- Top row: date/time -->
                                <div class="f-r-sb-c w-100 ps-3 pe-3 pb-2 pt-2"
                                    style="padding-left: 1em; padding-right: 1em;">
                                    <div>{{ purchase.createdAt | date: 'dd MMM yyyy' }}</div>
                                    <div>{{ purchase.createdAt | date: 'HH:mm' }}</div>
                                </div>
                                <div class="divider m-0"></div>

                                <!-- Purchase details -->
                                <div class="container">
                                    <div class="f-r-c-c w-100 g-1">
                                        <div class="ps-0">
                                            <div class="purchased-product-image f-c-c-c placeholder-glow">
                                                <img [src]="purchase.product?.firstImage" class=""
                                                    alt="purchased_product_image_{{ purchase.product?.self }}" />
                                            </div>
                                        </div>

                                        <div class="f-c-s-s w-100 p-4">
                                            <div class="f-r-sb-c g-0 w-100">
                                                <span class="font-weight-bold font-size-16">
                                                    {{ purchase.product?.name }}
                                                </span>
                                                <div class="f-r-c-c g-05">
                                                    <div class="department-tag"
                                                        (click)="goToDepartment(purchase.product?.department)">
                                                        {{ purchase.product?.department?.name }}
                                                    </div>
                                                    <div *ngIf="purchase.product?.used; else newSale"
                                                        class="used-tag used font-weight-normal">
                                                        Used
                                                    </div>
                                                    <ng-template #newSale>
                                                        <div class="used-tag new font-weight-normal">New</div>
                                                    </ng-template>
                                                </div>
                                            </div>

                                            <!-- Quantity -->
                                            <div class="f-r-c-c font-weight-normal">
                                                Quantity: {{ purchase.unitsRequested }}
                                            </div>
                                            <!-- Buyer info -->
                                            <div class="f-r-c-c g-05">
                                                <span class="font-weight-normal">Bought by</span>
                                                <span style="color: var(--lila)">
                                                    {{ purchase.requestingUser?.name }} ({{
                                                    purchase.requestingUser?.phoneNumber
                                                    }})
                                                </span>
                                            </div>

                                            <!-- Price -->
                                            <div class="f-r-c-c g-0">
                                                <span class="price font-size-20 font-weight-normal">
                                                    {{ purchase.product?.price
                                                    ? (purchase.product.price |
                                                    currency:'ARS':'symbol':'1.0-2').split(',')[0]
                                                    : ''
                                                    }} </span>
                                                <div class="f-c-s-c ps-1" style="height: 20px">
                                                    <span class="cents c-light-text font-size-12 font-weight-normal">
                                                        {{ purchase.product?.price
                                                        ? ',' + ((purchase.product.price |
                                                        currency:'ARS':'symbol':'1.0-2')
                                                        .split(',')[1] || '00')
                                                        : ''
                                                        }} </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- If totalPages > 1 then bottom paginator -->
                            <app-paginator *ngIf="totalPages > 1" [totalPages]="totalPages" [currentPage]="page"
                                [isMarketplace]="true" (pageChange)="onPageChange($event)">
                            </app-paginator>
                        </div>
                    </ng-template>
                </div>

            </div>
        </div>
    </div>

    <!-- Footer -->
    <app-wave-footer [isMarketplace]="true"></app-wave-footer>
</div>