<app-background-drawing></app-background-drawing>
<div class="container">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <div class="cool-static-container" style="width: 500px; margin-top: 100px">
      <div
        class="d-flex flex-column justify-content-center align-items-center"
        style="text-align: center"
      >
        <p [innerHTML]="'SUPER-ADMIN-PAGE.WELCOME' | translate"
          style="font-size: 50px"
          class="c-primary font-weight-bold mb-4 mt-4"
        >
        </p>

        <p [innerHTML]="'SUPER-ADMIN-PAGE.UNDER_DEVELOPMENT' | translate" style="font-size: 24px" class="c-primary mb-4">
        </p>
        <br />

        <p [innerHTML]="'SUPER-ADMIN-PAGE.ADMINISTRATIVE_TOOLS' | translate" style="text-align: justify" class="mb-3">
        </p>

        <p [innerHTML]="'SUPER-ADMIN-PAGE.DEVELOPMENT_TEAM' | translate">
        </p>

        <br />

        <br />
        <button class="cool-button m-t-40" (click)="goBackToMainPage()">
          {{ 'UNVERIFIED-PAGE.GO_BACK_TO_LOGIN' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
