<div
  id="editDialog"
  class="dialog"
  [ngClass]="{ 'show-dialog': editDialogVisible }"
>
  <div
    class="dialog-content services"
    style="background-color: var(--onbackground)"
  >

    <div class="close-button services" (click)="closeEditDialog()">
      <i class="fas fa-close"></i>
    </div>

    <div
      class="mb-2 mt-3 f-c-c-c c-services font-weight-bold"
      style="font-size: 20px"
    >
    {{ "SERVICE-PROVIDERS-EDIT-DIALOG.EDIT_PROFILE" | translate }}
    </div>

    <form
      (ngSubmit)="submitEditProfileForm()"
      #editForm="ngForm"
      enctype="multipart/form-data"
    >
      <div class="f-c-c-c ps-3 pe-3 c-text" style="width: 500px">

        <div class="w-75 f-c-c-c" style="gap: 10px">
          <input
            name="businessName"
            [(ngModel)]="businessName"
            type="text"
            class="cool-input services-input"
            [attr.placeholder]="'SERVICE-PROVIDERS-EDIT-DIALOG.BUSINESS_NAME' | translate"
            required
          />
          <p
            *ngIf="
              editForm.controls['businessName']?.invalid &&
              editForm.controls['businessName']?.touched
            "
            class="error"
          >
          {{ "SERVICE-PROVIDERS-EDIT-DIALOG.BUSINESS_NAME_IS_REQUIRED" | translate }}
          </p>

          <input
            name="bio"
            [(ngModel)]="bio"
            type="text"
            class="cool-input services-input"
            [attr.placeholder]="'SERVICE-PROVIDERS-EDIT-DIALOG.DESCRIPTION' | translate"
            required
          />
          <p
            *ngIf="
              editForm.controls['bio']?.invalid &&
              editForm.controls['bio']?.touched
            "
            class="error"
          >
          {{ "SERVICE-PROVIDERS-EDIT-DIALOG.DESCRIPTION_IS_REQUIRED" | translate }}
          </p>

          <input
            name="phoneNumber"
            [(ngModel)]="phoneNumber"
            type="tel"
            class="cool-input services-input"
            [attr.placeholder]="'SERVICE-PROVIDERS-EDIT-DIALOG.PHONE_NUMBER' | translate"
            required
          />
          <p
            *ngIf="
              editForm.controls['phoneNumber']?.invalid &&
              editForm.controls['phoneNumber']?.touched
            "
            class="error"
          >
          {{ "SERVICE-PROVIDERS-EDIT-DIALOG.PHONE_NUMBER_IS_REQUIRED" | translate }}
          </p>

          <input
            name="address"
            [(ngModel)]="address"
            type="text"
            class="cool-input services-input"
            [attr.placeholder]="'SERVICE-PROVIDERS-EDIT-DIALOG.ADDRESS' | translate"
            required
          />
          <p
            *ngIf="
              editForm.controls['address']?.invalid &&
              editForm.controls['address']?.touched
            "
            class="error"
          >
          {{ "SERVICE-PROVIDERS-EDIT-DIALOG.ADDRESS_IS_REQUIRED" | translate }}
          </p>
        </div>

        <label for="imageInput1" class="mt-3">{{ "SERVICE-PROVIDERS-EDIT-DIALOG.BACKGROUND_IMAGE" | translate }}</label>
        <input
          id="imageInput1"
          name="imageFile"
          type="file"
          (change)="onFileSelected($event)"
          class="cool-input services-input"
          accept="image/*"
        />

        <button
          type="submit"
          class="cool-button cool-small services-button on-bg font-weight-bolder mb-4 mt-3"
          style="width: 150px"
          [disabled]="editForm.invalid"
        >
        {{ "SERVICE-PROVIDERS-EDIT-DIALOG.SAVE_CHANGES" | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
