<div class="cool-static-container">
  <h2 class="card-title">
    {{ 'SERVICE-PROVIDERS-CREATE-POST.CREATE_A_POST' | translate }}
  </h2>
  <div class="divider"></div>

  <form
    [formGroup]="createWrokerPostForm"
    (ngSubmit)="onSubmit()"
    enctype="multipart/form-data"
  >
    <div class="form-column" style="margin-top: 1rem">
      <div class="form-group">
        <input type="hidden" formControlName="channel" [value]="channel" />

        <div class="form-row">
          <input
            type="text"
            formControlName="title"
            class="cool-input"
            style="border-radius: var(--border-radius)"
            [attr.placeholder]="'SERVICE-PROVIDERS-CREATE-POST.TITLE' | translate"
          />
          <div
            *ngIf="
              createWrokerPostForm.get('title').invalid &&
              (createWrokerPostForm.get('title').dirty ||
                createWrokerPostForm.get('title').touched)
            "
            class="form-row form-error"
          >
            <p class="error">
              {{
                'SERVICE-PROVIDERS-CREATE-POST.TITLE_IS_REQUIRED' | translate
              }}
            </p>
          </div>
        </div>
      </div>

      <div class="form-group">
        <textarea
          formControlName="body"
          class="cool-input textarea-min-max"
          rows="5"
          [attr.placeholder]="'SERVICE-PROVIDERS-CREATE-POST.BODY' | translate"
        ></textarea>
        <div
          *ngIf="
            createWrokerPostForm.get('body').invalid &&
            (createWrokerPostForm.get('body').dirty ||
              createWrokerPostForm.get('body').touched)
          "
          class="form-row form-error"
        >
          <p class="error">
            {{ 'SERVICE-PROVIDERS-CREATE-POST.BODY_IS_REQUIRED' | translate }}
          </p>
        </div>
      </div>

      <div class="form-group w-50">
        <label
          for="images"
          class="drop-container"
          id="dropcontainer"
          (dragover)="onDragOver($event)"
          (drop)="onDrop($event)"
        >
          <span class="drop-title">{{
            'SERVICE-PROVIDERS-CREATE-POST.DROP_FILES' | translate
          }}</span>
          {{ 'SERVICE-PROVIDERS-CREATE-POST.OR' | translate }}
          <input
            type="file"
            class="select-file-button"
            id="images"
            accept="image/*"
            (change)="onFileChange($event)"
          />
        </label>

        <div
          style="text-align: center; margin-top: 0.75rem"
          *ngIf="imageFileControl?.value"
        >
          <button type="button" class="cool-button red" (click)="removeImage()">
            {{ 'ADMIN-INFORMATION-PAGE.REMOVE_IMAGE' | translate }}
          </button>
        </div>

        <app-form-error [centered]="true" [control]="imageFileControl">
        </app-form-error>
      </div>

      <div class="preview-container" *ngIf="imagePreviewUrl">
        <img
          [src]="imagePreviewUrl"
          class="blogpost-image"
          alt="uploading image"
        />
      </div>

    </div>

    <div class="d-flex justify-content-end mt-3">
      <button
        type="submit"
        class="cool-button cool-small on-bg w-25 font-weight-bolder"
        style="height: 40px"
      >
        {{ 'SERVICE-PROVIDERS-CREATE-POST.POST' | translate }}
      </button>
    </div>
  </form>
</div>
