<div class="w-100" style="position: relative; z-index: 2">
  <div class="upper-feed-buttons-box w-100">
    <div class="f-r-c-c g-05">
      <div class="f-r-s-c filters-marketplace g-05">
        <a
          [routerLink]="['/marketplace']"
          class="cool-feed-button rounded marketplace-button"
          [ngClass]="{ active: channel === 'Marketplace' }"
        >
          <i class="fa-solid fa-shopping-cart"></i>
          <span class="hide-text">{{
            'MARKETPLACE-CONTROL-BAR.MARKETPLACE' | translate
          }}</span>
        </a>

        <div class="f-r-s-c sub-filters g-05">
          <a
            [routerLink]="['/marketplace/buyer-hub', 'requests']"
            class="cool-feed-button rounded marketplace-button"
            [ngClass]="{ active: channel.startsWith('BuyerHub') }"
          >
            <i class="fa-solid fa-bag-shopping hide-icons"></i>
            <span class="hide-text">{{
              'MARKETPLACE-CONTROL-BAR.BUYER_DASHBOARD' | translate
            }}</span>
          </a>

          <a
            [routerLink]="['/marketplace/seller-hub', 'listings']"
            class="cool-feed-button rounded marketplace-button"
            [ngClass]="{ active: channel.startsWith('SellerHub') }"
          >
            <i class="fa-solid fa-tags"></i>
            <span class="hide-text">{{
              'MARKETPLACE-CONTROL-BAR.SELLER_DASHBOARD' | translate
            }}</span>
          </a>
        </div>
      </div>

      <div *ngIf="channel === 'Marketplace'">
        <div class="custom-dropdown">
          <div class="dropdown-toggle" id="department-toggle">
            {{
              departmentName === 'All'
                ? ('MARKETPLACE-CONTROL-BAR.ALL' | translate)
                : ('MARKETPLACE-CONTROL-BAR.DEPARTMENTS.' + departmentName
                  | translate)
            }}
          </div>
          <ul class="dropdown-options">
            <li>
              <a [routerLink]="['/marketplace']" [queryParams]="{}">
                {{ 'MARKETPLACE-CONTROL-BAR.ALL' | translate }}
              </a>
            </li>
            <li
              *ngFor="let department of departmentList"
              [hidden]="department.name === 'NONE'"
            >
              <a
                [routerLink]="['/marketplace']"
                [queryParams]="{ inDepartment: department.self }"
              >
                {{
                  'MARKETPLACE-CONTROL-BAR.DEPARTMENTS.' + department.name
                    | translate
                }}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <a
      [routerLink]="['/marketplace/products/new']"
      class="cool-feed-button p-3 marketplace-button square font-size-16 font-weight-bold"
      [ngClass]="{ active: channel === 'Sell' }"
    >
      <i class="fa-solid fa-tag"></i>
      {{ 'MARKETPLACE-CONTROL-BAR.SELL' | translate }}
    </a>
  </div>
</div>
