<div class="content-container">
  <div class="container f-c-c-c" style="z-index: 2">
    <landing-page-navbar></landing-page-navbar>
    <div class="landing-neibo">Neibo</div>
    <p class="landing-description" style="mix-blend-mode: screen" i18n>
      {{ "LOGIN-PAGE.A_PLATFORM_FOR_GATED_COMMUNITIES_THAT_ALLOWS_YOU_T" | translate }}
    </p>

    <a
      class="action-button font-weight-bolder"
      (click)="openLoginDialog()"
      i18n
    >
    {{ "LOGIN-PAGE.LOGIN" | translate }}
    </a>
    <span
      style="color: var(--lighttext); font-size: 14px; mix-blend-mode: screen"
    >
      <span i18n>{{ "LOGIN-PAGE.NOT_A_MEMBER" | translate }}</span>
      <a (click)="openSignupDialog()" class="a-link" i18n> {{ "LOGIN-PAGE.SIGNUP_NOW" | translate }} </a>
    </span>
  </div>
</div>

<app-login-dialog
  [(showLoginDialog)]="showLoginDialog"
  [(showSignupDialog)]="showSignupDialog"
></app-login-dialog>

<app-signup-dialog [(showSignupDialog)]="showSignupDialog"></app-signup-dialog>

<app-background-drawing></app-background-drawing>
