.service-card {
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--onbackground);
  border: 1px solid var(--shadow);
  border-radius: var(--border-radius);
  transform: translateY(-4px);
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 0 0 var(--lighttext);

  & .card-header {
    margin: 0;
    padding: 0;

    & .back-image {
      object-fit: cover;
      object-position: center bottom;
      width: 100%;
      max-height: 30vh;
    }
  }

  & .card-body {
    position: relative;
    width: 100%;
    border-bottom: 1px solid var(--lighttext);

    &::before {
      content: "";
      position: absolute;
      top: -65px;
      left: 50%;
      transform: translate(-50%, 0);
      background-size: cover;
      object-fit: cover;
      background-color: var(--onbackground);
      background-image: var(--background-image);
      /*This is ok no worries*/
      width: 130px;
      height: 130px;
      border: 10px solid var(--onbackground);
      border-radius: 50%;
    }

    & .inner {
      position: relative;
      padding-top: 4em;
      margin: 2em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.2em;
    }
  }

  & .card-footer {
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    & .inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      & div:first-child {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 5px;
      }

      & div:last-child {
        font-size: 12px;
      }
    }
  }
}

/*-------------------------service widget-----------------------*/
.service-widget {
  background: var(--onbackground);
  width: 100%;
  border-radius: var(--border-radius);
  border: 1px solid var(--shadow);
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  white-space: normal;
  display: block;
  position: relative;
  transform: translateY(0);
  cursor: pointer;

  & svg {
    width: 85px;
    height: 85px;
    margin: 0 auto;
  }

  & .card-text {
    display: grid;
    grid-template-columns: 1fr 3fr;

    & .img-avatar {
      width: 80px;
      height: 80px;
      position: absolute;
      border-radius: 50%;
      border: 6px solid var(--onbackground);
      background-image: linear-gradient(
        -60deg,
        var(--old-primary) 0%,
        var(--primary) 100%
      );
      top: 15px;
      left: 100px;
    }
  }

  & .title-total {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 1.5em 1.5em 1.5em 50px;
    gap: 10px;

    & .title {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: end;
      align-items: end;
      color: var(--profession);
      font-weight: bold;
      font-size: 12px;
    }

    & .desc {
      color: var(--lighttext);
      font-size: 12px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      line-clamp: 5;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      white-space: normal;
    }

    & .actions {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      padding: 0.5rem 1rem;
    }
  }

  & .portada {
    width: 100%;
    height: 100%;
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    background-position: bottom center;
    background-size: cover;
  }

  &:hover {
    transform: translateY(-5px);
    box-shadow: -3px 5px 0 0 var(--profession);
  }

  & .background-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;

    border-top-left-radius: var(--border-light);
    border-bottom-left-radius: var(--border-light);
    background-position: bottom center;
    background-size: cover;
  }
}

/*--------------------------tabbed box ---------------*/
.tabbed-box {
  & section {
    background-color: var(--onbackground);
    display: none;
    padding: 20px;
    border: 1px solid var(--profession);
    box-shadow: 0 4px 0 0 var(--profession);

    z-index: -1;
    transform: translateY(-4px);
    border-radius: 0 var(--border-radius) var(--border-radius)
      var(--border-radius);
  }

  & input[type="radio"] {
    display: none;
  }

  & label {
    position: relative;
    display: inline-block;
    border: 1px solid var(--profession);
    padding: 15px 25px;
    font-weight: bolder;
    text-align: center;
    color: var(--lighttext);
    width: 32%;
    background-color: var(--onbackground);

    border-radius: var(--border-radius) var(--border-radius) 0 0;
    border-bottom: 1px solid transparent;
    transform: translateY(-2px);

    &:before {
      font-weight: normal;
      margin-right: 10px;
    }

    &:hover {
      color: var(--profession);
      cursor: pointer;
    }
  }

  & input:checked + label {
    color: var(--profession);
    z-index: 2;
    border-left: 1px solid var(--profession);
    border-right: 1px solid var(--profession);
    border-top: 3px solid var(--profession);
    border-bottom: 1px solid transparent;
  }

  & #tab1:checked ~ #content1,
  & #tab2:checked ~ #content2,
  & #tab3:checked ~ #content3,
  & #tab4:checked ~ #content4 {
    display: flex;
  }

  & #content1 {
    & .container {
      padding: 0;
      margin: 0;
    }

    & .review-box {
      padding: 1rem;
      margin: 0 0 10px 0;
      background-color: var(--stripe);
      color: var(--text);
      border-radius: var(--border-radius);
      overflow: hidden;
      white-space: normal;
      text-overflow: ellipsis;
    }
  }

  & .background-cover {
    width: 100%;
    height: 100px;
    object-fit: cover;
    transition: all 0.3s ease-in-out;

    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    background-position: bottom center;
    background-size: cover;
  }
}

.stars {
  display: flex;
  align-items: center;
  gap: 20px;

  & i {
    color: var(--star-background);
    font-size: 35px;
    cursor: pointer;
    transition: color 0.2s ease;

    &.active {
      color: var(--star-active);
    }
  }
}

.cool-star {
  color: var(--star-background);

  &.active {
    color: var(--star-active);
  }
}
