<ng-container *ngIf="isLoading; else workersLoaded">
  <div class="f-c-c-c w-100">
    <div class="w-100 mb-3" *ngFor="let i of placeholderItems">
      <app-placeholder-service-provider></app-placeholder-service-provider>
    </div>
  </div>
</ng-container>

<ng-template #workersLoaded>
  <ng-container
    *ngIf="workersList && workersList.length > 0; else noWorkersFound"
  >
    <div class="f-c-c-c w-100">
      <div class="w-100" *ngFor="let worker of workersList">
        <app-service-providers-preview
          [worker]="worker"
        ></app-service-providers-preview>
      </div>
    </div>

    <app-paginator
      [currentPage]="currentPage"
      [totalPages]="totalPages"
      [theme]="'services'"
      (pageChange)="onPageChange($event)"
    >
    </app-paginator>
  </ng-container>
</ng-template>

<ng-template #noWorkersFound>
  <div class="cool-static-container m-b-20" style="word-wrap: break-word">
    <div class="no-posts-found">
      <i class="circle-icon fa-solid fa-magnifying-glass"></i>
      <span>{{ 'SERVICE-PROVIDERS-PAGE.COULD_NOT_FIND' | translate }}</span>
    </div>
  </div>
</ng-template>
