<!-- rejected-page.component.html -->
<app-background-drawing></app-background-drawing>
<div class="container">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <div class="cool-static-container" style="width: 500px; margin-top: 100px">
      <div
        class="d-flex flex-column justify-content-center align-items-center"
        style="text-align: center"
      >
        <h3 class="c-primary" style="font-size: 4em; line-height: 1.5em">
          Hey there!
        </h3>
        <p style="color: var(--primary); font-size: 30px">
          It looks like you aren't associated with a neighborhood yet!
        </p>
        <br />
        <p>Please select one of the following neighborhoods to continue.</p>
        <br />

        <form [formGroup]="neighborhoodForm" (ngSubmit)="onSubmit()">
          <div class="centered-column">
            <div class="form-input">
              <app-infinite-scroll-select
                [theme]="'default'"
                [multiple]="false"
                [fetchData]="fetchNeighborhoods"
                [displayFn]="displayNeighborhood"
                formControlName="neighborhood"
                [uniqueKey]="'self'"
              >
              </app-infinite-scroll-select>
              <div
                *ngIf="
                submitted &&
                neighborhoodForm.get('neighborhoodId')?.errors?.['required']
              "
                class="error"
              >
                Neighborhood is required
              </div>
            </div>
          </div>

          <a type="submit" class="cool-button"> Request </a>
        </form>
        <span class="mt-3" style="color: var(--lighttext)">or</span>
        <a
          (click)="goBackToMainPage()"
          class="cool-button m-t-40"
          style="cursor: pointer"
        >
          Go Back to Login
        </a>

        <div
          *ngIf="isLoading"
          class="spinner-border text-primary mt-3"
          role="status"
        >
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </div>
</div>
