<div class="cool-static-container mb-4">
  <div *ngIf="associatedNeighborhoods?.length === 0; else associatedNotEmpty">
    <div class="f-c-c-c w-100 mt-3" style="text-align: center">
      <div class="w-75">{{ "SERVICE-PROVIDERS-JOIN-NEIGHBORHOODS-PAGE.NO_ASSOCIATED_NEIGHBORHOODS" | translate }}</div>
    </div>
  </div>

  <ng-template #associatedNotEmpty>
    <div class="f-c-s-c mt-2 w-100">
      <span class="font-weight-bold font-size-20">{{ "SERVICE-PROVIDERS-JOIN-NEIGHBORHOODS-PAGE.MY_NEIGHBORHOODS" | translate }}</span>
      <table class="table-striped w-100 mt-3">
        <thead>
          <tr></tr>
        </thead>
        <tbody>
          <tr *ngFor="let entry of associatedNeighborhoods">
            <td style="text-align: start">
              <span class="ps-2 pe-2">{{ entry.neighborhood.name }}</span>
              <span
                *ngIf="entry.role === 'UNVERIFIED_WORKER'"
                class="badge-pending"
              >
              {{ "SERVICE-PROVIDERS-JOIN-NEIGHBORHOODS-PAGE.PENDING" | translate }}
              </span>
            </td>
            <td>
              <button
                type="button"
                class="btn btn-link"
                (click)="onRemoveNeighborhood(entry.neighborhood)"
              >
                <i class="fas fa-trash" style="color: var(--error)"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <app-paginator
      [totalPages]="totalAssociatedPages"
      [currentPage]="currentAssociatedPage"
      [theme]="'services'"
      (pageChange)="onAssociatedPageChange($event)"
    ></app-paginator>
  </ng-template>
</div>

<div class="cool-static-container" style="overflow: visible">
  <div *ngIf="otherNeighborhoods?.length === 0; else othersNotEmpty">
    <div class="f-c-c-c w-100 mb-3" style="text-align: center">
      <div class="w-75">{{ "SERVICE-PROVIDERS-JOIN-NEIGHBORHOODS-PAGE.NO_NEW_NEIGHBORHOODS" | translate }}</div>
    </div>
  </div>

  <ng-template #othersNotEmpty>
    <form class="f-c-c-c w-100" (ngSubmit)="onSubmit()">

      <span class="font-weight-bold font-size-20">{{ "SERVICE-PROVIDERS-JOIN-NEIGHBORHOODS-PAGE.JOIN_NEIGHBORHOODS" | translate }}</span>

      <div class="neighborhoods-select mb-4 w-100">
        <input
          type="hidden"
          id="selectedNeighborhoods"
          name="selectedNeighborhoods"
          [value]="selectedNeighborhoodIds.join(',')"
        />

        <div class="f-r-c-c w-100">
          <div class="container m-0" #listContainer>
            <div
              class="select-btn n-workers w-100"
              [class.open]="isSelectOpen"
              #selectBtn
              (click)="toggleSelect()"
            >
              <span class="btn-text" [innerText]="displayText"></span>
              <span class="arrow-dwn">
                <i class="fa-solid fa-chevron-down"></i>
              </span>
            </div>

            <ul
              [hidden]="otherNeighborhoods.length === 0"
              class="list-items n-workers"
              #listItems
            >
              <li
                class="item"
                *ngFor="let neighborhood of otherNeighborhoods"
                [class.checked]="
                  selectedNeighborhoodIds.includes(neighborhood.self)
                "
                (click)="
                  toggleItem(neighborhood.self, neighborhood.name, $event)
                "
              >
                <span class="checkbox">
                  <i class="fa-solid fa-check check-icon"></i>
                </span>
                <span class="item-text">{{ neighborhood.name }}</span>
              </li>
            </ul>
          </div>

          <button
            type="submit"
            class="cool-button cool-small services-button on-bg font-weight-bold w-25"
          >
          {{ "SERVICE-PROVIDERS-JOIN-NEIGHBORHOODS-PAGE.ADD" | translate }}
            <i class="fa-solid fa-share ml-1"></i>
          </button>
        </div>
      </div>

      <div class="w-100 f-c-c-c" style="font-size: 14px; text-align: center">
        <span class="font-weight-normal">
          {{ "SERVICE-PROVIDERS-JOIN-NEIGHBORHOODS-PAGE.BY_ADDING" | translate }}
        </span>
      </div>
    </form>
  </ng-template>
</div>
