<div class="grey-static-container m-t-40">
  <div class="column d-flex justify-content-center align-items-center">
    <h3 class="m-b-20">My Reservations</h3>

    <!-- Loading Indicator -->
    <div *ngIf="isLoading" class="f-c-c-c align-items-center">
      <span class="w-100 mb-2">Loading reservations...</span>
    </div>

    <!-- Error Message -->
    <div
      *ngIf="showErrorMessage"
      class="f-c-c-c align-items-center"
      style="color: var(--error)"
    >
      <span class="w-100 mb-2"
        >Error loading reservations. Please try again later.</span
      >
    </div>

    <!-- No Reservations Found -->
    <div
      *ngIf="!isLoading && reservationsList?.length === 0"
      class="f-c-c-c align-items-center mb-4"
      style="text-align: center"
    >
      <span class="w-100 mb-2 c-light-text"> You have no reservations. </span>
      <span class="w-100 c-light-text">
        Browse amenities and make your first reservation.
      </span>
    </div>

    <!-- Reservations List -->
    <div class="w-100" *ngIf="reservationsList?.length > 0">
      <div
        *ngFor="let reservation of reservationsList"
        class="cool-static-container m-b-20"
        style="word-wrap: break-word"
        aria-hidden="true"
      >
        <div class="f-c-c-c w-100">
          <div
            class="f-r-sb-c w-100 align-items-center d-flex"
            style="align-items: center"
          >
            <h5 class="m-0 font-weight-bold">
              {{ reservation.amenity?.name }}
            </h5>
            <a
              id="delete-reservation"
              class="pointer"
              (click)="deleteReservation(reservation.self)"
            >
              <i class="fas fa-trash" style="color: var(--error)"></i>
            </a>
          </div>
          <div class="w-100">
            <h6 class="mb-3" style="color: var(--lighttext)">
              Date
              <span class="c-primary font-weight-bold">{{
                reservation.bookingDate
              }}</span>
            </h6>
            <div class="w-100 f-r-sb-c time-container">
              <h6 class="time-item start-time" style="color: var(--lighttext)">
                Start Time
                <span class="c-primary">{{
                  reservation.shift?.startTime
                }}</span>
              </h6>
              <h6
                class="time-item end-time"
                style="color: var(--lighttext); text-align: right"
              >
                End Time
                <span class="c-primary">{{ reservation.shift?.endTime }}</span>
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Pagination Arrows -->
    <div class="pagination-arrows">
      <span id="prev" [class.disabled]="currentPage <= 1" (click)="prevPage()">
        <i class="fa-solid fa-angle-left"></i>
      </span>
      <p>Page {{ currentPage }} of {{ totalPages }}</p>
      <span
        id="next"
        [class.disabled]="currentPage >= totalPages"
        (click)="nextPage()"
      >
        <i class="fa-solid fa-angle-right"></i>
      </span>
    </div>
  </div>
</div>
