<div class="container">
  <div class="row init">
    <!-- Left Column -->
    <div class="column-left">
      <app-sidebar></app-sidebar>
    </div>

    <!-- Middle Column (Event Card) -->
    <div class="column-middle">
      <!-- The Event Card -->
      <div class="card-container">
        <!-- Event Details Section -->
        <div class="post-section">
          <div class="post-info">
            <div class="f-c-s-s g-05">
              <span class="font-size-24 mb-3 c-text bold">{{
                event?.name
              }}</span>
              <p style="font-size: 14px; font-weight: normal">
                {{ event?.description }}
              </p>
              <div class="divider mt-2"></div>

              <section class="f-c-c-s">
                <div class="info-item">
                  <i class="fa fa-calendar me-2"></i>
                  <span class="info-label me-2">{{
                    'CALENDAR-EVENT-PAGE.DATE' | translate
                  }}</span>
                  <span class="info-value">{{ event?.eventDateDisplay }}</span>
                </div>
                <div class="info-item">
                  <i class="fa fa-clock me-2"></i>
                  <span class="info-label me-2">{{
                    'CALENDAR-EVENT-PAGE.TIME' | translate
                  }}</span>
                  <span class="info-value">{{
                    'CALENDAR-EVENT-PAGE.FROM__EVENTSTARTTIME__TO__EVENTENDTIME_'
                      | translate
                        : {
                            startTime: event?.startTime,
                            endTime: event?.endTime
                          }
                  }}</span>
                </div>
                <div class="info-item">
                  <i class="fa fa-hourglass-half me-2"></i>
                  <span class="info-label me-2">{{
                    'CALENDAR-EVENT-PAGE.DURATION' | translate
                  }}</span>
                  <span class="info-value">{{
                    'CALENDAR-EVENT-PAGE._EVENTDURATION__MINUTES'
                      | translate : { duration: event?.duration }
                  }}</span>
                </div>
              </section>
            </div>
          </div>

          <!-- Attendance Button -->
          <div
            class="d-flex flex-column justify-content-center align-items-end"
          >
            <button
              *ngIf="!willAttend"
              (click)="attendEvent()"
              class="accept-button outlined"
              style="margin-top: 5px; font-size: 12px"
            >
              {{ 'CALENDAR-EVENT-PAGE.ATTEND' | translate }}
            </button>
            <button
              *ngIf="willAttend"
              (click)="unattendEvent()"
              class="ignore-button outlined"
              style="margin-top: 5px; font-size: 12px"
            >
              {{ 'CALENDAR-EVENT-PAGE.UNATTEND' | translate }}
            </button>
          </div>
        </div>

        <!-- Attendees Section -->
        <div class="post-info">
          <h3 class="" style="color: var(--text)">
            {{
              'CALENDAR-EVENT-PAGE.ATTENDEES__EVENTATTENDEESCOUNT_'
                | translate : { attendeesCount: event?.attendeesCount }
            }}
          </h3>
          <div class="divider"></div>

          <div class="loader w-100" *ngIf="loading"></div>

          <!-- No Attendees -->
          <div
            *ngIf="attendees.length === 0 && !loading"
            class="postcard-description"
            style="color: var(--lighttext)"
          >
            <p>
              {{
                'CALENDAR-EVENT-PAGE.NO_ATTENDEES_HAVE_REGISTERED_FOR_THIS_EVENT_YET'
                  | translate
              }}
            </p>
          </div>

          <!-- Attendees List -->
          <ul *ngIf="attendees.length > 0 && !loading" class="attendees-list">
            <li *ngFor="let attendee of attendees" class="attendee-item">
              <i class="fa fa-user-circle"></i>
              {{ attendee.user.name }} {{ attendee.user.surname }}
            </li>
          </ul>

          <!-- Attendees Pagination -->
          <app-paginator
            [totalPages]="attendanceTotalPages"
            [currentPage]="attendanceCurrentPage"
            [pageSize]="attendancePageSize"
            (pageChange)="onAttendancePageChange($event)"
          ></app-paginator>
        </div>
      </div>
    </div>

    <!-- Right Column (Calendar, etc.) -->
    <div class="column-right">
      <app-calendar-widget></app-calendar-widget>
    </div>
  </div>
</div>

<!-- Footer -->
<app-wave-footer></app-wave-footer>
