<div
  class="dialog"
  id="signupDialog"
  [ngClass]="{ 'show-dialog': showSignupDialog }"
>
  <!-- [ngClass]="{ 'show-dialog': showSignupDialog }" -->
  <div
    class="dialog-content"
    style="
      width: 500px;
      width: 500px;
      max-width: 100%;
      padding: 20px;
      box-sizing: border-box;
      overflow: hidden;
    "
  >
    <!-- Close Button -->
    <div class="close-button" (click)="closeSignupDialog()">
      <i class="fas fa-close"></i>
    </div>

    <!-- Title: changes depending on selectedOption -->
    <div class="title-section mb-4 mt-5">
      <div class="title mb-2">
        {{
          selectedOption === "neighbor"
            ? "Welcome to Neibo"
            : "Boost your Business with Neibo"
        }}
      </div>
      <p>{{ "SIGNUP-DIALOG.SIGN_UP_TO_GET_STARTED" | translate }}</p>
    </div>

    <!-- Toggle Options -->
    <div class="f-c-c-c g-0 all">
      <div class="f-r-c-c g-1 w-100 toggle-buttons signup-width-control">
        <button
          class="cool-button"
          [class.active]="selectedOption === 'neighbor'"
          (click)="selectOption('neighbor')"
        >
        {{ "SIGNUP-DIALOG.NEIGHBOR" | translate }}
        </button>
        <button
          class="cool-button"
          [class.active]="selectedOption === 'service'"
          (click)="selectOption('service')"
        >
        {{ "SIGNUP-DIALOG.SERVICE_PROVIDER" | translate }}
        </button>
      </div>

      <!-- ============== NEIGHBOR SIGNUP FORM ============== -->
      <div
        *ngIf="selectedOption === 'neighbor'"
        class="w-100 signup-width-control"
      >
        <div *ngIf="loading; else neighborSignupForm" class="w-100">
          <div class="f-c-c-c" class="w-100">
            <div style="font-size: 16px">
              {{ "SIGNUP-DIALOG.CREATING_YOUR_ACCOUNT_PLEASE_WAIT" | translate }}
            </div>
            <div class="w-100 loader" style="margin-top: 20px"></div>
          </div>
        </div>
        <ng-template #neighborSignupForm>
          <form
            [formGroup]="signupForm"
            (ngSubmit)="trySignup()"
            class="signup-form w-100 f-c-c-c"
          >
            <!-- Neighborhood Selection -->
            <div class="f-r-sb-c w-100">
              <div class="col p-0">
                <app-infinite-scroll-select
                  [theme]="'default'"
                  [multiple]="false"
                  [fetchData]="fetchNeighborhoods"
                  [displayFn]="displayNeighborhood"
                  formControlName="neighborhood"
                  class="w-100"
                  [height]="'150px'"
                  [uniqueKey]="'self'"
                >
                </app-infinite-scroll-select>

                <small
                  class="form-error"
                  *ngIf="
                    signupForm.get('neighborhoodId')?.hasError('required') &&
                    (signupForm.get('neighborhoodId')?.touched ||
                      signupForm.get('neighborhoodId')?.dirty)
                  "
                >
                {{ "SIGNUP-DIALOG.NEIGHBORHOOD_IS_REQUIRED" | translate }}
                </small>
              </div>
            </div>

            <!-- Name and Surname -->
            <div class="input-row">
              <div class="col p-0">
                <label>
                  <input
                    [attr.placeholder]="'SIGNUP-DIALOG.FIRST_NAME' | translate"
                    class="input"
                    formControlName="name"
                  />
                </label>
                <small
                  class="form-error"
                  *ngIf="
                    signupForm.get('name')?.hasError('required') &&
                    (signupForm.get('name')?.touched ||
                      signupForm.get('name')?.dirty)
                  "
                >
                {{ "SIGNUP-DIALOG.FIRST_NAME_IS_REQUIRED" | translate }}
                </small>
                <small
                  class="form-error"
                  *ngIf="
                    signupForm.get('name')?.hasError('pattern') &&
                    (signupForm.get('name')?.touched ||
                      signupForm.get('name')?.dirty)
                  "
                >
                {{ "SIGNUP-DIALOG.FIRST_NAME_MUST_ONLY_CONTAIN_LETTERS" | translate }}
                </small>
              </div>
              <div class="col p-0">
                <label>
                  <input
                  [attr.placeholder]="'SIGNUP-DIALOG.SURNAME' | translate"
                    class="input"
                    formControlName="surname"
                  />
                </label>
                <small
                  class="form-error"
                  *ngIf="
                    signupForm.get('surname')?.hasError('required') &&
                    (signupForm.get('surname')?.touched ||
                      signupForm.get('surname')?.dirty)
                  "
                >
                {{ "SIGNUP-DIALOG.SURNAME_IS_REQUIRED" | translate }}
                </small>
                <small
                  class="form-error"
                  *ngIf="
                    signupForm.get('surname')?.hasError('pattern') &&
                    (signupForm.get('surname')?.touched ||
                      signupForm.get('surname')?.dirty)
                  "
                >
                {{ "SIGNUP-DIALOG.SURNAME_MUST_ONLY_CONTAIN_LETTERS" | translate }}
                </small>
              </div>
            </div>

            <!-- Email and Password -->
            <div class="input-row">
              <div class="col p-0">
                <label>
                  <input
                  [attr.placeholder]="'SIGNUP-DIALOG.EMAIL' | translate"
                    type="email"
                    class="input"
                    formControlName="mail"
                    autocomplete="email"
                  />
                </label>
                <small
                  class="form-error"
                  *ngIf="
                    signupForm.get('mail')?.hasError('required') &&
                    (signupForm.get('mail')?.touched ||
                      signupForm.get('mail')?.dirty)
                  "
                >
                {{ "SIGNUP-DIALOG.EMAIL_IS_REQUIRED" | translate }}
                </small>
                <small
                  class="form-error"
                  *ngIf="
                    signupForm.get('mail')?.hasError('email') &&
                    (signupForm.get('mail')?.touched ||
                      signupForm.get('mail')?.dirty)
                  "
                >
                {{ "SIGNUP-DIALOG.PLEASE_ENTER_A_VALID_EMAIL_ADDRESS" | translate }}
                </small>
              </div>
              <div class="col p-0">
                <label>
                  <input
                  [attr.placeholder]="'SIGNUP-DIALOG.PASSWORD' | translate"
                    type="password"
                    class="input"
                    formControlName="password"
                    autocomplete="new-password"
                  />
                </label>
                <small
                  class="form-error"
                  *ngIf="
                    signupForm.get('password')?.hasError('required') &&
                    (signupForm.get('password')?.touched ||
                      signupForm.get('password')?.dirty)
                  "
                >
                {{ "SIGNUP-DIALOG.PASSWORD_IS_REQUIRED" | translate }}
                </small>
              </div>
            </div>

            <!-- Identification and Language -->
            <div class="input-row">
              <div class="col p-0">
                <label>
                  <input
                    [attr.placeholder]="'SIGNUP-DIALOG.IDENTIFICATION' | translate"
                    type="number"
                    class="input"
                    formControlName="identification"
                  />
                </label>
                <small
                  class="form-error"
                  *ngIf="
                    signupForm.get('identification')?.hasError('required') &&
                    (signupForm.get('identification')?.touched ||
                      signupForm.get('identification')?.dirty)
                  "
                >
                {{ "SIGNUP-DIALOG.IDENTIFICATION_IS_REQUIRED" | translate }}
                </small>
                <small
                  class="form-error"
                  *ngIf="
                    signupForm.get('identification')?.hasError('pattern') &&
                    (signupForm.get('identification')?.touched ||
                      signupForm.get('identification')?.dirty)
                  "
                >
                {{ "SIGNUP-DIALOG.IDENTIFICATION_MUST_BE_7_TO_8_DIGITS_WITHOUT_LEADI" | translate }}
                </small>
              </div>
              <div class="col p-0">
                <label>
                  <select formControlName="language" class="cool-select">
                    <option
                      value=""
                      disabled
                      selected
                      class="placeholder-option"
                    >
                    {{ "SIGNUP-DIALOG.SELECT_LANGUAGE" | translate }}
                    </option>
                    <option
                      *ngFor="let language of languages"
                      [value]="language.self"
                    >
                      {{ language.displayName }}
                    </option>
                  </select>
                </label>
                <small
                  class="form-error"
                  *ngIf="
                    signupForm.get('language')?.hasError('required') &&
                    (signupForm.get('language')?.touched ||
                      signupForm.get('language')?.dirty)
                  "
                >
                {{ "SIGNUP-DIALOG.LANGUAGE_IS_REQUIRED" | translate }}
                </small>
              </div>
            </div>

            <!-- Submit Button -->
            <button
              type="submit"
              class="action-button mt-4 mb-2"
              [disabled]="signupForm.invalid"
            >
            {{ "SIGNUP-DIALOG.SIGN_UP" | translate }}
            </button>
          </form>
        </ng-template>
      </div>

      <!-- ============== SERVICE PROVIDER (WORKER) SIGNUP FORM ============== -->
      <div
        *ngIf="selectedOption === 'service'"
        class="w-100 signup-width-control"
      >
        <div *ngIf="loading; else serviceSignupForm" class="w-100">
          <div class="f-c-c-c w-100">
            <div style="font-size: 16px">
              {{ "SIGNUP-DIALOG.CREATING_YOUR_SERVICE_PROVIDER_ACCOUNT_PLEASE_WAIT" | translate }}
            </div>
            <div class="w-100 loader" style="margin-top: 20px"></div>
          </div>
        </div>

        <ng-template #serviceSignupForm>
          <form
            [formGroup]="serviceForm"
            (ngSubmit)="submitServiceForm()"
            class="signup-form w-100 f-c-c-c"
          >
            <!-- Business Name -->
            <div class="f-r-sb-c w-100">
              <div class="col p-0">
                <label>
                  <input
                    [attr.placeholder]="'SIGNUP-DIALOG.BUSINESS_NAME' | translate"
                    class="input"
                    formControlName="businessName"
                  />
                </label>
                <div
                  class="form-error"
                  *ngIf="
                    serviceForm.get('businessName')?.invalid &&
                    (serviceForm.get('businessName')?.touched ||
                      serviceForm.get('businessName')?.dirty)
                  "
                >
                {{ "SIGNUP-DIALOG.BUSINESS_NAME_IS_REQUIRED" | translate }}
                </div>
              </div>
            </div>

            <app-infinite-scroll-select
              [theme]="'default'"
              [multiple]="true"
              [fetchData]="fetchProfessions"
              [displayFn]="displayProfession"
              formControlName="professions"
              class="w-100"
              [height]="'150px'"
              [uniqueKey]="'self'"
            >
            </app-infinite-scroll-select>

            <!-- Name and Surname -->
            <div class="input-row">
              <div class="col p-0">
                <label>
                  <input
                    [attr.placeholder]="'SIGNUP-DIALOG.FIRST_NAME' | translate"
                    class="input"
                    formControlName="w_name"
                  />
                </label>
                <small
                  class="form-error"
                  *ngIf="
                    serviceForm.get('w_name')?.hasError('required') &&
                    (serviceForm.get('w_name')?.touched ||
                      serviceForm.get('w_name')?.dirty)
                  "
                >
                {{ "SIGNUP-DIALOG.FIRST_NAME_IS_REQUIRED" | translate }}
                </small>
                <small
                  class="form-error"
                  *ngIf="
                    serviceForm.get('w_name')?.hasError('pattern') &&
                    (serviceForm.get('w_name')?.touched ||
                      serviceForm.get('w_name')?.dirty)
                  "
                >
                {{ "SIGNUP-DIALOG.ONLY_LETTERS_ALLOWED" | translate }}
                </small>
              </div>
              <div class="col p-0">
                <label>
                  <input
                    [attr.placeholder]="'SIGNUP-DIALOG.SURNAME' | translate"
                    class="input"
                    formControlName="w_surname"
                  />
                </label>
                <small
                  class="form-error"
                  *ngIf="
                    serviceForm.get('w_surname')?.hasError('required') &&
                    (serviceForm.get('w_surname')?.touched ||
                      serviceForm.get('w_surname')?.dirty)
                  "
                >
                {{ "SIGNUP-DIALOG.SURNAME_IS_REQUIRED" | translate }}
                </small>
                <small
                  class="form-error"
                  *ngIf="
                    serviceForm.get('w_surname')?.hasError('pattern') &&
                    (serviceForm.get('w_surname')?.touched ||
                      serviceForm.get('w_surname')?.dirty)
                  "
                >
                {{ "SIGNUP-DIALOG.ONLY_LETTERS_ALLOWED" | translate }}
                </small>
              </div>
            </div>

            <!-- Email and Password -->
            <div class="input-row">
              <div class="col p-0">
                <label>
                  <input
                    type="email"
                    [attr.placeholder]="'SIGNUP-DIALOG.EMAIL' | translate"
                    class="input"
                    formControlName="w_mail"
                  />
                </label>
                <small
                  class="form-error"
                  *ngIf="
                    serviceForm.get('w_mail')?.hasError('required') &&
                    (serviceForm.get('w_mail')?.touched ||
                      serviceForm.get('w_mail')?.dirty)
                  "
                >
                {{ "SIGNUP-DIALOG.EMAIL_IS_REQUIRED" | translate }}
                </small>
                <small
                  class="form-error"
                  *ngIf="
                    serviceForm.get('w_mail')?.hasError('email') &&
                    (serviceForm.get('w_mail')?.touched ||
                      serviceForm.get('w_mail')?.dirty)
                  "
                >
                {{ "SIGNUP-DIALOG.PLEASE_ENTER_A_VALID_EMAIL" | translate }}
                </small>
              </div>
              <div class="col p-0">
                <label>
                  <input
                    type="password"
                    [attr.placeholder]="'SIGNUP-DIALOG.PASSWORD' | translate"
                    autocomplete="new-password"
                    class="input"
                    formControlName="w_password"
                  />
                </label>
                <small
                  class="form-error"
                  *ngIf="
                    serviceForm.get('w_password')?.hasError('required') &&
                    (serviceForm.get('w_password')?.touched ||
                      serviceForm.get('w_password')?.dirty)
                  "
                >
                {{ "SIGNUP-DIALOG.PASSWORD_IS_REQUIRED" | translate }}
                </small>
                <small
                  class="form-error"
                  *ngIf="
                    serviceForm.get('w_password')?.hasError('minlength') &&
                    (serviceForm.get('w_password')?.touched ||
                      serviceForm.get('w_password')?.dirty)
                  "
                >
                {{ "SIGNUP-DIALOG.MUST_BE_AT_LEAST_8_CHARACTERS" | translate }}
                </small>
                <small
                  class="form-error w-100"
                  *ngIf="
                    serviceForm.get('w_password')?.hasError('pattern') &&
                    (serviceForm.get('w_password')?.touched ||
                      serviceForm.get('w_password')?.dirty)
                  "
                >
                {{ "SIGNUP-DIALOG.MUST_CONTAIN_AT_LEAST_1_UPPERCASE_LETTER_1_LOWERCA" | translate }}
                </small>
              </div>
            </div>

            <div class="input-row">
              <div class="col p-0">
                <label>
                  <input
                    [attr.placeholder]="'SIGNUP-DIALOG.ADDRESS' | translate"
                    class="input"
                    formControlName="w_address"
                  />
                </label>
                <small
                  class="form-error"
                  *ngIf="
                    serviceForm.get('w_address')?.hasError('required') &&
                    (serviceForm.get('w_address')?.touched ||
                      serviceForm.get('w_address')?.dirty)
                  "
                >
                {{ "SIGNUP-DIALOG.ADDRESS_IS_REQUIRED" | translate }}
                </small>
              </div>
              <div class="col p-0">
                <label>
                  <input
                    [attr.placeholder]="'SIGNUP-DIALOG.IDENTIFICATION' | translate"
                    type="number"
                    class="input"
                    formControlName="w_identification"
                  />
                </label>
                <small
                  class="form-error"
                  *ngIf="
                    serviceForm.get('w_identification')?.hasError('required') &&
                    (serviceForm.get('w_identification')?.touched ||
                      serviceForm.get('w_identification')?.dirty)
                  "
                >
                {{ "SIGNUP-DIALOG.IDENTIFICATION_IS_REQUIRED" | translate }}
                </small>
                <small
                  class="form-error"
                  *ngIf="
                    serviceForm.get('w_identification')?.hasError('pattern') &&
                    (serviceForm.get('w_identification')?.touched ||
                      serviceForm.get('w_identification')?.dirty)
                  "
                >
                {{ "SIGNUP-DIALOG.IDENTIFICATION_MUST_BE_7_TO_8_DIGITS_WITHOUT_LEADI" | translate }}
                </small>
              </div>
            </div>

            <!-- Language -->
            <div class="col p-0">
              <label>
                <select class="cool-select" formControlName="w_language">
                  <option value="" disabled selected class="placeholder-option">
                    {{ "SIGNUP-DIALOG.SELECT_LANGUAGE" | translate }}
                  </option>
                  <option
                    *ngFor="let language of languages"
                    [value]="language.self"
                  >
                    {{ language.displayName }}
                  </option>
                </select>
              </label>
              <small
                class="form-error"
                *ngIf="
                  serviceForm.get('w_language')?.hasError('required') &&
                  (serviceForm.get('w_language')?.touched ||
                    serviceForm.get('w_language')?.dirty)
                "
              >
              {{ "SIGNUP-DIALOG.LANGUAGE_IS_REQUIRED" | translate }}
              </small>
            </div>

            <!-- Phone Number -->
            <div class="col p-0">
              <label>
                <input
                  [attr.placeholder]="'SIGNUP-DIALOG.PHONE_NUMBER_EX' | translate"
                  class="input"
                  formControlName="phoneNumber"
                />
              </label>
              <small
                class="form-error"
                *ngIf="
                  serviceForm.get('phoneNumber')?.hasError('required') &&
                  (serviceForm.get('phoneNumber')?.touched ||
                    serviceForm.get('phoneNumber')?.dirty)
                "
              >
              {{ "SIGNUP-DIALOG.PHONE_NUMBER_IS_REQUIRED" | translate }}
              </small>
              <small
                class="form-error"
                *ngIf="
                  serviceForm.get('phoneNumber')?.hasError('pattern') &&
                  (serviceForm.get('phoneNumber')?.touched ||
                    serviceForm.get('phoneNumber')?.dirty)
                "
              >
              {{ "SIGNUP-DIALOG.INVALID_PHONE_FORMAT_EG_54_9_11_1234_5678" | translate }}
              </small>
            </div>

            <!-- Submit Button -->
            <button
              type="submit"
              class="action-button mt-4 mb-2"
              [disabled]="serviceForm.invalid"
            >
            {{ "SIGNUP-DIALOG.SIGN_UP" | translate }}
            </button>
          </form>
        </ng-template>
      </div>
      <!-- end service dialog -->
    </div>
  </div>
</div>
