<div
  class="dialog"
  id="loginDialog"
  [ngClass]="{ 'show-dialog': showLoginDialog }"
>
  <div class="dialog-content">
    <!-- Close Button -->
    <div class="close-button" (click)="closeLoginDialog()">
      <i class="fas fa-close"></i>
    </div>

    <!-- Loading State -->
    <div *ngIf="loading; else loginFormTemplate">
      <div class="f-c-c-c">
        <div style="font-size: 16px">
          {{ 'LOGIN-DIALOG.LOGGING_YOU_IN_PLEASE_WAIT' | translate }}
        </div>
        <div class="w-100 loader" style="margin-top: 20px"></div>
      </div>
    </div>

    <!-- Login Form -->
    <ng-template #loginFormTemplate>
      <div class=" ">
        <div class="title mb-2">
          {{ 'LOGIN-DIALOG.WELCOME_TO_NEIBO' | translate }}
        </div>
        <p>{{ 'LOGIN-DIALOG.LOG_IN_TO_CONTINUE' | translate }}</p>
      </div>
      <form (ngSubmit)="tryLogin()" [formGroup]="loginForm" class="login-form">
        <div class="centered-column">
          <!-- Email Field -->
          <label>
            <input
              id="login-email"
              type="email"
              placeholder="Email"
              class="input"
              formControlName="email"
              autocomplete="email"
            />
            <app-form-error
              class="w-100"
              [centered]="true"
              [control]="loginForm.get('email')"
            >
            </app-form-error>
          </label>
          <!-- Password Field -->
          <label>
            <input
              id="login-password"
              type="password"
              placeholder="Password"
              class="input"
              formControlName="password"
              autocomplete="current-password"
            />
            <app-form-error
              class="w-100"
              [centered]="true"
              [control]="loginForm.get('password')"
            >
            </app-form-error>
          </label>
        </div>

        <!-- Errors and Submit Button -->
        <div class="centered-column">
          <small class="form-error centered" *ngIf="loginFailed">{{
            'LOGIN-DIALOG.INVALID_EMAIL_OR_PASSWORD' | translate
          }}</small>
          <button
            type="submit"
            class="action-button font-weight-bolder"
            [disabled]="loginForm.invalid"
          >
            {{ 'LOGIN-DIALOG.LOGIN' | translate }}
          </button>
          <span class="light-text mt-2">
            {{ 'LOGIN-DIALOG.NOT_A_MEMBER_YET' | translate }}
            <a (click)="openSignupDialog()" class="a-link">{{
              'LOGIN-DIALOG.SIGN_UP_NOW' | translate
            }}</a>
          </span>
        </div>
      </form>
    </ng-template>
  </div>
</div>
