<div class="grey-static-container">
  <div class="f-c-c-s g-0">
    <div class="f-r-sb-c w-100">
      <h3 class="pt-1 pb-1 m-1">Filter by tags</h3>
    </div>

    <div class="m-b-10 w-100">
      <div
        class="d-flex flex-column justify-content-center align-items-center w-100"
      >
        <input type="hidden" id="niakaniaka" [value]="placeholderText" />
        <label for="tag-input2" class="w-100">
          <input #tagInput2 type="text" id="tag-input2" />
        </label>
      </div>
    </div>

    <div class="m-b-10 tags-row tags">
      <ng-container *ngFor="let tag of tagList">
        <a class="tag-option" (click)="addTagToApply(tag.tag)">{{ tag.tag }}</a>
      </ng-container>
    </div>

    <div hidden id="applied-tags" [attr.data-tags]="appliedTags | json"></div>

    <div class="w-100">
      <div class="f-r-sb-c g-1">
        <a class="cool-button red" (click)="clearAllTags()">
          Clear
          <i class="fa-solid fa-xmark"></i>
        </a>
        <a
          class="cool-button cool-small on-bg tag-button"
          (click)="applyTagsAsFilter()"
        >
          Apply
        </a>
      </div>
    </div>
  </div>
</div>
