<!-- service-profile-page.component.html -->
<div [class.dark-mode]="darkMode">
    <div style="position: absolute; width: 100%; height: 100%; top:0; left:0; z-index: 1">
        <!-- Replaces navbar.jsp -->
        <app-navbar></app-navbar>

        <div class="container">
            <div class="row">
                <!-- Left Column -->
                <div class="column-left">
                    <!-- Replaces leftColumn.jsp -->
                    <app-left-column></app-left-column>
                </div>

                <!-- Middle Column -->
                <div class="column-middle">
                    <div class="f-c-c-c">
                        <!-- Replaces serviceProfileCard.jsp -->
                        <!-- Provide [worker]="..." and other inputs as you see fit -->
                        <app-service-profile-card [worker]="worker" [averageRating]="worker?.averageRating"
                            [reviewsCount]="666" [postCount]="666" (openEditProfile)="openEditDialog()">
                        </app-service-profile-card>

                        <!-- Replaces tabbedBox.jsp -->
                        <app-tabbed-box [worker]="worker" [loggedUser]="loggedUser"
                            (openReviewDialog)="openReviewDialog()">
                        </app-tabbed-box>
                    </div>
                </div>

                <!-- Right Column -->
                <div class="column-right">
                    <!-- Replaces calendarWidget.jsp -->
                    <app-calendar-widget></app-calendar-widget>
                </div>


                <app-review-dialog [reviewDialogVisible]="reviewDialogVisible" [worker]="worker"
                    (closeDialog)="reviewDialogVisible = false"
                    (submitReview)="onSubmitReview($event)"></app-review-dialog>

                <!-- Edit Dialog -->
                <app-edit-dialog [editDialogVisible]="editDialogVisible" [worker]="worker"
                    (closeDialog)="editDialogVisible = false" (saveProfile)="onSaveProfile($event)"></app-edit-dialog>


            </div>
        </div>

        <!-- Replaces footer.jsp -->
        <app-wave-footer></app-wave-footer>
    </div>
</div>