<div class="container">
  <div class="row init">
    <div class="column-left">
      <app-sidebar></app-sidebar>
    </div>

    <div id="center-grid" class="column-center ps-3">
      <app-marketplace-control-bar
        [channel]="'BuyerHub'"
      ></app-marketplace-control-bar>

      <div class="cool-static-container w-100 f-c-c-c g-05">
        <div class="f-c-s-s w-100">
          <div class="f-r-c-c pt-2 pb-2">
            <a
              [routerLink]="['/marketplace/buyer-hub', 'requests']"
              class="cool-action-button rounded marketplace-button font-weight-bold"
              [class.active]="isRequests"
            >
              <i class="fa-solid fa-basket-shopping"></i>
              <span class="hide-text">{{
                'MARKETPLACE-DASHBOARD-BUYER-PAGE.MY_REQUESTS' | translate
              }}</span>
            </a>
            <a
              [routerLink]="['/marketplace/buyer-hub', 'purchases']"
              class="cool-action-button rounded marketplace-button font-weight-bold"
              [class.active]="isPurchases"
            >
              <i class="fa-solid fa-calendar-check"></i>
              <span class="hide-text">{{
                'MARKETPLACE-DASHBOARD-BUYER-PAGE.MY_PURCHASES' | translate
              }}</span>
            </a>
          </div>
        </div>
        <div class="divider mb-3"></div>

        <ng-container *ngIf="isPurchases; else showRequests">
          <div
            class="no-posts-found"
            *ngIf="purchaseList && purchaseList.length === 0"
          >
            <i class="circle-icon fa-solid fa-magnifying-glass"></i>
            {{
              'MARKETPLACE-DASHBOARD-BUYER-PAGE.PURCHASES_NOT_FOUND' | translate
            }}
          </div>

          <div
            class="w-100 f-c-c-c g-1"
            *ngIf="purchaseList && purchaseList.length > 0"
          >
            <div
              class="cool-static-container w-100 f-c-s-s g-0 p-0"
              *ngFor="let purchase of purchaseList"
            >
              <div class="f-r-sb-c w-100 ps-3 pe-3 pb-2 pt-2">
                <div>{{ purchase.fulfilledAt | date : 'dd MMM yyyy' }}</div>
                <div>{{ purchase.fulfilledAt | date : 'HH:mm' }}</div>
              </div>
              <div class="divider m-0"></div>

              <div class="container">
                <div class="f-r-c-c w-100 g-1">
                  <div class="ps-0">
                    <div
                      class="purchased-product-image f-c-c-c placeholder-glow"
                    >
                      <img
                        [src]="purchase.product.firstImage"
                        class=""
                        alt="purchased_product_image_{{
                          purchase.product.seller?.name
                        }}"
                      />
                    </div>
                  </div>

                  <div class="f-c-s-s g-05 w-100 p-4">
                    <div class="f-r-sb-c g-0 w-100">
                      <span class="font-weight-bold font-size-16">
                        {{ purchase.product.name }}
                      </span>
                      <div class="f-r-c-c g-05">
                        <div
                          class="department-tag"
                          (click)="goToDepartment(purchase.product.department)"
                        >
                          {{
                            'MARKETPLACE-CONTROL-BAR.DEPARTMENTS.' +
                              purchase.product?.department?.name | translate
                          }}
                        </div>
                        <div
                          *ngIf="purchase.product.used; else newPurchase"
                          class="used-tag used font-weight-normal"
                        >
                          {{
                            'MARKETPLACE-DASHBOARD-BUYER-PAGE.USED' | translate
                          }}
                        </div>
                        <ng-template #newPurchase>
                          <div class="used-tag new font-weight-normal">
                            {{
                              'MARKETPLACE-DASHBOARD-BUYER-PAGE.NEW' | translate
                            }}
                          </div>
                        </ng-template>
                      </div>
                    </div>

                    <div class="f-r-c-c font-weight-normal">
                      {{
                        'MARKETPLACE-DASHBOARD-BUYER-PAGE.QUANTITY' | translate
                      }}: {{ purchase.unitsRequested }}
                    </div>
                    <div class="f-r-c-c g-05">
                      <span class="font-weight-normal">{{
                        'MARKETPLACE-DASHBOARD-BUYER-PAGE.SOLD_BY' | translate
                      }}</span>
                      <span style="color: var(--lila)">
                        {{ purchase.product.seller?.name }}
                      </span>
                    </div>

                    <div class="f-r-c-c g-0 pt-2">
                      <span class="price font-size-20 font-weight-normal">
                        {{
                          purchase.product?.price
                            ? (
                                purchase.product.price
                                | currency : 'USD' : 'symbol-narrow' : '1.0-2'
                              ).split('.')[0]
                            : ''
                        }}
                      </span>
                      <div class="f-c-s-c ps-1" style="height: 20px">
                        <span
                          class="cents c-light-text font-size-12 font-weight-normal"
                        >
                          {{
                            purchase.product?.price
                              ? ',' +
                                ((
                                  purchase.product.price
                                  | currency : 'USD' : 'symbol-narrow' : '1.0-2'
                                ).split('.')[1] || '00')
                              : ''
                          }}
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <app-paginator
              [totalPages]="totalPages"
              [currentPage]="page"
              [theme]="'marketplace'"
              (pageChange)="onPageChange($event)"
            >
            </app-paginator>
          </div>
        </ng-container>

        <ng-template #showRequests>
          <div
            class="no-posts-found"
            *ngIf="requestList && requestList.length === 0"
          >
            <i class="circle-icon fa-solid fa-magnifying-glass"></i>
            {{ 'MARKETPLACE-DASHBOARD-BUYER-PAGE.NO_NEW_REQUESTS' | translate }}
          </div>

          <div
            class="w-100 f-c-c-c g-1"
            *ngIf="requestList && requestList.length > 0"
          >
            <div
              class="cool-static-container w-100 f-c-s-s g-0 p-0 mb-2"
              *ngFor="let request of requestList"
            >
              <div
                class="f-r-sb-c w-100 pb-0 pt-2"
                style="padding-left: 1em; padding-right: 1em"
              >
                <div>{{ request.createdAt | date : 'dd MMM yyyy' }}</div>
                <div>{{ request.createdAt | date : 'HH:mm' }}</div>
              </div>
              <div class="divider"></div>

              <div class="container">
                <div class="f-r-c-c w-100 g-1">
                  <div class="ps-0">
                    <div
                      class="purchased-product-image f-c-c-c placeholder-glow"
                    >
                      <img
                        [src]="getProductImage(request.product)"
                        class=""
                        alt="purchased_product_image_{{
                          request.product.seller?.name
                        }}"
                      />
                    </div>
                  </div>

                  <div class="f-c-s-s w-100 p-4">
                    <div class="f-r-sb-c g-0 w-100">
                      <span class="font-weight-bold font-size-16">
                        {{ request.product.name }}
                      </span>
                      <div class="f-r-c-c g-05">
                        <div
                          class="department-tag"
                          (click)="goToDepartment(request.product.department)"
                        >
                          {{
                            'MARKETPLACE-CONTROL-BAR.DEPARTMENTS.' +
                              request.product.department?.name | translate
                          }}
                        </div>
                        <div
                          *ngIf="request.product.used; else newTag"
                          class="used-tag used font-weight-normal"
                        >
                          {{
                            'MARKETPLACE-DASHBOARD-BUYER-PAGE.USED' | translate
                          }}
                        </div>
                        <ng-template #newTag>
                          <div class="used-tag new font-weight-normal">New</div>
                        </ng-template>
                      </div>
                    </div>

                    <div class="f-r-sb-c w-100">
                      <div class="f-r-c-c g-0">
                        <span class="price font-size-20 font-weight-normal">
                          {{
                            request.product?.price
                              ? (
                                  request.product.price
                                  | currency : 'USD' : 'symbol-narrow' : '1.0-2'
                                ).split('.')[0]
                              : ''
                          }}
                        </span>
                        <div class="f-c-s-c ps-1" style="height: 20px">
                          <span
                            class="cents c-light-text font-size-12 font-weight-normal"
                          >
                            {{
                              request.product?.price
                                ? ',' +
                                  ((
                                    request.product.price
                                    | currency
                                      : 'USD'
                                      : 'symbol-narrow'
                                      : '1.0-2'
                                  ).split('.')[1] || '00')
                                : ''
                            }}
                          </span>
                        </div>
                      </div>
                      <a
                        [routerLink]="[
                          '/marketplace/products',
                          request.product.self
                        ]"
                        class="cool-button small-a marketplace-button font-weight-bold"
                      >
                        <i class="fa-solid fa-arrow-right-to-bracket pe-1"></i>
                        {{
                          'MARKETPLACE-DASHBOARD-BUYER-PAGE.VIEW_PRODUCT'
                            | translate
                        }}
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <app-paginator
            [totalPages]="totalPages"
            [currentPage]="page"
            [theme]="'marketplace'"
            (pageChange)="onPageChange($event)"
          >
          </app-paginator>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<app-wave-footer [theme]="'marketplace'"></app-wave-footer>
