<div class="upper-feed-buttons-box">
  <div class="f-r-s-c filters g-05">
    <a
      (click)="changeStatusToLatest()"
      class="cool-feed-button rounded"
      [ngClass]="{ active: statusClass === 'Latest' }"
    >
      <i class="fa-solid fa-arrow-up-wide-short"></i>
      <span i18n>Latest</span>
    </a>

    <!-- Trending Button -->
    <a
      (click)="changeStatusToTrending()"
      class="cool-feed-button rounded"
      [ngClass]="{ active: statusClass === 'Trending' }"
    >
      <i class="fa-solid fa-arrow-trend-up ms-1"></i>
      <span i18n>Trending</span>
    </a>

    <!-- Hot Button -->
    <a
      (click)="changeStatusToHot()"
      class="coolest-button"
      [ngClass]="{ active: statusClass === 'Hot' }"
    >
      <i class="fa-solid fa-fire ms-1"></i>
      <span i18n>Hot</span>
    </a>
  </div>

  <div *ngIf="currentUser && isNotAdmin && channelClass !== 'Announcements'">
    <button (click)="publishInChannel()" class="cool-feed-button">
      <i class="fa-solid fa-plus"></i>

      <ng-container [ngSwitch]="channelClass">
        <span *ngSwitchCase="'Feed'" i18n>Create Post</span>
        <span *ngSwitchCase="'Complaints'" i18n>Create Complaint</span>
        <span *ngSwitchDefault i18n>Create Post</span>
      </ng-container>
    </button>
  </div>
</div>
