<!-- service-providers-content.component.html -->
<div class="container">
  <div class="service-card">
    <button
      *ngIf="isTheWorker"
      id="editProfileButton"
      class="cool-action-button rounded services-button edit-profile-button"
      (click)="openEditProfile.emit()"
    >
      <i class="fa-solid fa-user-pen ml-1"></i>

      Edit Profile
    </button>
    <div class="card-header">
      <!-- Background image -->
      <img
        class="back-image"
        [src]="backgroundImageUrl"
        alt="profile_picture_img"
      />
    </div>
    <div
      class="card-body"
      [attr.data-profile-image]="profileImageUrl"
      style="--background-image: url({{ profileImageUrl }})"
    >
      <div class="inner f-c-c-c">
        <!-- businessName -->
        <div style="font-size: 18px; margin-bottom: 10px" class="c-services">
          <strong>{{ worker?.businessName }}</strong>
        </div>

        <!-- Professions -->
        <div
          class="f-r-c-c c-light-text c-services"
          style="font-size: 13px"
          *ngIf="worker?.professions?.length > 0"
        >
          <a
            class="profession-option"
            *ngFor="let profession of worker?.professions"
            (click)="setProfession(profession)"
          >
            {{ profession.displayName }}
          </a>
        </div>

        <!-- phone & address -->
        <span class="c-light-text"> {{ worker?.phoneNumber }} </span>
        <span class="c-light-text"> {{ worker?.address }} </span>

        <!-- bio -->
        <p class="c-light-text mr-3 ml-3" style="text-align: center">
          {{ worker?.bio }}
        </p>

        <!-- Show "Edit" if loggedUser is the same user -->
      </div>
    </div>
    <div class="card-footer m-3">
      <div class="inner">
        <div class="c-services">
          <!-- rating with 2 decimals or '--' -->
          {{
            averageRating && averageRating > 0
              ? (averageRating | number : "1.2-2")
              : "--"
          }}
        </div>
        <div class="c-light-text">Rating</div>
      </div>
      <div class="inner">
        <div class="c-services">{{ reviewsCount || 0 }}</div>
        <div class="c-light-text">Reviews</div>
      </div>
      <div class="inner">
        <div class="c-services">{{ postCount || 0 }}</div>
        <div class="c-light-text">Posts</div>
      </div>
    </div>
  </div>
</div>
