/*-------------------------FOOTER ------------------------------*/

footer {
  width: 100%;
  position: relative;
  /* Default position relative to the content */
  bottom: 0;

  /* Aligns to the bottom of its container */
}

footer div {
  background-color: var(--primary);
  margin: 0;
  /* Remove negative margin */
  color: var(--onprimary);
  text-align: center;
  opacity: 0.96;

  &.lila {
    background-color: var(--lila);
  }
  &.admin {
    background-color: var(--admin-color);
  }
  &.worker {
    background-color: var(--worker-color);
  }
}

.wave-footer {
  animation: wave-footer 3s linear infinite;
  /* Ensure animation shorthand */
  fill: var(--primary);
}

.wave-footer.lila {
  fill: var(--lila);
}

.wave-footer.admin {
  fill: var(--admin-color);
}

.wave-footer.worker {
  fill: var(--worker-color);
}

#wave2 {
  animation-duration: 5s;
  animation-direction: reverse;
  opacity: 0.9;
}

#wave3 {
  animation-duration: 7s;
  opacity: 0.6;
}

@keyframes wave-footer {
  to {
    transform: translateX(-100%);
  }
}
