<div
  class="cool-static-container m-b-20"
  style="word-wrap: break-word"
  aria-hidden="true"
>
  <h2 class="card-title">
    {{ 'ADMIN-CREATE-EVENT.CREATE_NEW_EVENT' | translate }}
  </h2>
  <div class="divider mb-3 mt-3"></div>

  <!-- Form for creating a new event -->
  <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
    <div class="form-column" style="margin-top: 1rem">
      <!-- Event Name -->
      <div class="form-group">
        <label for="name">{{ 'ADMIN-CREATE-EVENT.NAME' | translate }}</label>
        <input
          id="name"
          type="text"
          class="cool-input"
          formControlName="name"
          [attr.placeholder]="'ADMIN-CREATE-EVENT.ENTER_EVENT_NAME' | translate"
        />
        <app-form-error
          class="w-100"
          [control]="eventForm.get('name')"
          [centered]="false"
        ></app-form-error>
      </div>

      <!-- Description -->
      <div class="form-group">
        <label for="description">{{
          'ADMIN-CREATE-EVENT.DESCRIPTION' | translate
        }}</label>
        <textarea
          id="description"
          rows="5"
          class="cool-input textarea-min-max"
          formControlName="description"
          [attr.placeholder]="'ADMIN-CREATE-EVENT.ENTER_EVENT_DESCRIPTION' | translate"
        ></textarea>
        <app-form-error
          class="w-100"
          [control]="eventForm.get('description')"
          [centered]="false"
        ></app-form-error>
      </div>

      <!-- Date -->
      <div class="f-c-c-c w-100">
        <div class="">
          <label for="date" class="mb-1">{{
            'ADMIN-CREATE-EVENT.DATE' | translate
          }}</label>
          <input
            id="date"
            type="date"
            class="cool-input"
            formControlName="date"
          />
          <app-form-error
            class="w-100"
            [control]="eventForm.get('date')"
            [centered]="false"
          ></app-form-error>
        </div>

        <!-- Start Time and End Time -->
        <div class="f-r-sb-c">
          <div class="col-6 ps-0">
            <label for="startTime" class="mb-1">{{
              'ADMIN-CREATE-EVENT.START_TIME' | translate
            }}</label>
            <input
              id="startTime"
              type="time"
              class="cool-input"
              formControlName="startTime"
            />
            <app-form-error
              [control]="eventForm.get('startTime')"
              [centered]="false"
            ></app-form-error>
          </div>
          <div class="col-6 pe-0">
            <label for="endTime" class="mb-1">{{
              'ADMIN-CREATE-EVENT.END_TIME' | translate
            }}</label>
            <input
              id="endTime"
              type="time"
              class="cool-input"
              formControlName="endTime"
            />
            <app-form-error
              [control]="eventForm.get('endTime')"
              [centered]="false"
            ></app-form-error>
          </div>
        </div>
        <div
          *ngIf="
            eventForm.hasError('startBeforeEnd') &&
            (eventForm.dirty || eventForm.touched)
          "
        >
          <app-form-error
            class="w-100"
            [control]="eventForm"
            [centered]="false"
          ></app-form-error>
        </div>
      </div>
    </div>

    <!-- Submit Button -->
    <div class="d-flex justify-content-end mt-3">
      <button
        type="submit"
        class="cool-button cool-small on-bg w-25 font-weight-bolder"
        [disabled]="eventForm.invalid"
      >
        {{ 'ADMIN-CREATE-EVENT.CREATE' | translate }}
      </button>
    </div>
  </form>
</div>
