<div class="dialog" id="loginDialog" [ngClass]="{ 'show-dialog': showLoginDialog }">
  <div class="dialog-content">
    <!-- Close Button -->
    <div class="close-button" (click)="closeLoginDialog()">
      <i class="fas fa-close"></i>
    </div>

    <!-- Loading State -->
    <div *ngIf="loading; else loginFormTemplate">
      <div class="f-c-c-c">
        <div style="font-size: 16px">Logging you in. Please wait...</div>
        <div class="w-100 loader" style="margin-top: 20px"></div>
      </div>
    </div>

    <!-- Login Form -->
    <ng-template #loginFormTemplate>
      <div class=" ">
        <div class="title">Welcome to Neibo</div>
        <p>Log in to continue.</p>
      </div>
      <form (ngSubmit)="tryLogin()" [formGroup]="loginForm" class="login-form">
        <div class="centered-column">
          <!-- Email Field -->
          <label>
            <input id="login-email" type="email" placeholder="Email" class="input" formControlName="email">
            <small class="form-error" *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched">
              *Entered email is not valid
            </small>
          </label>
          <!-- Password Field -->
          <label>
            <input id="login-password" type="password" placeholder="Password" class="input" formControlName="password">
            <small class="form-error" *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched">
              *Password is required
            </small>
          </label>
        </div>
        <!-- Remember Me -->
        <label class="centered-row">
          <input type="checkbox" formControlName="rememberMe"> Remember me
        </label>
        <!-- Errors and Submit Button -->
        <div class="centered-column">
          <small class="form-error centered" *ngIf="loginFailed">*Invalid email or password</small>
          <button type="submit" class="action-button font-weight-bolder" [disabled]="loginForm.invalid">Login</button>
          <span class="light-text">
            Not a member yet?
            <a (click)="openSignupDialog()" class="a-link">Sign up now</a>
          </span>
        </div>
      </form>
    </ng-template>
  </div>
</div>