<div class="container f-c-c-c">
  <div class="row w-100">
    <div class="col-lg-8 w-100 m-b-20">
      <app-calendar-box [selectedDate]="selectedDate"></app-calendar-box>
    </div>
    <div class="col-lg-4 h-100 w-100">
      <div class="f-c-c-c">
        <div class="upper-feed-buttons-box w-100" style="padding: 20px">
          <div class="f-c-c-c w-100">
            <div class="f-r-sb-c w-100 ps-3 pe-3 p-3">
              <p
                style="
                  font-size: 32px;
                  color: var(--primary);
                  text-align: center;
                "
              >
                {{ 'CALENDAR-PAGE.EVENTS' | translate }}
              </p>
              <div class="f-c-c-e g-0">
                <div class="f-r-c-c g-05">
                  <p style="font-size: 16px" class="bold">
                    {{ formattedNumericDayMonth }}
                  </p>
                  <p style="font-size: 16px">
                    {{ formattedYear }}
                  </p>
                </div>
                <p>
                  {{ formattedSelectedDay }}
                </p>
              </div>
            </div>
            <div class="divider m-b-20"></div>
            <div class="w-100">
              <app-calendar-events-column
                [selectedDate]="selectedDate"
              ></app-calendar-events-column>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-wave-footer></app-wave-footer>
