/*
GLOBAL CSS VARIABLES AND STYLES THAT SHOULD BE USED IN ALL PAGES
*/


body, p, h1, h2, h3, h4, h5, h6, label, input, select, textarea, button {
    font-family: 'Lexend Deca', sans-serif;
}




:root {
    --text: #4f5248;
    --lighttext: #83887f;
    --background: #faf6e8;
    --onbackground: rgb(248, 248, 243);
    --onbackgroundfaded: rgb(245, 245, 244, 0.2);
    --darkonbackground : rgb(235, 236, 233);
    --primary: #328d3d;
    --old-primary: #9ad379;
    --onprimary: #fdfaf1;
    --secondary: #d8d8c5;
    --accent: #6696e2;
    --error: #de6f6f;
    --scrollbarthumb: #004F2D;
    --bordercolor: #dadad0;

    --border-light: 5px;
    --border-radius: 10px;
    --border-hard: 50px;

    --border: 1px solid var(--primary);
}
.dark-mode {
    --text: #ced3c1;
    --lighttext: #b1bbab;
    --background: #333c41;
    --onbackground: rgb(59, 64, 70);
    --onbackgroundfaded: rgba(49, 58, 63, 0.1);
    --darkonbackground : #4b4f4f;
    --primary: rgb(163, 180, 163);
    --onprimary: #29333a;
    --secondary: #595953;
    --accent: #6696e2;
    --error: #de6f6f;
    --scrollbarthumb: #9a968c;
    --bordercolor: #646462;
    --old-primary: #789368;

}


html::-webkit-scrollbar {
    width: 12px;
}

html::-webkit-scrollbar-track {
    background-color: rgba(231, 231, 231, 0);
    border: 1px solid rgba(202, 202, 202, 0);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
}

html::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: var(--scrollbarthumb);
}

a {
    color: inherit;/* Inherit the color from the parent element */
    text-decoration: none;/* Remove underlines */
}

a:hover {
    text-decoration: none;/* Remove underlines */
    color: inherit;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
}

i {
    color: var(--primary);
}

h2{
    font-size: 24px;
    font-weight: bold;
    color: var(--text);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

h3{
    font-size: 16px;
    font-weight: bolder;
    color: var(--primary);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

form{
    margin-block-end: 0;
}


input[type="checkbox"] {
    position: relative;
    width: 1.5em;
    height: 1.5em;
    color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: var(--border-hard);
    appearance: none;
    outline: 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &::before {
        position: absolute;
        content: '';
        display: block;
        top: 2px;
        left: 7px;
        width: 8px;
        height: 14px;
        border-style: solid;
        border-color: var(--background);
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        opacity: 0;
    }
    &:checked {
        color: var(--background);
        border-color: var(--primary);
        background: var(--primary);
        &::before {
            opacity: 1;
        }
        ~ label::before {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
    }
    &:focus-visible,
    &:hover{
        transform: translateY(-3px) ;
        box-shadow: 4px 4px var(--primary);
    }
}

label{
    margin-bottom:0;
}