/* --------------- globals----------------------*/


body, p, h1, h2, h3, h4, h5, h6, label, input, select, textarea, button {
    font-family: 'Lexend Deca', sans-serif;
}

:root {
    --text: #4f5248;
    --lighttext: #83887f;
    --background: #fdfaf1;
    --onbackground: rgb(248, 248, 243);
    --onbackgroundfaded: rgb(245, 245, 244, 0.2);
    --darkonbackground : rgb(235, 236, 233);
    --primary: #9ad379;
    --onprimary: #fdfaf1;
    --secondary: #d8d8c5;
    --accent: #6696e2;
    --error: #de6f6f;
    --scrollbarthumb: #687e62;
    --bordercolor: #dadad0;
}
.dark-mode {
    --text: #ced3c1;
    --lighttext: #b1bbab;
    --background: #333c41;
    --onbackground: rgb(59, 64, 70);
    --onbackgroundfaded: rgb(49, 58, 63, 0.2);
    --darkonbackground : #393d3d;
    --primary: rgb(163, 180, 163);
    --onprimary: #29333a;
    --secondary: #595953;
    --accent: #6696e2;
    --error: #de6f6f;
    --scrollbarthumb: #687e62;
    --bordercolor: #70706d;

}



html::-webkit-scrollbar {
    width: 12px;
}

html::-webkit-scrollbar-track {
    background-color: rgba(231, 231, 231, 0);
    border: 1px solid rgba(202, 202, 202, 0);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
}

html::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: var(--scrollbarthumb);
}

a {
    color: inherit; /* Inherit the color from the parent element */
    text-decoration: none; /* Remove underlines */
}

a:hover {
    text-decoration: none; /* Remove underlines */
    color: inherit;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
}

/*-------------------------------NAVBAR-----------------------------*/
.square-button {
    width: 40px; /* Adjust the width as needed */
    height: 40px; /* Set the same height as the width for a square button */

}

.card {
    background-color: var(--background);
}
.custom-navbar {
    background-color: var(--primary);
}

.custom-btn {
    background-color: var(--primary);
}

.navbar-brand {
    font-size: 32px;
    color: var(--background);
}
.navbar-brand:hover {
    color: var(--background);
    text-shadow: 0 0 5px var(--onbackgroundfaded); /* Adjust the values for the desired glow effect */
}


.volver-btn {
    color: var(--text);
}

.notification-icon {
    font-size: 26px;
    color: var(--background);
}
.user-icon {
    font-size: 30px;
    color: var(--background);
}

.column {
    margin: 0;
    padding-top: 20px;
    padding-left: 20px;
}

.column-left{
    flex: 1; /* 20% width each */
    /*flex: 0 0 20%;*/
}

.column-right {
    /*flex: 0 0 20%;*/
    flex: 1;
}

.column-middle {

    flex: 3; /* 60% width */
    overflow-y: auto;
}

@media (max-width: 768px) {
    .column-left,
    .column-right {
        display: none;
    }
}


.gray-box {
    background-color: #ccc;
    padding: 10px;
    margin-bottom: 10px;
}





.post-header h3 {
    font-size: 24px;
    margin-top: 5px;
}

.post-body p {
    font-size: 18px;
    color: #444;
}

.filter-bar {
     background-color: #f2f2f2;
     padding: 10px;
     border-bottom: 1px solid #ddd;
     display: flex;
     align-items: center;
}

.filter-bar span {
    font-weight: bold;
    margin-right: 10px;
}

.icon-button {
    text-decoration: none;
    padding: 5px 10px;
    margin-right: 10px;
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}

.icon-button:hover {
    background-color: #0056b3;
}

.icon-button i {
    font-size: 20px;
}

/*Middle column*/
.filter-options {
    border: 2px solid var(--bordercolor);
    padding: 10px;
    margin: 10px auto;
    width: 100%; /* Adjust the width as needed */
    background-color: var(--onbackground);
    border-radius: 10px; /* Rounded corners */
}
.filter-button {
    border-radius: 25px;
    padding: 10px 20px;
    margin: 5px;
    border: 1px solid var(--lighttext); /* Add a 1px solid border with your desired color */
}
.filter-button:hover{
    border: 1px solid var(--primary); /* Add a 1px solid border with your desired color */
}
.filter-button.selected {
    border: 2px solid var(--primary);
}

/* Styling for the post input */
.post-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px; /* Rounded input field */
}

/* Styling for the post submit button */
.post-button {
    background-color: var(--primary);
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 5px; /* Rounded button */
    cursor: pointer;
}

/* Posts CSS*/
.blogpost {
    width: 100%;
    border: 2px solid var(--bordercolor);
    padding: 10px;
    margin: 10px auto;
    background-color: var(--onbackground);
    border-radius: 10px;
}

.blogpost:hover{
    border-color:var(--primary);
}

.post-author{
    font-size: 14px;
    color: var(--text);
}

.post-date{
    font-size: 12px;
    color: var(--lighttext);
}
.post-description {
    max-height: calc(1.2em * 10); /* Adjust the line height and number of lines as needed */
    overflow: hidden;
    position: relative;
    color: var(--lighttext);
}
.post-description::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px; /* Adjust the height to control the fade-out length */
    background: linear-gradient(to bottom, var(--onbackgroundfaded), var(--onbackground));
}
.post-header {
    font-size: 16px;
    font-weight: bold;
}
.post-title{
    font-size: 24px;
    font-weight: bold;
    color: var(--text);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.post-title:hover{
    color: var(--primary);
}

h2{
    font-size: 24px;
    font-weight: bold;
    color: var(--text);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-info {
    font-size: 16px;
    color: #888;
    margin: 5px;
    border-radius: 5px;
}

.post-content {
    margin-top: 10px;
    font-size: 14px;
}

.error {
    color: var(--error);
}





/*-------------------------POSTCARD ---------------------------*/

.post-section{
    width: 100%;
    padding: 10px;
    background-color: var(--darkonbackground);
    border-radius: 10px;
    border : 1px solid var(--bordercolor);
}

.comments-section-divider {
    text-align: center;
    margin: 20px 0;
}

.divider-title {
    font-size: 14px;
    color: var(--lighttext);
    margin-bottom: 10px;
}

.divider-line {
    border: 0;
    border-top: 2px solid var(--darkonbackground);
    width: 100%;
}

/*--------------------------WAVE ------------------------*/
.wave {
    position: absolute;
    top: 100px;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}


.svglogo{
    margin: 10px;
}

.container {
    position: relative;
    z-index: 3;
    /* Add any other styles you need for the container */
}

/*--------------------LEFT COLUMN----------------------------*/
.left-box{
    width: 100%;
    text-align: left;
    border: 2px solid var(--bordercolor);
    padding: 10px;
    margin: 10px auto;
    background-color: var(--onbackground);
    border-radius: 10px;
}
.left-column-button{
    width: 100%;
    text-align: left;
    border: 2px solid var(--bordercolor);
    padding: 10px;
    margin: 10px auto;
    background-color: var(--onbackground);
    border-radius: 10px;
    color: var(--text);

}
.left-column-button:hover{
    border-color: var(--primary);
}

.left-column-button.active{
    width: 100%;
    text-align: left;
    border: 3px solid var(--primary);
    padding: 10px;
    margin: 10px auto;
    background-color: var(--darkonbackground);
    border-radius: 10px;
}
.left-column-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/*----------------------------WEATHER ------------------------------------*/

.cardContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather-card {
    position: relative;
    width: 220px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    border-radius: 10px;
    backdrop-filter: blur(30px);
    background-color: var(--lighttext);
    border: 1px solid var(--primary);
    cursor: pointer;
}

.city {
    font-weight: 700;
    font-size: 0.9em;
    letter-spacing: 1.2px;
    color: white;
}

.weather {
    font-weight: 500;
    font-size: 0.7em;
    letter-spacing: 1.2px;
    color: rgb(0, 0, 0);
}

.temp {
    font-size: 1.8em;
    color: #b8e379;
}

.minmaxContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.min,.max {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 0px 20px;
    gap: 4px;
}

.max {
    align-items: flex-start;
    border-left: 2px solid white;
}

.maxHeading,.minHeading {
    font-size: 0.7em;
    font-weight: 600;
    color: white;
}

.maxTemp,.minTemp {
    font-size: 0.6em;
    font-weight: 500;
    color: rgb(197, 197, 197);
}

.cardContainer::before {
    width: 100px;
    height: 100px;
    content: "";
    position: absolute;
    background-color: rgb(144, 161, 255);
    z-index: -1;
    border-radius: 50%;
    left: 100px;
    top: 50px;
    transition: all 1s;
}

.cardContainer:hover::before {
    transform: translate(-50px ,50px);
}

/*-------------------------------------PUBLISH/TAG INPUT------------------------*/
.tags-input {
    display: inline-block;
    position: relative;
    border: 1px solid var(--darkonbackground);
    border-radius: 4px;
    padding: 5px;
    box-shadow: 2px 2px 5px #00000033;
    width: 50%;
}

.tags-input ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tags-input li {
    display: inline-block;
    background-color: var(--accent);
    color: var(--onprimary);
    border-radius: 20px;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.tags-input input[type="text"] {
    border: none;
    outline: none;
    padding: 5px;
    font-size: 14px;
}

.tags-input input[type="text"]:focus {
    outline: none;
}

.tags-input .delete-button {
    background-color: transparent;
    border: none;
    color: var(--onprimary);
    cursor: pointer;
    margin-left: 5px;
}

