/*----------------------- GRID DISPLAY ------------------------------------*/

.column {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.column-left {
    flex: 1;
    max-width: 250px;
}

.column-right {
    max-width: 320px;
    flex: 2;
}

.column-middle {
    max-width: 565px;
    flex: 4;
}

@media (max-width: 1200px) {
    .row {
        justify-content: center;
    }

    .column-right {
        display: none;
    }
}

@media (max-width: 993px) {
    .column-left,
    .column-right {
        display: none;
    }
}

.c-light-text {
    color: var(--lighttext);
}

.c-primary {
    color: var(--primary);
}

.c-text {
    color: var(--text);
}

.c-old-primary {
    color: var(--old-primary);
}

.c-accent {
    color: var(--accent);
}

.c-background {
    color: var(--background);
}

.c-on-background {
    color: var(--onbackground);
}

.c-on-on-background {
    color: var(--on-onbackground);
}


/*-------------------------------NAVBAR-----------------------------*/

.square-button {
    width: 40px;
    height: 40px;
    border: 1px solid var(--bordercolor);
    background-color: var(--background);
    border-radius: 5px;
}

.card {
    background-color: var(--onbackground);
    border-radius: 10px;
}

.custom-navbar {
}

.custom-btn {
    background-color: var(--primary);
}

.navbar-brand {
    font-size: 32px;
    color: var(--background);
    transition: all 0.5s ease-in-out;

    &:hover {
        color: var(--background);
        text-shadow: 0 0 10px var(--onbackground);

    }

    &:focus-within,
    &:focus,
    &:focus-visible {
        color: var(--background);
    }
}


/*---------------------------------- Middle column ---------------------------------------------*/
.filters{
    background-color: var(--on-onbackground);
    border-radius: var(--border-hard);
    border: 1px solid var(--secondary);
    padding: 10px;
}
.cool-feed-button:before{
}
.upper-feed-buttons-box {
    padding: 1rem;
    margin-bottom: 1.25rem;
    top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: var(--onbackground);
    color: var(--text);
    border: 1px solid var(--lighttext);
    border-radius: var(--border-radius);
    transform: translateY(-3px);
    box-shadow: -3px 4px 0 0 var(--lighttext);

    & .cool-feed-button {
        text-align: center;
        overflow: hidden;
        font-weight: bold;
        cursor: pointer;
        padding: 0.7em 1em;
        background-color: var(--onbackground);
        color: var(--text);
        border: 1px solid var(--text);
        border-radius: var(--border-radius);
        position: relative;
        transform: translateY(0);
        /*transition: -webkit-transform .3s cubic-bezier(.5,2.5,.7,.7),-webkit-box-shadow .3s cubic-bezier(.5,2.5,.7,.7);*/
        transition: all 0.3s ease-in-out;
        &::before{
            content: "";
            position: absolute;
            width: 100%;
            height: 110%;
            bottom: -5px;
            left: 0;
            -webkit-transition: bottom .3s cubic-bezier(.5,2.5,.7,.7);
            -o-transition: bottom .3s cubic-bezier(.5,2.5,.7,.7);
            transition: bottom .3s cubic-bezier(.5,2.5,.7,.7);
        }

        &.active {
            transform: translateY(-4px);
            box-shadow: 0 5px 0 0 var(--primary);
            color: var(--primary);
            border: var(--border);
        }

        &.rounded {
            border-radius: var(--border-hard) !important;
        }

        &:hover,
        &:active,
        &:focus-visible {
            transform: translateY(-4px);
            box-shadow: 0 4px 0 0 var(--primary);
            color: var(--primary);
            border: var(--border);

        }


    }

    & .coolest-button {
        text-align: center;
        font-weight: bold;
        overflow: hidden;
        cursor: pointer;
        padding: 0.7em 1em;
        transition: all 0.3s;
        background-color: var(--onbackground);
        color: var(--text);
        border: 1px solid var(--text);
        border-radius: var(--border-hard);
        position: relative;
        transform: translateY(0);
        &::before{
            content: "";
            position: absolute;
            width: 100%;
            height: 110%;
            bottom: -5px;
            left: 0;
            -webkit-transition: bottom .3s cubic-bezier(.5,2.5,.7,.7);
            -o-transition: bottom .3s cubic-bezier(.5,2.5,.7,.7);
            transition: bottom .3s cubic-bezier(.5,2.5,.7,.7);
        }
        &.active {
            border: 1px solid transparent;
            background-color: var(--error);
            color: var(--background);
            box-shadow: 0 5px 0 0 #f1d283;
            transform: translateY(-5px);
        }

        &:before {
            content: "";
            position: absolute;
            width: 100px;
            height: 120%;
            background-color: #f1d283;
            top: 50%;
            transform: skewX(30deg) translate(-150%, -50%);
            transition: all 0.5s;
        }

        &:hover {
            border: 1px solid transparent;
            background-color: var(--error);
            color: var(--background);
            box-shadow: 0 5px 0 0 #f1d283;
            transform: translateY(-4px);

            &::before {
                transform: skewX(30deg) translate(150%, -50%);
                transition-delay: 0.1s;
            }
        }


    }


}

/*-----------COOLEST :........................*/


/*_----------------------------------------------*/
.post-input {
< width: 100 %;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.post-button {
    background-color: var(--primary);
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* ----------------------------------------------------- BlogPosts CSS-------------------------------------------------*/
.grey-bg {
    background-color: var(--on-onbackground);
}

.blogpost {
    margin-bottom: 1.25rem;
    padding: 0;
    width: 100%;
    background-color: var(--onbackground);
    border: 1px solid var(--text);
    border-radius: var(--border-radius);
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    position: relative;
    transform: translateY(0);
    &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 110%;
        bottom: -5px;
        left: 0;
        -webkit-transition: bottom .3s cubic-bezier(.5,2.5,.7,.7);
        -o-transition: bottom .3s cubic-bezier(.5,2.5,.7,.7);
        transition: bottom .3s cubic-bezier(.5,2.5,.7,.7);
    }
    &:hover {
        transform: translateY(-5px);
        box-shadow: -3px 5px 0 0 var(--primary);
        border: var(--border);
    }

}

.worker-blogpost {
    margin-bottom: 1.25rem;
    padding: 0;
    max-height: 600px;
    width: 100%;
    background-color: var(--onbackground);
    border: 1px solid var(--text);
    border-radius: var(--border-radius);
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    transform: translateY(-4px);
    box-shadow: -3px 5px 0 0 var(--lighttext);
}



.blogpost-author-and-date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.post-author {
    font-size: 14px;
    color: var(--lighttext);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-date {
    font-size: 12px;
    color: var(--lighttext);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.post-description {
    max-height: calc(1.2em * 4);
    overflow: hidden;
    position: relative;
    color: var(--lighttext);
    line-height: 1.2em; /* Set the line height to match your text */

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: calc(1.2em * 2); /* Adjust the height to match 5 lines of text */
        background: linear-gradient(to bottom, transparent, var(--onbackground));
    }
}
.worker-post-description {
    width: 100%;
    position: relative;
    color: var(--lighttext);
}



.post-header {
    font-size: 16px;
    font-weight: bold;
}

.post-title {
    font-size: 24px;
    font-weight: bold;
    color: var(--text);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
        color: var(--primary);
    }
}

.blogpost-image {
    max-width: 100%;
    max-height: 100vh;
    border-radius: 10px;
}


.post-info {
    font-size: 16px;
    color: var(--lighttext);
    margin: 5px;
    border-radius: 5px;
}

.post-content {
    margin-top: 10px;
    font-size: 14px;
}

.no-posts-found {
    width: 100%;
    height: 300px;
    border: 2px solid var(--bordercolor);
    padding: 20px;
    margin: 10px auto;
    background-color: var(--onbackground);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--lightertext);
    gap:10px;
}

.circle-icon {
    border: var(--lightertext) 1px solid;
    border-radius: 50px;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error {
    color: var(--error);
}

/*------------------- PLACEHOLDER -----------------------------------*/

.placeholder {
    margin: 1px;
    border-radius: 3px;
}

/*-------------------------POSTCARD ---------------------------*/

.post-section {
    width: 100%;
    padding: 10px;
    background-color: var(--darkonbackground);
    border-radius: 10px;
    border: 1px solid var(--lighttext);

    transform: translateY(-4px);
    box-shadow: 0 5px 0 0 var(--lighttext);
    margin-bottom: 20px;
}

.comments-section-divider {
    text-align: center;
    margin: 20px 0;
}

.divider-title {
    font-size: 14px;
    color: var(--lighttext);
    margin-bottom: 10px;
}


#success-container {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.success-container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 50;
    justify-content: center;
    align-items: center;

    &.success-box {
        width: 500px;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--onbackground);
        color: var(--primary);
        border: 1px solid var(--primary);
        border-radius: var(--border-radius);
        transform: translateY(-4px);
        box-shadow: -3px 5px 0 0 var(--primary);
    }
}


/*--------------------------WAVE ------------------------*/

.wave {
    position: absolute;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: -1;
}

.svg-logo {
    margin: 10px;
}

.container {
    position: relative;
}

/*--------------------LEFT COLUMN----------------------------*/

.left-column-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    & .sticky {
        position: sticky;
        top: 20px;
    }
}


.left-box {
    margin-bottom: 1.25rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 600px;
    background-color: var(--onbackground);
    border: 1px solid var(--lighttext);
    border-radius: var(--border-radius);
    transform: translateY(-4px);
    box-shadow: -3px 5px 0 0 var(--lighttext);

    & .worker {
        height: 400px;
    }
}


.left-column-button {
    width: 100%;
    text-align: left;
    border: 2px solid var(--bordercolor);
    padding: 10px;
    margin: 5px auto;
    background-color: var(--onbackground);
    border-radius: 10px;
    color: var(--text);
    white-space: nowrap;
    text-overflow: ellipsis;
}

.sticky-bottom {
    position: sticky;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;


}


.cool-left-button {
    text-align: left;
    font-weight: bolder;
    overflow: hidden;
    cursor: pointer;
    padding: 1em 1em;
    width: 200px;
    transition: all 0.3s ease-in-out;
    background-color: var(--onbackground);
    color: var(--text);
    border: 1px solid var(--text);
    border-radius: var(--border-radius);

    position: relative;
    transform: translateY(0);
    &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 110%;
        bottom: -5px;
        left: 0;
        -webkit-transition: bottom .3s cubic-bezier(.5,2.5,.7,.7);
        -o-transition: bottom .3s cubic-bezier(.5,2.5,.7,.7);
        transition: bottom .3s cubic-bezier(.5,2.5,.7,.7);
    }

    &:hover,
    &:focus-visible {
        border: var(--border);
        transform: translateY(-5px);
        box-shadow: -2px 4px 0 0 var(--primary);
        color: var(--primary);
    }

    &.active {
        transform: translateY(-5px);
        box-shadow: -2px 5px 0 0 var(--primary);
        color: var(--background);
        border: 1px solid var(--background);
        background-color: var(--primary);
    }

    &.admin-button {
        color: var(--admin-color);
        border: 1px solid var(--admin-color);

        &:hover {
            transform: translateY(-5px);
            box-shadow: -2px 4px 0 0 var(--admin-color);
            color: var(--admin-color);
        }

        &.active {
            background-color: var(--background);
            transform: translateY(-5px);
            box-shadow: -2px 4px 0 0 var(--admin-color);
            color: var(--admin-color);
        }
    }
}


.filtered-tags {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 3px;
    flex-wrap: wrap;
    width: 100%;
}

/*---------------------------- Tag selector filter ------------------------------------*/
.tags-row {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 3px;
    flex-wrap: wrap;
    width: 100%;

    &.tags {
        justify-content: start;
    }

    &.submit-tags {
        justify-content: center;
    }
}


.filtered-tag,
.post-tag,
.tag-option {
    font-size: 14px;
    padding: 2px 5px 2px 5px;
    color: var(--accent);
    background-color: var(--background);
    border: 1px solid var(--accent);
    border-radius: var(--border-hard);
    transition: all 0.3s ease-in-out;
    position: relative;
    transform: translateY(0);
    &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 110%;
        bottom: -4px;
        left: 0;
        -webkit-transition: bottom .3s cubic-bezier(.5,2.5,.7,.7);
        -o-transition: bottom .3s cubic-bezier(.5,2.5,.7,.7);
        transition: bottom .3s cubic-bezier(.5,2.5,.7,.7);
    }
    &.static {
        margin-bottom: 2px;

        &:hover {
            cursor: pointer;
            color: var(--background);
            background-color: var(--accent);
        }
    }

    &:hover {
        cursor: pointer;
        color: var(--accent);
        transform: translateY(-4px);
        box-shadow: 0 4px 0 0 var(--accent);
    }
}


/*-------------------------------------PUBLISH/TAG INPUT------------------------*/

.column-publish {
    flex: 3;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.column-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}


.cool-static-container {
    overflow: hidden;
    padding: 2em 2em;
    width: 100%;
    background-color: var(--onbackground);
    color: var(--text);
    border: 1px solid var(--lighttext);
    border-radius: var(--border-radius);
    transform: translateY(-4px);
    box-shadow: 0 5px 0 0 var(--lighttext);
}


.form-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
}

.form-row.form-error {
    align-items: start;
    gap: 0;
}

.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}


.form-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
}


.tags-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0 20px 0;
}

.tags-input-wrapper {
    width: 100%;
    margin-top: 5px;

    & input {
        width: 100%;
        font-size: 14px;
        font-weight: normal;
        border-radius: var(--border-radius);
        border: 1px solid var(--accent);
        background-color: var(--darkonbackground);
        color: var(--text);
        padding: 5px 10px;
        outline: none;
        transition: all 0.3s ease-in-out;
        position: relative;
        transform: translateY(0);
        &::before{
            content: "";
            position: absolute;
            width: 100%;
            height: 110%;
            bottom: -4px;
            left: 0;
            -webkit-transition: bottom .3s cubic-bezier(.5,2.5,.7,.7);
            -o-transition: bottom .3s cubic-bezier(.5,2.5,.7,.7);
            transition: bottom .3s cubic-bezier(.5,2.5,.7,.7);
        }
        &::placeholder {
            color: var(--lighttext);
            opacity: 0.8;
        }

        &:active,
        &:hover,
        &:focus-visible {
            transform: translateY(-4px);
            box-shadow: -3px 4px var(--accent);
        }
    }

    & span {
        display: inline-block;
        background-color: var(--accent);
        color: white;
        border-radius: 40px;
        padding: 0px 3px 0px 7px;
        margin-right: 5px;
        margin-bottom: 5px;
        box-shadow: 0 0px 0px -2px var(--accent);

        & a {
            margin: 0 10px 3px;
            display: inline-block;
            cursor: pointer;
        }

        &.tag {
            padding: 2px 3px 2px 10px;
            margin-bottom: 10px;
        }
    }

}


.return-btn {
    color: var(--text);
}

/* IMAGEN */

.drop-container {
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
    border: 2px dashed var(--lighttext);
    color: var(--text);
    cursor: pointer;
    transition: background .2s ease-in-out, border .2s ease-in-out;

    &:hover,
    &.drag-active {
        background: var(--darkonbackground);
        border-color: var(--primary);

        &.drop-title {
            color: var(--text);
        }
    }
}


.drop-title {
    color: var(--text);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: color .2s ease-in-out;
}

input[type=file] {
    width: 350px;
    max-width: 100%;
    color: var(--text);
    padding: 5px;
    background: var(--background);
    border-radius: 10px;
    border: 1px solid var(--bordercolor);

    &::-webkit-file-upload-button,
    &::file-selector-button {
        margin-right: 20px;
        border: none;
        background: var(--text);
        padding: 10px 20px;
        border-radius: 10px;
        color: var(--background);
        cursor: pointer;
        transition: background .2s ease-in-out;
    }
}

input[type=file]::file-selector-button:hover {
    background: var(--primary);
}


/*-- loading --*/

.loader-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.medium-size-container {
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.small-size-container {
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loader {
    display: block;
    --height-of-loader: 10px;
    --loader-color: var(--primary);
    width: 30%;
    height: var(--height-of-loader);
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;

    &::before {
        content: "";
        position: absolute;
        background: var(--primary);
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        border-radius: 30px;
        animation: moving 1s ease-in-out infinite;
    }
}

@keyframes moving {
    50% {
        width: 100%;
    }

    100% {
        width: 0;
        right: 0;
        left: unset;
    }
}

/*-------------------PAGINATION SELECTOR -----------------------------------*/
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    color: var(--text);

    &.small-a {
        width: 30px;
        height: 30px;
        padding: 4px;
    }


    &.active {
        background-color: var(--primary);
        color: white;
    }
}

.pagination-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: var(--onbackground);
    margin: 5px;
    transition: all 0.3s ease-in-out;
    position: relative;
    transform: translateY(0);
    &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 110%;
        bottom: -4px;
        left: 0;
        -webkit-transition: bottom .3s cubic-bezier(.5,2.5,.7,.7);
        -o-transition: bottom .3s cubic-bezier(.5,2.5,.7,.7);
        transition: bottom .3s cubic-bezier(.5,2.5,.7,.7);
    }
    &.small-a {
        width: 30px;
        height: 30px;
        font-size: 16px;
        padding: 4px;
    }

    &:hover:not(.active) {
        transform: translateY(-4px);
        box-shadow: 0 4px 0 0 var(--primary);
        color: var(--primary);
    }

    &.active {
        transform: translateY(-4px);
        border: 1px solid var(--background);
        box-shadow: 0 4px 0 0 var(--primary);
        color: var(--background);
        background-color: var(--primary);
    }
}


/*-------------------------FOOTER ------------------------------*/


footer {
    width: 100%;
    position: relative;
    bottom: 0;
}

footer div {
    background-color: var(--primary);
    margin: -5px 0 0 0;
    color: #fff;
    text-align: center;
}


.wave-footer {
    animation: wave-footer 3s linear;
    animation-iteration-count: infinite;
    fill: var(--primary);
}


#wave2 {
    animation-duration: 5s;
    animation-direction: reverse;
    opacity: .9
}

#wave3 {
    animation-duration: 7s;
    opacity: .6;
}

@keyframes wave-footer {
    to {
        transform: translateX(-100%);
    }
}

/*------------------------------------------------- requestmanager request manager --------------------*/

.req-acc-users-list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    width: 100%;
    background-color: var(--onbackground);
    color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: var(--border-radius);
    transform: translateY(-4px);
    box-shadow: -3px 5px 0 0 var(--primary);
}

.user-row {
    padding: 5px 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex-column-centerd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.divider {
    margin: 5px 0 5px 0;
    height: 1px;
    width: 100%;
    background-color: var(--bordercolor);
}

.acceptance {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.ignore-button {
    font-size: 12px;
    padding: 10px;
    color: var(--text);
    background-color: var(--background);
    border: 1px solid var(--bordercolor);
    border-radius: var(--border-hard);
    transition: all 0.3s ease-in-out;

    &.outlined {
        color: var(--error);
        background-color: var(--darkonbackground);
        border: 1px solid var(--error);
        position: relative;
        transform: translateY(0);
        &::before{
            content: "";
            position: absolute;
            width: 100%;
            height: 110%;
            bottom: -4px;
            left: 0;
            -webkit-transition: bottom .3s cubic-bezier(.5,2.5,.7,.7);
            -o-transition: bottom .3s cubic-bezier(.5,2.5,.7,.7);
            transition: bottom .3s cubic-bezier(.5,2.5,.7,.7);
        }
        &:hover {
            border: 1px solid var(--error);
            transform: translateY(-4px);
            box-shadow: 0 4px 0 0 var(--error);
            color: var(--error);
        }
    }

    &.on-bg {
        background-color: var(--onbackground);
    }

    &:hover {
        border: 1px solid var(--error);
        transform: translateY(-4px);
        box-shadow: 0 5px 0 0 var(--error);
        color: var(--error);
    }
}

.accept-button {
    font-size: 12px;
    padding: 10px;
    color: var(--text);
    background-color: var(--background);
    border: 1px solid var(--bordercolor);
    border-radius: var(--border-hard);
    transition: all 0.3s ease-in-out;
    position: relative;
    transform: translateY(0);
    &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 110%;
        bottom: -4px;
        left: 0;
        -webkit-transition: bottom .3s cubic-bezier(.5,2.5,.7,.7);
        -o-transition: bottom .3s cubic-bezier(.5,2.5,.7,.7);
        transition: bottom .3s cubic-bezier(.5,2.5,.7,.7);
    }
    &.outlined {
        color: var(--primary);
        background-color: var(--darkonbackground);
        border: 1px solid var(--primary);

        &.background {
            background-color: var(--background);
        }

        &.on-background {
            background-color: var(--onbackground);
        }

        &:hover {
            border: 1px solid var(--primary);
            transform: translateY(-4px);
            box-shadow: 0 4px 0 0 var(--primary);
            color: var(--primary);
        }
    }

    &:hover {
        border: 1px solid var(--primary);
        transform: translateY(-4px);
        box-shadow: 0 5px 0 0 var(--primary);
        color: var(--primary);
    }
}

/*-------------------------------------------------cool buttons --------------------*/

.cool-button {
    text-align: center;
    font-weight: normal;
    overflow: hidden;
    cursor: pointer;
    padding: 7px 7px;
    width: 200px;
    transition: all 0.3s ease-in-out;
    border-radius: var(--border-hard);

    box-shadow: 0 0 0 0 var(--primary);
    background-color: var(--background);
    color: var(--primary);
    border: 1px solid var(--primary);
    position: relative;
    transform: translateY(0);
    &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 110%;
        bottom: -4px;
        left: 0;
        -webkit-transition: bottom .3s cubic-bezier(.5,2.5,.7,.7);
        -o-transition: bottom .3s cubic-bezier(.5,2.5,.7,.7);
        transition: bottom .3s cubic-bezier(.5,2.5,.7,.7);
    }
    &.old-primary {
        padding: 7px 7px;
        font-size: 12px;
        color: var(--text);
        background-color: var(--onbackground);
        border: 1px solid var(--lighttext);
        border-radius: var(--border-hard);
        transition: all 0.3s ease-in-out;

        &:hover {
            border: 1px solid var(--old-primary);
            transform: translateY(-4px);
            box-shadow: 0 4px 0 0 var(--old-primary);
            color: var(--old-primary);
        }
    }
    &.primary {
        padding: 7px 7px;
        font-size: 12px;
        color: var(--text);
        background-color: var(--onbackground);
        border: 1px solid var(--lighttext);
        border-radius: var(--border-hard);
        transition: all 0.3s ease-in-out;

        &:hover {
            border: 1px solid var(--primary);
            transform: translateY(-4px);
            box-shadow: 0 4px 0 0 var(--primary);
            color: var(--primary);
        }
    }
    &.red {
        padding: 7px 7px;
        font-size: 12px;
        color: var(--text);
        background-color: var(--onbackground);
        border: 1px solid var(--lighttext);
        border-radius: var(--border-hard);
        transition: all 0.3s ease-in-out;

        &:hover {
            border: 1px solid var(--error);
            transform: translateY(-4px);
            box-shadow: 0 4px 0 0 var(--error);
            color: var(--error);
        }
    }


    &:hover,
    &:active,
    &:focus-visible {
        transform: translateY(-4px);
        box-shadow: 0 4px 0 0 var(--primary);
        color: var(--primary);
    }

    &:disabled {
        border: 1px solid var(--lighttext);
        color: var(--lighttext);
        box-shadow: 0 0 0 0 var(--primary);
        transform: translateY(0);
        cursor: not-allowed;
    }
}


.cool-button.cool-small {
    width: 100%;

    &.dark-on-bg {
        background-color: var(--darkonbackground);
        padding: 5px 5px;
    }

    &.on-bg {
        background-color: var(--onbackground);
        padding: 5px 5px;
    }
}


.cool-input {
    font-size: 15px;
    font-weight: normal;
    border-radius: var(--border-radius);
    border: var(--border);
    background-color: var(--darkonbackground);
    color: var(--text);
    width: 100%;
    padding: 5px 10px;
    outline: none;
    transition: all 0.3s ease-in-out;
    position: relative;
    transform: translateY(0);
    &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 110%;
        bottom: -4px;
        left: 0;
        -webkit-transition: bottom .3s cubic-bezier(.5,2.5,.7,.7);
        -o-transition: bottom .3s cubic-bezier(.5,2.5,.7,.7);
        transition: bottom .3s cubic-bezier(.5,2.5,.7,.7);
    }
    &::placeholder {
        color: var(--lighttext);
        opacity: 0.8;
    }

    &:active,
    &:hover,
    &:focus-visible {
        transform: translateY(-4px);
        box-shadow: -3px 4px var(--primary);
    }

}

.grey-input {
    border: 1px solid var(--lighttext);
    position: relative;
    transform: translateY(0);
    &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 110%;
        bottom: -4px;
        left: 0;
        -webkit-transition: bottom .3s cubic-bezier(.5,2.5,.7,.7);
        -o-transition: bottom .3s cubic-bezier(.5,2.5,.7,.7);
        transition: bottom .3s cubic-bezier(.5,2.5,.7,.7);
    }
    &:active,
    &:hover,
    &:focus-visible {
        transform: translateY(-4px);
        box-shadow: -3px 4px var(--lighttext);
    }
}


/*------------------- User setting -----------------------------*/

.static-container {
    position: relative;
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.padding {
    padding: 3rem !important
}

.user-card-full {
    overflow: hidden;
}


.m-r-0 {
    margin-right: 0;
}

.m-l-0 {
    margin-left: 0;
}

.user-card-full .user-profile {
    border-radius: 5px 0 0 5px;
}

.bg-c-lite-green {
    background: var(--old-primary);
}

.user-profile {
    padding: 20px 0;
}

.card-block {
    padding: 1.25rem;
}

.m-b-25 {
    margin-bottom: 25px;
}

.img-radius {
    border-radius: 5px;
}

h6 {
    font-size: 14px;
    margin-bottom: 0;
}

.card .card-block p {
    line-height: 25px;
}

@media only screen and (min-width: 1400px) {
    p {
        font-size: 14px;
    }
}

.card-block {
    padding: 1.25rem;
}

.b-b-default {
    border-bottom: 1px solid var(--bordercolor);
}

.m-b-20 {
    margin-bottom: 20px;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.m-l-5 {
    margin-left: 5px !important;
}

.m-r-5 {
    margin-right: 5px !important;
}

.m-l-3 {
    margin-left: 3px !important;
}

.m-r-3 {
    margin-right: 3px !important;
}

.card .card-block p {
    line-height: 25px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.text-muted {
    color: var(--lighttext) !important;
}


.f-w-600 {
    font-weight: 600;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-t-40 {
    margin-top: 20px;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-t-40 {
    margin-top: 20px;
}

.controlled {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    width: 100%;
}


.profile-pic {
    color: transparent;
    transition: all 0.3s ease;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    & form {
        display: flex;
    }

    & input {
        display: none;
    }

    & img {
        position: absolute;
        object-fit: cover;
        width: 165px;
        height: 165px;
        box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.35);
        border-radius: 100px;
        z-index: 0;
    }

    & .-label {
        cursor: pointer;
        height: 165px;
        width: 165px;
    }

    &:hover {
        & .-label {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.8);
            z-index: 10000;
            color: rgb(250, 250, 250);
            transition: background-color 0.2s ease-in-out;
            border-radius: 100px;
            margin-bottom: 0;
        }
    }

    & span {
        display: inline-flex;
        padding: 0.2em;
        height: 2em;
    }
}

/*-----------------*/

.switch {
    --input-focus: var(--old-primary);
    --bg-color: var(--background);
    --main-color: var(--lighttext);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 50px;
    height: 20px;
}

.toggle {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .slider {
        background-color: var(--input-focus);
    }

    &:checked + .slider:before {
        transform: translateX(30px);
    }
}

.slider {
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: -2px 3px var(--main-color);
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bg-color);
    transition: 0.3s;

    &:before {
        box-sizing: border-box;
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        border: 2px solid var(--main-color);
        border-radius: 5px;
        left: -2px;
        bottom: 2px;
        background-color: var(--bg-color);
        box-shadow: 0 3px 0 var(--main-color);
        transition: 0.3s;
    }
}


/*---------------------------user profile box--------------------------------*/
.grey-container {
    overflow: hidden;
    padding: 1em 1em;
    width: 100%;
    background-color: var(--onbackground);
    color: var(--text);
    border: 1px solid var(--text);
    border-radius: var(--border-radius);
    transition: all 0.3s ease-in-out;
    position: relative;
    transform: translateY(0);
    &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 110%;
        bottom: -4px;
        left: 0;
        -webkit-transition: bottom .3s cubic-bezier(.5,2.5,.7,.7);
        -o-transition: bottom .3s cubic-bezier(.5,2.5,.7,.7);
        transition: bottom .3s cubic-bezier(.5,2.5,.7,.7);
    }
    &:hover {
        transform: translateY(-4px);
        box-shadow: -2px 4px 0 var(--text);
        cursor: pointer;
    }
}

.grey-static-container {
    overflow: hidden;
    padding: 1em 1em;
    width: 100%;
    background-color: var(--onbackground);
    color: var(--text);
    border: 1px solid var(--lighttext);
    border-radius: var(--border-radius);
    transition: all 0.3s ease-in-out;
    transform: translateY(-4px);
    box-shadow: -3px 5px 0 0 var(--lighttext);
}


/*---------------------------------Amenities -----------------------*/

.table-striped {
    --column-padding: 20px;
    color: var(--text);

    & td {
        text-align: center;
    }

    & th {
        text-align: center;

    }

    & th.day,
    & td.day {
        text-align: start;
        padding-left: var(--column-padding);
    }

    & tr:nth-child(even) {
        background-color: var(--onbackground);
    }

    & tr:nth-child(odd) {
        background-color: var(--background);
    }
}

.like-button {
    padding: 7px;
    border-radius: 50px;
    transition: all 0.1s ease-in-out;
    background-color: var(--darkonbackground);
    color: var(--lighttext);
    cursor: pointer;


    &:hover {
        transform: scale(1.1);
    }

    & .pl-3 .pr-3 .pt-2 .pb-2 :hover {
        transform: scale(1.1);

    }


    &.liked {
        color: var(--light-green);
        background-color: inherit;


    }
}

.post-like-button {
    padding: 7px;
    border-radius: 50px;
    transition: all 0.1s ease-in-out;
    background-color: var(--darkonbackground);
    color: var(--lighttext);
    cursor: pointer;

    &.liked {
        color: var(--old-primary);


    }
}


.shifts-reservation {
    width: 100%;
    color: var(--text);

    & table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        overflow: hidden;
        color: var(--text);

        & td {
            padding: 0;
            text-align: center;
        }

        & th {
            font-weight: bolder;
            color: var(--text);
            text-align: center;
        }

        & th.day,
        & td.day {
            text-align: start;
            padding-left: var(--column-padding);
        }

        & tr:nth-child(even) {
            background-color: var(--darkonbackground);
        }

        & tr:nth-child(odd) {
            background-color: var(--onbackground);
        }
    }

    & .cat {
        background-color: var(--onbackground);
        width: 100%;
        border-radius: var(--border-radius);
        border: 1px solid var(--lighttext);
        overflow: hidden;
        float: left;

        & label {
            & span {
                padding: 5px;
                text-align: center;
                display: block;
                cursor: pointer;
                transition: all 0.3s ease-in-out;

                &:hover {
                    color: var(--background);
                    background-color: var(--old-primary);
                }
            }

            & input {
                position: absolute;
                display: none;
                color: var(--text) !important;

                & + span {
                    color: var(--text);
                }

            }
        }

        & input:checked + span {
            color: var(--background);
            background-color: var(--primary);
        }

        & input:disabled + span {
            color: var(--text);
            background-color: var(--lightertext);
            opacity: 0.4;
            cursor: not-allowed;
        }
    }

    & .cat.creation {
        background-color: var(--onbackground);
        width: 100%;
        border-radius: 0;
        border: 1px solid var(--lighttext);
        overflow: hidden;
        float: left;

        & label {
            & span {
                padding: 5px;
                text-align: center;
                display: block;
                cursor: pointer;
                transition: all 0.3s ease-in-out;

                &:hover {
                    color: var(--background);
                    background-color: var(--old-primary);
                }
            }

            & input {
                position: absolute;
                display: none;
                color: var(--text) !important;

                & + span {
                    color: var(--text);
                }

            }
        }

        & input:checked + span {
            color: var(--background);
            background-color: var(--primary);
        }

    }

}


.small-profile-picture {
    width: 15px;
    height: 15px;
    border-radius: 50px;
    object-fit: cover;
    transition: all 0.3s ease-in-out;

    & .placeholder {
        background-color: var(--lighttext);
    }
}


.big-profile-picture {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    object-fit: cover;
    transition: all 0.3s ease-in-out;

    & .placeholder {
        background-color: var(--lighttext);
    }
}


/*TIME----------------------------------*/
input[type=time] {
    position: relative;
    padding: 10px;
    height: 1.5em;
    color: var(--text);
    background-color: var(--darkonbackground);
    border: 1px solid var(--primary);
    border-radius: var(--border-radius);
    appearance: none;
    outline: 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    position: relative;
    transform: translateY(0);
    &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 110%;
        bottom: -4px;
        left: 0;
        -webkit-transition: bottom .3s cubic-bezier(.5,2.5,.7,.7);
        -o-transition: bottom .3s cubic-bezier(.5,2.5,.7,.7);
        transition: bottom .3s cubic-bezier(.5,2.5,.7,.7);
    }
    &::-webkit-calendar-picker-indicator {
        color: var(--text);
        appearance: none;
        outline: 0;
        cursor: pointer;

    }


    &:active,
    &:focus-visible,
    &:hover {
        transform: translateY(-4px);
        box-shadow: -4px 4px var(--primary);
    }
}


.dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1000;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}


.dialog-content {
    position: relative; /* Add position relative to create a positioning context */
    min-width: 400px;
    min-height: 500px;
    padding: 20px;
    background: var(--background);
    border-radius: var(--border-radius);
    border: 2px solid var(--primary);
    box-shadow: -4px 4px var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: var(--text);
}


/*MULTI*/
.neighborhoods-select,
.profession-select {
    & .container {
        padding: 0;
        position: relative;
        max-width: 320px;
        width: 100%;

        & .select-btn {
            display: flex;
            height: 40px;
            align-items: center;
            justify-content: space-between;
            padding: 0 10px 0 10px;
            border-radius: var(--border-hard);
            border: var(--border);
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            background-color: var(--background);
            position: relative;
            transform: translateY(0);
            &::before{
                content: "";
                position: absolute;
                width: 100%;
                height: 110%;
                bottom: -4px;
                left: 0;
                -webkit-transition: bottom .3s cubic-bezier(.5,2.5,.7,.7);
                -o-transition: bottom .3s cubic-bezier(.5,2.5,.7,.7);
                transition: bottom .3s cubic-bezier(.5,2.5,.7,.7);
            }
            &.n-workers {
                background-color: var(--onbackground);
            }

            &:hover {
                transform: translateY(-4px);
                box-shadow: 4px 4px var(--primary);
            }

            & .btn-text {
                white-space: nowrap;
                overflow: clip;
                text-overflow: ellipsis;
                font-size: 15px;
                font-weight: bold;
                color: var(--lightertext);
                max-width: 250px;

                &.c-text {
                    color: var(--text);
                }
            }

            & .arrow-dwn {
                display: flex;
                height: 21px;
                width: 21px;
                color: #fff;
                font-size: 14px;
                border-radius: 50%;
                background: var(--primary);
                align-items: center;
                justify-content: center;
                transition: 0.3s;
            }
        }

        & .open {
            & .arrow-dwn {
                transform: rotate(-180deg);
            }

            & ~ .list-items {
                display: block;
            }
        }

    }


    & .list-items {
        z-index: 10;
        position: absolute;
        padding: 10px;
        background-color: var(--background);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        display: none;
        border-radius: var(--border-radius);
        border: var(--border);
        width: 320px;
        max-height: 200px;
        overflow-y: auto;

        &.n-workers {
            background-color: var(--onbackground);
        }

        &::-webkit-scrollbar {
            width: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--primary);
            border-radius: 8px;
        }

        & .item {
            display: flex;
            align-items: center;
            list-style: none;
            height: 40px;
            cursor: pointer;
            transition: 0.3s;
            padding: 0 10px;
            border-radius: var(--border-radius);
            color: var(--text);

            & .item-text {
                font-size: 16px;
                font-weight: 400;
            }

            & .checkbox {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 16px;
                width: 16px;
                border-radius: var(--border-hard);
                margin-right: 12px;
                border: 1px solid var(--lighttext);
                transition: all 0.3s ease-in-out;
            }

            &:hover {
                color: var(--background);
                border-color: var(--background);
                background-color: var(--old-primary);
            }
        }

    }

    & .item.checked .checkbox {
        background-color: var(--primary);
        border-color: var(--primary);
    }

    & .checkbox .check-icon {
        color: #fff;
        font-size: 11px;
        transform: scale(0);
        transition: all 0.2s ease-in-out;
    }

    & .item.checked .check-icon {
        transform: scale(1);
    }
}
