
/*----------------------- GRID DISPLAY ------------------------------------*/

.row{
    display: flex;
    justify-content: center;

}
.column {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.column-left{
    max-width: 650px;
    flex: 1;
}

.column-right {
    flex: 1;
}

.column-middle {
    flex: 3;
    max-width: 650px;
}
@media (max-width: 984px) {
    .column-right {
        display: none;
    }
}
@media (max-width: 820px) {
    .column-left,
    .column-right {
        display: none;
    }
}


/*-------------------------------NAVBAR-----------------------------*/

.square-button {
    width: 40px;/* Adjust the width as needed */
    height: 40px;/* Set the same height as the width for a square button */
    border: 1px solid var(--bordercolor);
    background-color: var(--background);
    border-radius: 5px;
}

.card {
    background-color: var(--onbackground);
    border-radius: 10px;
}
.custom-navbar {
    background-color: var(--primary);
}

.custom-btn {
    background-color: var(--primary);
}

.navbar-brand {
    font-size: 32px;
    color: var(--background);
}
.navbar-brand:hover {
    color: var(--background);
    text-shadow: 0 0 5px var(--onbackgroundfaded);/* Adjust the values for the desired glow effect */
}

/*---------------------------------- Middle column ---------------------------------------------*/

.upper-feed-buttons-box {
    padding: 1rem;
    top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: var(--onbackground);
    color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: var(--border-radius);
    transform: translateY(-4px) ;
    box-shadow: -3px 5px 0 0 var(--primary);
}
.filter-button {
    border-radius: 25px;
    padding: 10px 20px;
    margin: 5px;
    border: 1px solid var(--lighttext); /* Add a 1px solid border with your desired color */
}
.filter-button:hover{
    border: 1px solid var(--primary); /* Add a 1px solid border with your desired color */
}
.filter-button.selected {
    border: 2px solid var(--primary);
}

/* Styling for the post input */
.post-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px; /* Rounded input field */
}

/* Styling for the post submit button */
.post-button {
    background-color: var(--primary);
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 5px; /* Rounded button */
    cursor: pointer;
}

/* ----------------------------------------------------- BlogPosts CSS-------------------------------------------------*/

.upper-feed-buttons-box {

}
.blogpost {
    margin: 1.25rem auto;
    padding: 20px;

    width: 100%;
    background-color: var(--onbackground);
    border: 1px solid var(--primary);
    border-radius: var(--border-radius);
    transition: all 0.3s ease-in-out;
}

.blogpost:hover{
    transform: translateY(-4px) ;
    box-shadow: -3px 5px 0 0 var(--primary);
}

.blogpost-author-and-date{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}
.post-author{
    font-size: 14px;
    color: var(--lighttext);
    white-space: nowrap; /* Prevent text from wrapping to the next line */
    overflow: hidden;    /* Hide overflowing content */
    text-overflow: ellipsis;
}

.post-date{
    font-size: 12px;
    color: var(--lighttext);
    white-space: nowrap; /* Prevent text from wrapping to the next line */
    overflow: hidden;    /* Hide overflowing content */
    text-overflow: ellipsis;

}
.post-description {
    max-height: calc(1.2em * 10); /* Adjust the line height and number of lines as needed */
    overflow: hidden;
    position: relative;
    color: var(--lighttext);
}
.post-description::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transition: all 0.3s ease-in-out;
    height: 20px; /* Adjust the height to control the fade-out length */
    background: linear-gradient(to bottom, var(--onbackgroundfaded), var(--onbackground));
}

.post-header {
    font-size: 16px;
    font-weight: bold;
}
.post-title{
    font-size: 24px;
    font-weight: bold;
    color: var(--text);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.blogpost-image{
    max-width: 100%;
    max-height: 100vh;
    border-radius: 10px;
}

.post-title:hover{
    color: var(--primary);
}


.post-info {
    font-size: 16px;
    color: #888;
    margin: 5px;
    border-radius: 5px;
}

.post-content {
    margin-top: 10px;
    font-size: 14px;
}

.no-posts-found{
    width: 100%;
    height: 300px;
    border: 2px solid var(--bordercolor);
    padding: 20px;
    margin: 10px auto;
    background-color: var(--onbackground);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.circle-icon {
    border: var(--text) 2px solid;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.error {
    color: var(--error);
}
/*------------------- PLACEHOLDER -----------------------------------*/

.placeholder{
    margin:1px auto;
    border-radius: 3px;
}

/*-------------------------POSTCARD ---------------------------*/

.post-section{
    width: 100%;
    padding: 10px;
    background-color: var(--darkonbackground);
    border-radius: 10px;
    border : 1px solid var(--bordercolor);
}

.comments-section-divider {
    text-align: center;
    margin: 20px 0;
}

.divider-title {
    font-size: 14px;
    color: var(--lighttext);
    margin-bottom: 10px;
}

.divider-line {
    border: 0;
    border-top: 2px solid var(--darkonbackground);
    width: 100%;
}

/*--------------------------WAVE ------------------------*/

.wave {
    position: absolute;
    top: 100px;
    width: 100%;
    overflow: hidden;
    z-index: 0;
}


.svg-logo{
    margin: 10px;
}

.container {
    position: relative;
    top: 20px;

}

/*--------------------LEFT COLUMN----------------------------*/

.left-column-container {
    position: relative;
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.left-box {
    position: sticky;
    padding: 1rem;
    top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 500px;
    background-color: var(--onbackground);
    color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: var(--border-radius);
    transform: translateY(-4px) ;
    box-shadow: -3px 5px 0 0 var(--primary);
}

.left-column-button {
    width: 100%;
    text-align: left;
    border: 2px solid var(--bordercolor);
    padding: 10px;
    margin: 5px auto;
    background-color: var(--onbackground);
    border-radius: 10px;
    color: var(--text);
    white-space: nowrap;
    text-overflow: ellipsis;
}
.sticky-bottom-button{
    position: sticky;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1.25rem;
}
.left-column-button:hover {
    border-color: var(--primary);
}

.left-column-button.active {
    border-color: var(--primary);
}


.cool-left-button {
    text-align: left;
    font-weight: bolder;
    overflow: hidden;
    cursor: pointer;
    padding: 1em 1em;
    width: 200px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 0 0 var(--primary);
    background-color: var(--onbackground);
    color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: var(--border-radius);
}

.cool-left-button:hover ,
.cool-left-button:active ,
.cool-left-button:focus-visible {
    transform: translateY(-4px) ;
    box-shadow: 0 5px 0 0 var(--primary);
    color: var(--primary);
}


/*----------------------------WEATHER ------------------------------------*/

.cardContainer {
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
}

.weather-card {
    position: relative;
    width: 220px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    border-radius: 10px;
    backdrop-filter: blur(30px);
    background-color: var(--lighttext);
    border: 1px solid var(--primary);
    cursor: pointer;
}

.city {
    font-weight: 700;
    font-size: 0.9em;
    letter-spacing: 1.2px;
    color: white;
}

.weather {
    font-weight: 500;
    font-size: 0.7em;
    letter-spacing: 1.2px;
    color: rgb(0, 0, 0);
}

.temp {
    font-size: 1.8em;
    color: #b8e379;
}

.minmaxContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.min,.max {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 0px 20px;
    gap: 4px;
}

.max {
    align-items: flex-start;
    border-left: 2px solid white;
}

.maxHeading,.minHeading {
    font-size: 0.7em;
    font-weight: 600;
    color: white;
}

.maxTemp,.minTemp {
    font-size: 0.6em;
    font-weight: 500;
    color: rgb(197, 197, 197);
}

.cardContainer::before {
    width: 100px;
    height: 100px;
    content: "";
    position: absolute;
    background-color: rgb(144, 161, 255);
    z-index: -1;
    border-radius: 50%;
    left: 100px;
    top: 50px;
    transition: all 1s;
}

.cardContainer:hover::before {
    transform: translate(-50px ,50px);
}

/*-------------------------------------PUBLISH/TAG INPUT------------------------*/
.form-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.form-group{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.form-input{
    width: 50%;
    margin: 5px;
}

.tags-input {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    border: 2px solid var(--bordercolor);
    padding: 10px;
    margin: 10px auto;
    background-color: var(--onbackground);
    border-radius: 10px;

}

.tags-input-wrapper{
    background: transparent;
    padding: 10px;
    border-radius: 4px;
    max-width: 400px;
    border: 1px solid #ccc
}
.tags-input-wrapper input{
    border: none;
    background: transparent;
    outline: none;
    width: 140px;
    margin-left: 8px;
}
.tags-input-wrapper .tag{
    display: inline-block;
    background-color: var(--accent);
    color: white;
    border-radius: 40px;
    padding: 0px 3px 0px 7px;
    margin-right: 5px;
    margin-bottom:5px;
    box-shadow: 0 0px 0px -2px var(--accent);
}
.tags-input-wrapper .tag a {
    margin: 0 7px 3px;
    display: inline-block;
    cursor: pointer;
}


.return-btn {
    color: var(--text);
}
/* IMAGEN */

.drop-container {
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
    border: 2px dashed var(--lighttext);
    color: var(--text);
    cursor: pointer;
    transition: background .2s ease-in-out, border .2s ease-in-out;
}

.drop-container:hover,
.drop-container.drag-active {
    background: var(--darkonbackground);
    border-color: var(--primary);
}

.drop-container:hover .drop-title,
.drop-container.drag-active .drop-title {
    color: var(--text);
}

.drop-title {
    color: var(--text);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: color .2s ease-in-out;
}

input[type=file] {
    width: 350px;
    max-width: 100%;
    color: var(--text);
    padding: 5px;
    background: var(--background);
    border-radius: 10px;
    border: 1px solid var(--bordercolor);
}

input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: var(--text);
    padding: 10px 20px;
    border-radius: 10px;
    color: var(--background);
    cursor: pointer;
    transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
    background: var(--primary);
}
/*-------------------PAGINATION SELECTOR -----------------------------------*/
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    color:var(--text);
}

.pagination-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: var(--onbackground);
    margin: 5px;
    transition: all 0.3s ease-in-out;

}


.pagination.small-a{
    width: 30px; /* Adjust the width as needed for smaller buttons */
    height: 30px; /* Set the same height as the width for square buttons */
    padding: 4px;
}


.pagination-button.active {
    background-color: var(--primary); /* Use the primary color for the active button */
    color: white;
}
.pagination-button.small-a {
    width: 30px; /* Adjust the width as needed for smaller buttons */
    height: 30px; /* Set the same height as the width for square buttons */
    font-size: 16px; /* Adjust the font size for the button content */
    padding: 4px; /* Adjust padding for better visual alignment */
}
.pagination-button:hover:not(.active) {
    transform: translateY(-2px);
    box-shadow: 0 5px 0 0 var(--primary);
    color: var(--primary);
}


/*-------------------------FOOTER ------------------------------*/



footer {
    width:100%;
    position:relative;
    bottom:0;
}
footer div {
    background-color:var(--primary);
    margin: -5px 0 0 0;
    color: #fff;
    text-align:center;
}


.wave-footer {
    animation: wave-footer 3s linear;
    animation-iteration-count:infinite;
    fill: var(--primary);
}


#wave2 {
    animation-duration:5s;
    animation-direction: reverse;
    opacity: .6
}
#wave3 {
    animation-duration: 7s;
    opacity:.3;
}

@keyframes wave-footer {
    to {transform: translateX(-100%);}
}

/*------------------------------------------------- requestmanager request manager --------------------*/

.req-acc-users-list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    width: 100%;
    background-color: var(--onbackground);
    color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: var(--border-radius);
    transform: translateY(-4px) ;
    box-shadow: -3px 5px 0 0 var(--primary);
}
.user-row{
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.divider {
    height: 2px;
    width: 100%;
    background-color: var(--bordercolor);
}
.acceptance{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.ignore-button{
    font-size: 12px;
    padding: 10px;
    color: var(--text);
    background-color: var(--background);
    border: 1px solid var(--bordercolor);
    border-radius: var(--border-hard);
    transition: all 0.3s ease-in-out;
}
.ignore-button:hover{
    border: 1px solid var(--error);
    transform: translateY(-4px) ;
    box-shadow: 0 5px 0 0 var(--error);
    color: var(--error);
}

/*-------------------------------------------------cool buttons --------------------*/

.cool-button {
    text-align: center;
    font-weight: normal;
    overflow: hidden;
    cursor: pointer;
    padding: 1em 1em;
    width: 200px;
    transition: all 0.3s ease-in-out;

    box-shadow: 0 0 0 0 var(--primary);
    background-color: var(--background);
    color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: var(--border-hard);
}

.cool-button:hover ,
.cool-button:active ,
.cool-button:focus-visible {
    transform: translateY(-4px) ;
    box-shadow: 0 5px 0 0 var(--primary);
    color: var(--primary);
}

.cool-button.cool-small{
    width: 120px;

}


