
.landing-body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.drawings {
    position: fixed;
    width: 100%;
    overflow: hidden;
    z-index: 0;
    bottom: 0;
}

.content-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.landing-navbar {
    width: 100%;
    height: 20%;
    gap: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.navbar-item{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    gap:50px;
}

.landing-neibo{
    font-size: 80px;
    font-weight: bold;
    color: var(--primary);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 3rem;
    text-align: center;
}

#logo{
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing-description{
    color: var(--lighttext);
    max-width: 400px;
    text-align: center;
    text-overflow: clip;
}





.action-button {
    text-align: center;
    font-weight: normal;
    overflow: hidden;
    width: 200px;
    background-color: var(--background);
    color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: var(--border-hard);
    padding: 1em 2em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 0 0 var(--primary);
}

.action-button:hover ,
.action-button:active ,
.action-button:focus {
    transform: translateY(-4px) ;
    box-shadow: 0 5px 0 0 var(--primary);
    color: var(--primary);
}

/*----------------------------------- LOGIN POPUP --------------------*/
.dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1000;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.dialog-content {
    position: relative; /* Add position relative to create a positioning context */
    width: 400px;
    height: 500px;
    padding: 20px;
    background: var(--background);
    border-radius: var(--border-radius);
    border: 2px solid var(--primary);
    box-shadow: 4px 4px var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}


.login-form {
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input {
    height: 40px;
    border-radius: var(--border-hard);
    border: 1px solid var(--primary);
    background-color: var(--background);
    font-size: 15px;
    font-weight: 600;
    color: var(--text);
    padding: 5px 10px;
    outline: none;
    transition: all 0.3s ease-in-out;
}

.input::placeholder {
    color: var(--lighttext);
    opacity: 0.8;
}
.input:active,
.input:hover,
.input:focus-visible {
    transform: translateY(-4px) ;
    box-shadow: 4px 4px var(--primary);
}


.title {
    color: var(--primary);
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 25px;
    text-align: center;
}

.title span {
    color: var(--lighttext);
    font-weight: 600;
    font-size: 17px;
}



.a-link{
    color: var(--old-primary);
    font-weight: bold;
}

.a-link:hover{
    color: var(--primary);
    cursor: pointer;
}


.centered-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.centered-row.light-text{
    color: var(--lighttext);
}

.centered-column{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
/**/
