
.landing-body {
    margin: 0;
    padding: 0;
}
.drawings {
    position: absolute;
    width: 100%;
    scroll-behavior: smooth;
    overflow: hidden;
    z-index: -1;
    bottom: 0;
    left: 0;
}

.content-container {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;

}

.landing-navbar {
    width: 100%;
    height: 20%;
    gap: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.navbar-item{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    gap:50px;
}
.landing-neibo{
    font-size: 80px;
    font-weight: bold;
    color: var(--primary);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 50px;
    text-align: center;
    font-family: -apple-system-headline, BlinkMacSystemFont, sans-serif;
}

#logo{
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing-description{
    color: var(--lighttext);
    max-width: 400px;
    text-align: center;
    text-overflow: clip;
}





.action-button {
    text-align: center;
    font-weight: normal;
    overflow: hidden;
    width: 200px;
    background-color: var(--background);
    color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: var(--border-hard);
    padding: 1em 2em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 0 0 var(--primary);
    &:hover ,
    &:active ,
    &:focus {
        transform: translateY(-4px) ;
        box-shadow: 0 5px 0 0 var(--primary);
        color: var(--primary);
    }
}



/*----------------------------------- LOGIN POPUP --------------------*/





.signup-content{
    height: 650px;
    width: 500px;
}


.login-form {
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input[type="text"],
input[type="number"],
.input {
    width: 100%;
    height: 40px;
    border-radius: var(--border-hard);
    border: 1px solid var(--primary);
    background-color: var(--background);
    font-size: 15px;
    font-weight: 600;
    color: var(--text);
    padding: 5px 10px;
    outline: none;
    transition: all 0.3s ease-in-out;
    &::placeholder {
        color: var(--lighttext);
        opacity: 0.8;
    }
    &:active,
    &:hover,
    &:focus-visible{
        transform: translateY(-4px) ;
        box-shadow: 4px 4px var(--primary);
    }
}

.form-input{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.title {
    color: var(--primary);
    font-weight: 900;
    font-size: 20px;
    text-align: center;
}

.title span {
    color: var(--lighttext);
    font-weight: 600;
    font-size: 17px;
}



.a-link{
    color: var(--old-primary);
    font-weight: bold;
}

.a-link:hover{
    color: var(--primary);
    cursor: pointer;
}


.centered-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    &.light-text{
        color: var(--lighttext);
    }
}



.centered-column{
    margin: 1rem;
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.cool-select {
    font-size: 15px;
    font-weight: bold;
    border-radius: var(--border-hard);
    border: 1px solid var(--primary);
    background-color: var(--background);
    color: var(--text);
    width: 100%;
    padding: 5px 10px;
    outline: none;
    transition: all 0.3s ease-in-out;

    &::placeholder {
        color: var(--lighttext);
        opacity: 0.8;
    }
    &:active,
    &:hover,
    &:focus-visible
    &:focus,
    &:focus-visible{
        transform: translateY(-4px) ;
        box-shadow: 4px 4px var(--primary);
    }
}


.landing-error{
    color: var(--error);
    font-size: 14px;
}



/*MULTI*/
.profession-select{
    & .container{
        padding: 0;
        position: relative;
        max-width: 320px;
        width: 100%;
        & .select-btn{
            display: flex;
            height: 40px;
            align-items: center;
            justify-content: space-between;
            padding: 0 10px 0 10px;
            border-radius: var(--border-hard);
            border: var(--border);
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            background-color: var(--background);

            &:hover{
                transform: translateY(-4px) ;
                box-shadow: 4px 4px var(--primary);
            }
            & .btn-text{
                white-space: nowrap;
                overflow: clip;
                text-overflow: ellipsis;
                font-size: 15px;
                font-weight: bold;
                color: var(--lightertext);
                max-width: 250px;
                &.c-text{
                    color: var(--text);
                }
            }
            & .arrow-dwn{
                display: flex;
                height: 21px;
                width: 21px;
                color: #fff;
                font-size: 14px;
                border-radius: 50%;
                background: var(--primary);
                align-items: center;
                justify-content: center;
                transition: 0.3s;
            }
        }

        & .open {
            & .arrow-dwn {
                transform: rotate(-180deg);
            }
            &  ~ .list-items{
                display: block;
            }
        }

    }


    & .list-items {
        z-index: 10;
        position: absolute;
        padding: 10px;
        background-color: var(--background);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        display: none;
        border-radius: var(--border-radius);
        border:var(--border);
        width: 320px;
        max-height: 200px;
        overflow-y: auto;
        &::-webkit-scrollbar {
            width: 10px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: var(--primary);
            border-radius: 8px;
        }
        & .item{
            display: flex;
            align-items: center;
            list-style: none;
            height: 40px;
            cursor: pointer;
            transition: 0.3s;
            padding: 0 10px;
            border-radius: var(--border-radius);
            color: var(--text);
            & .item-text{
                font-size: 16px;
                font-weight: 400;
            }
            & .checkbox{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 16px;
                width: 16px;
                border-radius: var(--border-hard);
                margin-right: 12px;
                border: 1px solid var(--lighttext);
                transition: all 0.3s ease-in-out;
            }
            &:hover{
                color: var(--background);
                border-color: var(--background);
                background-color: var(--old-primary);
            }
        }

    }

    & .item.checked .checkbox{
        background-color: var(--primary);
        border-color: var(--primary);
    }
    & .checkbox .check-icon{
        color: #fff;
        font-size: 11px;
        transform: scale(0);
        transition: all 0.2s ease-in-out;
    }
    & .item.checked .check-icon{
        transform: scale(1);
    }
}
