.card-container {
    width: 100%;
    border: 1px solid var(--bordercolor);
    padding: 10px;
    margin: 10px auto;
    background-color: var(--onbackground);
    border-radius: 10px;
}

/* Style for the post information */


/* Style for comments */
.comments-section {
    margin-top: 20px;
}

/* Individual comment style */

.comment {
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
    background-color: var(--darkonbackground);
}

.comment .comment-header {
    font-weight: bold;
    color: var(--lighttext);

}

.comment .comment-body {
    color: var(--text);
}
/*--------------------------*/

