.card-container {
    width: 100%;
    padding: 20px;

    transform: translateY(-4px) ;
    box-shadow: -3px 5px 0 0 var(--primary);
    background-color: var(--onbackground);
    color: var(--text);
    border: var(--border);
    border-radius: var(--border-radius);
}

/* Style for the post information */

/* Style for comments */
.comments-section {
    margin-top: 20px;
}

/* Individual comment style */

.comment {
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
    background-color: var(--darkonbackground);
}

.comment .comment-header {
    font-weight: bold;
    color: var(--lighttext);

}

.comment .comment-body {
    color: var(--text);
}

.postcard-description {
    overflow: hidden;
    position: relative;
    color: var(--text);
    white-space: normal; /* Allow text to wrap within the container */
}


.cool-comment {
    font-size: 15px;
    font-weight: 600;
    border-radius: var(--border-radius);
    border: 1px solid var(--lighttext);
    background-color: var(--darkonbackground);
    color: var(--text);
    width: 100%;
    padding: 5px 10px;
    outline: none;
    transform: translateY(-4px) ;
    box-shadow: 2px 2px var(--lighttext);
}