<div class="container">
  <div class="cool-static-container-profile p-0">
    <div class="page-content" id="page-content">
      <div class="row m-l-0 m-r-0">
        <div
          class="col-md-4 user-profile align-items-center justify-content-center bg-c-{{
            theme
          }}"
        >
          <div class="card-block text-center text-white mt-5">
            <div class="m-b-25">
              <div class="profile-pic">
                <!-- Instead of JSP form, use a normal file input and handle the event in TS -->
                <label class="-label" for="file">
                  <span class="glyphicon glyphicon-camera"></span>
                  <span>{{
                    'USER-PROFILE-PAGE.CHANGE_PROFILE_IMAGE' | translate
                  }}</span>
                </label>
                <input
                  id="file"
                  type="file"
                  accept="image/*"
                  (change)="onProfilePictureSelected($event)"
                  style="display: none"
                />
                <img
                  id="output"
                  [src]="
                    profileImageSafeUrl || 'assets/images/default-profile.png'
                  "
                  alt="profile_picture_img"
                />
              </div>
            </div>
            <h6 class="bold mb-5 font-size-24">{{ currentUser?.name }}</h6>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card-block mt-5">
            <h3 class="p-b-5 f-w-600">
              {{ 'USER-PROFILE-PAGE.INFORMATION' | translate }}
            </h3>
            <div class="divider mb-3 mt-3"></div>
            <div class="row">
              <div class="col-md-6 mb-2">
                <p class="m-b-10">
                  {{ 'USER-PROFILE-PAGE.EMAIL' | translate }}
                </p>
                <h6 class="text-muted f-w-400">{{ currentUser?.email }}</h6>
              </div>
              <div class="col-md-6 mb-2">
                <p class="m-b-10">
                  {{ 'USER-PROFILE-PAGE.NAME' | translate }}
                </p>
                <h6 class="text-muted f-w-400">{{ currentUser?.name }}</h6>
              </div>
            </div>
            <div class="row m-t-40">
              <div class="col-md-6 mb-2">
                <p class="m-b-10 f-w-500">
                  {{ 'USER-PROFILE-PAGE.SURNAME' | translate }}
                </p>
                <h6 class="text-muted f-w-400">{{ currentUser?.surname }}</h6>
              </div>
              <div class="col-md-6 mb-2">
                <p class="m-b-10">
                  {{ 'USER-PROFILE-PAGE.USER_SINCE' | translate }}
                </p>
                <h6 class="text-muted f-w-400">
                  {{ currentUser?.creationDate }}
                </h6>
              </div>
            </div>

            <h3 class="p-b-5 f-w-600 pt-5">Preferences</h3>
            <div class="divider mb-3 mt-3"></div>

            <div class="row m-t-40">
              <!-- Dark mode toggle -->

              <!-- Language toggle -->
              <div class="col-md-6 mb-2">
                <p class="m-b-10 f-w-500">
                  {{ 'USER-PROFILE-PAGE.LANGUAGE' | translate }}
                </p>
                <div class="controlled">
                  <h6 class="text-muted f-w-400">
                    {{ 'USER-PROFILE-PAGE.ENGLISH' | translate }}
                  </h6>
                  <label class="switch">
                    <input
                      class="toggle"
                      type="checkbox"
                      [checked]="isSpanish"
                      (change)="toggleLanguage()"
                    />
                    <span class="slider"></span>
                    <span class="card-side"></span>
                  </label>
                  <h6 class="text-muted f-w-400">
                    {{ 'USER-PROFILE-PAGE.SPANISH' | translate }}
                  </h6>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-end mt-4 p-4">
            <a
              (click)="logout()"
              class="cool-button cool-small on-bg font-weight-normal p-3"
              style="width: auto"
            >
              {{ 'USER-PROFILE-PAGE.LOGOUT' | translate }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="invisible-div"></div>

<app-wave-footer [theme]="theme"></app-wave-footer>
