<div class="container">
  <div class="service-card">
    <button
      *ngIf="isTheWorker"
      id="editProfileButton"
      class="cool-action-button rounded services-button edit-profile-button"
      (click)="openEditProfile.emit()"
    >
      <i class="fa-solid fa-user-pen ml-1"></i>

      {{ 'SERVICE-PROVIDERS-CONTENT.EDIT_PROFILE' | translate }}
    </button>
    <div class="card-header">
      <img
        class="back-image"
        [src]="backgroundImageUrl"
        alt="profile_background_picture_img"
      />
    </div>
    <div
      class="card-body"
      [attr.data-profile-image]="profileImageUrl"
      style="--background-image: url({{ profileImageUrl }})"
    >
      <div class="inner f-c-c-c">
        <div style="font-size: 2em; margin-bottom: 10px" class="c-services">
          <strong>{{ worker?.businessName }}</strong>
        </div>

        <div
          class="f-r-c-c w-75"
          style="gap: 0.5em; flex-wrap: wrap"
          *ngIf="worker?.professions?.length > 0"
        >
          <ng-container *ngFor="let profession of worker?.professions">
            <span
              class="profession-style"
              (click)="setProfession(profession)"
              title="Click to learn more"
            >
              {{
                'TAGS-FILTER-WIDGET.PROFESSIONS.' + profession.name | translate
              }}
            </span>
          </ng-container>
        </div>

        <span class="c-light-text"> {{ worker?.phoneNumber }} </span>
        <span class="c-light-text"> {{ worker?.address }} </span>

        <!-- bio -->
        <p class="c-light-text mr-3 ml-3" style="text-align: center">
          {{ worker?.bio }}
        </p>
      </div>
    </div>
    <div class="card-footer m-3">
      <div class="inner">
        <div class="c-services">
          {{
            averageRating && averageRating > 0
              ? (averageRating | number : '1.2-2')
              : '--'
          }}
        </div>
        <div class="c-light-text">
          {{ 'SERVICE-PROVIDERS-CONTENT.RATING' | translate }}
        </div>
      </div>
      <div class="inner">
        <div class="c-services">{{ reviewsCount || 0 }}</div>
        <div class="c-light-text">
          {{ 'SERVICE-PROVIDERS-CONTENT.REVIEWS' | translate }}
        </div>
      </div>
      <div class="inner">
        <div class="c-services">{{ postCount || 0 }}</div>
        <div class="c-light-text">
          {{ 'SERVICE-PROVIDERS-CONTENT.POSTS' | translate }}
        </div>
      </div>
    </div>
  </div>
</div>
