<!-- Possibly a switch to show verified or unverified neighbors -->
<div class="cool-static-container p-3">
  <!-- If there are no users -->
  <div class="f-r-s-c w-100 p-2">
    <h2 class="mb-0">
      {{ neighbors ? ("ADMIN-NEIGHBORS-REQUESTS-PAGE.CURRENT_NEIGHBORS" | translate) : ("ADMIN-NEIGHBORS-REQUESTS-PAGE.PENDING_NEIGHBOR_REQUESTS" | translate) }}
    </h2>
  </div>
  <div class="divider"></div>

  <div class="user-row" *ngIf="users.length === 0">
    <div class="information">
      <!-- This is your fallback message -->
      <div>{{ "ADMIN-NEIGHBORS-REQUESTS-PAGE.NO_NEW_REQUESTS_FOUND" | translate }}</div>
    </div>
  </div>

  <!-- If we have users -->
  <div class="w-100" *ngFor="let user of users; let i = index">
    <div class="user-row">
      <div class="f-r-s-c placeholder-glow">
        <div>
          <img
            [src]="
              user.image ? user.image : '/assets/images/default-profile.png'
            "
            class="big-profile-picture"
            style="width: 50px; height: 50px"
            [alt]="'user_picture_img_' + user.self"
          />
        </div>
        <div class="information">
          <div>
            <span style="color: var(--text)">{{ "ADMIN-NEIGHBORS-REQUESTS-PAGE.NAME" | translate }} </span>
            <span style="color: var(--primary)">{{ user.name }}</span>
          </div>
          <div>
            <span style="color: var(--text)">{{ "ADMIN-NEIGHBORS-REQUESTS-PAGE.SURNAME" | translate }} </span>
            <span style="color: var(--primary)">{{ user.surname }}</span>
          </div>
          <div>
            <span style="color: var(--text)">{{ "ADMIN-NEIGHBORS-REQUESTS-PAGE.EMAIL" | translate }} </span>
            <span style="color: var(--primary)">{{ user.email }}</span>
          </div>
          <div>
            <span style="color: var(--text)">{{ "ADMIN-NEIGHBORS-REQUESTS-PAGE.IDENTIFICATION" | translate }} </span>
            <span style="color: var(--primary)">{{ user.identification }}</span>
          </div>
        </div>
      </div>

      <div class="f-r-c-c">
        <button class="ignore-button outlined on-bg" (click)="rejectUser(user)">
          {{ neighbors ? ("ADMIN-NEIGHBORS-REQUESTS-PAGE.REMOVE" | translate) : ("ADMIN-NEIGHBORS-REQUESTS-PAGE.REJECT" | translate) }}
        </button>
        <button
          *ngIf="!neighbors"
          class="cool-button cool-small font-weight-normal on-bg p-2"
          (click)="verifyUser(user)"
        >
        {{ "ADMIN-NEIGHBORS-REQUESTS-PAGE.ACCEPT" | translate }}
        </button>
      </div>
    </div>
    <div class="divider" *ngIf="i < users.length - 1"></div>
  </div>
  <app-paginator
    [totalPages]="totalPages"
    [currentPage]="currentPage"
    [pageSize]="pageSize"
    [theme]="'admin'"
    (pageChange)="onPageChange($event)"
  >
  </app-paginator>
</div>
