<div class="cool-static-container shifts-reservation">
  <h2 class="card-title">
    {{ 'ADMIN-AMENITY-CREATE-PAGE.CREATE_NEW_AMENITY' | translate }}
  </h2>
  <div class="divider"></div>
  <div>
    <form [formGroup]="amenityForm" (ngSubmit)="onSubmit()" novalidate>
      <!-- Amenity Name -->
      <div
        class="d-flex flex-column justify-content-between align-items-center mb-2 mt-2"
      >
        <div class="form-row">
          <input
            formControlName="name"
            class="cool-input"
            [placeholder]="'ADMIN-AMENITY-CREATE-PAGE.AMENITY_NAME' | translate"
            type="text"
          />
          <app-form-error
            class="w-100"
            [control]="nameControl"
            [centered]="false"
          ></app-form-error>
        </div>
      </div>

      <!-- Amenity Description -->
      <div
        class="d-flex flex-column justify-content-between align-items-center"
      >
        <div class="form-row">
          <textarea
            formControlName="description"
            class="cool-input textarea-min-max"
            rows="5"
            [placeholder]="'ADMIN-AMENITY-CREATE-PAGE.DESCRIPTION' | translate"
          ></textarea>
          <app-form-error
            class="w-100"
            [control]="descControl"
            [centered]="false"
          ></app-form-error>
        </div>
      </div>

      <p class="m-t-40">
        {{ 'ADMIN-AMENITY-CREATE-PAGE.AMENITY_HOURS' | translate }}
      </p>
      <div class="divider mt-2 mb-3"></div>

      <!-- Action buttons -->
      <div class="f-r-sb-c w-100 ps-3 pe-3">
        <a (click)="check9to5()" class="w-100 cool-button cool-small on-bg">
          {{ 'ADMIN-AMENITY-CREATE-PAGE.917' | translate }}
        </a>
        <a (click)="uncheckWeekends()" class="w-100 cool-button red">
          {{ 'ADMIN-AMENITY-CREATE-PAGE.CLEAR_WEEKEND' | translate }}
        </a>
        <a (click)="clearAllCheckedHours()" class="w-100 cool-button red">
          {{ 'ADMIN-AMENITY-CREATE-PAGE.CLEAR_ALL' | translate }}
        </a>
      </div>

      <!-- Time Table -->
      <div class="cool-table w-100 p-4">
        <table>
          <tr>
            <th>{{ 'ADMIN-AMENITY-EDIT-PAGE.ROW' | translate }}</th>
            <th *ngFor="let d of uniqueDays">
              {{ getAbbreviatedDay(d) | translate }}
            </th>
          </tr>
          <tr *ngFor="let time of uniqueTimes; let rowIndex = index">
            <td>
              <label class="container">
                <input
                  type="checkbox"
                  [checked]="isRowSelected(time)"
                  (click)="toggleRow(time)"
                />
              </label>
            </td>
            <td
              *ngFor="let day of uniqueDays"
              [class.selected]="isShiftSelectedByDayTime(day, time)"
            >
              <div
                class="cell-wrapper"
                (click)="toggleCellSelection(day, time)"
              >
                {{ formatTime(time) }}
              </div>
            </td>
          </tr>
        </table>
      </div>

      <!-- Info Text -->
      <div class="f-c-c-c">
        <div class="f-r-c-c" style="gap: 5px">
          {{ 'ADMIN-AMENITY-CREATE-PAGE.REMEMBER_THAT' | translate }}
          <span class="c-primary font-weight-bolder">
            {{ 'ADMIN-AMENITY-CREATE-PAGE.ONLY_SELECTED_SHIFTS' | translate }}
          </span>
          {{
            'ADMIN-AMENITY-CREATE-PAGE.WILL_BE_ACTIVE_FOR_YOUR_AMENITY'
              | translate
          }}
        </div>
      </div>

      <!-- Submit Button -->
      <div class="d-flex justify-content-end m-t-40">
        <button
          id="submit-checks"
          type="submit"
          class="cool-button cool-small on-bg w-25"
          style="height: 40px"
          [disabled]="!anyShiftChecked"
        >
          {{ 'ADMIN-AMENITY-CREATE-PAGE.CREATE' | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
