<div class="dialog" id="loginDialog" style="display: flex"  [ngClass]="{'show-dialog': showLoginDialog}">
  <div class="dialog-content">
    <div class="close-button" (click)="closeLoginDialog()">
      <i class="fas fa-close"></i>
    </div>
    <div class="title mb-2 mt-5 f-c-c-c" style="gap:5px">
      Welcome to neibo
      <span class=" font-weight-normal">Log in to continue </span>
    </div>

    <form method="post" class="login-form" id="loginForm">

      <div class="centered-column">
        <label>
          <!--TODO i18n placeholder y agregar el email si ya intento loggear-->
          <input type="email" placeholder="Email" name="mail" class="input" value="">
        </label>

        <label>
          <!--TODO i18n placeholder-->
          <input type="password" placeholder="Password" autocomplete="true" name="password" class="input">
        </label>

      </div>

      <label class="centered-row light-text">
        <input name="rememberMe" type="checkbox">
        Remember me
      </label>

      <div class="centered-column">

        <button class="action-button font-weight-bolder" onclick="tryLogin()">
          Login
        </button>
        <span style="color:var(--lighttext); font-size: 14px;">Not a member yet?
                        <a (click)="openSignupDialog()" class="a-link">Sign up now</a>
                </span>
        <script>
          /*function tryLogin() {
            if (document.getElementById("loginForm").checkValidity()) {
              document.getElementById("loginForm").submit();
            }
          }*/
        </script>
      </div>

    </form>
  </div>
</div>
