

<div class="dialog" id="loginDialog" style="display: flex"  [ngClass]="{'show-dialog': showLoginDialog}">
  <div class="dialog-content">
    <div class="close-button" (click)="closeLoginDialog()">
      <i class="fas fa-close"></i>
    </div>
    <div class="title mb-2 mt-5 f-c-c-c" style="gap:5px">
      Welcome to neibo
      <span class=" font-weight-normal">Log in to continue </span>
    </div>

    <form (ngSubmit)="tryLogin()" method="post" class="login-form" id="loginForm">
      <div class="centered-column">
        <label>
          <!-- TODO: reinsertar mail al fallo -->
          <input type="email" placeholder="Email" i18n-placeholder name="mail" class="input" [(ngModel)]="email">
        </label>
        <label>
          <input type="password" placeholder="Password" i18n-placeholder autocomplete="true" name="password" class="input" [(ngModel)]="password">
        </label>
      </div>
      <label class="centered-row light-text">
        <input name="rememberMe" type="checkbox" [(ngModel)]="rememberMe">
        Remember me
      </label>
      <div class="centered-column">
        <button type="submit" class="action-button font-weight-bolder">
          Login
        </button>
        <span style="color:var(--lighttext); font-size: 14px;">Not a member yet?
        <a (click)="openSignupDialog()" class="a-link">Sign up now</a>
      </span>
      </div>
    </form>
  </div>
</div>
