<div class="cool-static-container p-3">
  <!-- If no workers -->

  <div class="f-r-s-c w-100 p-2">
    <h2 class="mb-0">
      {{ serviceProviders ? ("ADMIN-SERVICE-PROVIDERS-REQUESTS-PAGE.CURRENT_SERVICE_PROVIDERS" | translate ) : ("ADMIN-SERVICE-PROVIDERS-REQUESTS-PAGE.PENDING_REQUESTS" | translate) }}
    </h2>
  </div>
  <div class="divider"></div>

  <div class="user-row" *ngIf="workers.length === 0">
    <div class="information">
      <div>{{ "ADMIN-SERVICE-PROVIDERS-REQUESTS-PAGE.NO_NEW_REQUESTS" | translate }}</div>
    </div>
  </div>

  <!-- If we have workers -->
  <div class="w-100" *ngFor="let worker of workers; let i = index">
    <div class="user-row">
      <div class="f-r-s-c placeholder-glow">
        <div>
          <img
            [src]="
              worker.user.image
                ? worker.user.image
                : environment.deployUrl + 'assets/images/default-profile.png'
            "
            style="width: 50px; height: 50px"
            [alt]="'user_picture_img_' + worker.user.self"
          />
        </div>
        <div class="information">
          <div>
            <span style="color: var(--text)">{{ "ADMIN-SERVICE-PROVIDERS-REQUESTS-PAGE.NAME" | translate }} </span>
            <span style="color: var(--primary)">{{ worker.user.name }}</span>
          </div>
          <div>
            <span style="color: var(--text)">{{ "ADMIN-SERVICE-PROVIDERS-REQUESTS-PAGE.SURNAME" | translate }} </span>
            <span style="color: var(--primary)">{{ worker.user.surname }}</span>
          </div>
          <div>
            <span style="color: var(--text)">{{ "ADMIN-SERVICE-PROVIDERS-REQUESTS-PAGE.EMAIL" | translate }} </span>
            <span style="color: var(--primary)">{{ worker.user.email }}</span>
          </div>
          <div>
            <span style="color: var(--text)">{{ "ADMIN-SERVICE-PROVIDERS-REQUESTS-PAGE.IDENTIFICATION" | translate }} </span>
            <span style="color: var(--primary)">{{
              worker.user.identification
            }}</span>
          </div>
          <div>
            <span style="color: var(--text)">{{ "ADMIN-SERVICE-PROVIDERS-REQUESTS-PAGE.PHONE_NUMBER" | translate }} </span>
            <span style="color: var(--primary)">{{ worker.phoneNumber }}</span>
          </div>
          <div>
            <span style="color: var(--text)">{{ "ADMIN-SERVICE-PROVIDERS-REQUESTS-PAGE.BUSINESS_NAME" | translate }} </span>
            <span style="color: var(--primary)">{{ worker.businessName }}</span>
          </div>
        </div>
      </div>

      <div class="f-r-c-c">
        <button
          class="ignore-button outlined on-bg"
          (click)="rejectWorker(worker)"
        >
          {{ serviceProviders ? "Remove" : "Reject" }}
        </button>
        <button
          *ngIf="!serviceProviders"
          class="cool-button cool-small on-bg p-2"
          (click)="verifyWorker(worker)"
        >
        {{ "ADMIN-SERVICE-PROVIDERS-REQUESTS-PAGE.ACCEPT" | translate }}
        </button>
      </div>
    </div>

    <div class="divider" *ngIf="i < workers.length - 1"></div>
  </div>
  <app-paginator
    [totalPages]="totalPages"
    [currentPage]="currentPage"
    [pageSize]="pageSize"
    [theme]="'admin'"
    (pageChange)="onPageChange($event)"
  >
  </app-paginator>
</div>
