<!-- infinite-scroll-select.component.html -->

<!-- 
     The host element can be styled with a dynamic class that depends on the theme.
     For example, "pagination-default", "pagination-marketplace", etc.
     That way, we can leverage your SCSS map & mixin. 
-->

<!-- infinite-scroll-select.component.html -->
<div
  class="infinite-scroll-container-{{ theme }}"
  [style.height]="height"
  #scrollContainer
>
  <div
    class="item"
    *ngFor="let item of items"
    [class.active]="isSelected(item)"
    (click)="onSelectItem(item)"
  >
    {{ displayFn(item) }}
  </div>
</div>
