<div class="f-c-c-c w-100">
  <app-service-providers-content
    class="w-100"
    (openEditProfile)="openEditDialog()"
  >
  </app-service-providers-content>

  <app-service-providers-reviews-and-posts
    class="w-100"
    (openReviewDialog)="openReviewDialog()"
  >
  </app-service-providers-reviews-and-posts>
</div>

<!-- Review Dialog -->
<app-service-providers-review-dialog
  [reviewDialogVisible]="reviewDialogVisible"
  [worker]="worker"
  (closeDialog)="reviewDialogVisible = false"
  (submitReview)="onSubmitReview($event)"
></app-service-providers-review-dialog>

<!-- Edit Dialog -->
<app-service-providers-edit-dialog
  [editDialogVisible]="editDialogVisible"
  [worker]="worker"
  (closeDialog)="editDialogVisible = false"
  (saveProfile)="onSaveProfile($event)"
></app-service-providers-edit-dialog>
