<div class="container">
  <div class="row init">
    <div class="column-left">
      <app-sidebar></app-sidebar>
    </div>

    <div class="column-middle">
      <app-feed-control-bar></app-feed-control-bar>

      <!-- Placeholder Posts While Loading -->
      <div id="placeholder-posts-container" *ngIf="loading">
        <ng-container *ngFor="let _ of placeholderArray">
          <div class="mb-3">
            <app-placeholder-post></app-placeholder-post>
          </div>
        </ng-container>
      </div>

      <!-- Actual Posts -->
      <div id="actual-posts-container" *ngIf="!loading">
        <ng-container
          *ngIf="postList && postList.length > 0; else noPostsFound"
        >
          <div *ngFor="let post of postList">
            <app-feed-post-preview [post]="post"></app-feed-post-preview>
          </div>

          <app-paginator
            [totalPages]="totalPages"
            [currentPage]="currentPage"
            [pageSize]="pageSize"
            (pageChange)="onPageChange($event)"
          ></app-paginator>
        </ng-container>

        <ng-template #noPostsFound>
          <div class="no-posts-found">
            <i class="circle-icon fa-solid fa-magnifying-glass"></i>
            <span i18n>Posts not found</span>
          </div>
        </ng-template>
      </div>
    </div>

    <div class="column-right">
      <app-right-column></app-right-column>
    </div>
  </div>
</div>

<app-wave-footer></app-wave-footer>
