<div class="container">
  <div class="row init">
    <div class="column-left">
      <app-sidebar></app-sidebar>
    </div>

    <div class="column-middle">
      <router-outlet></router-outlet>
    </div>

    <div class="column-right">
      <div class="f-c-c-c w100">
        <app-calendar-widget></app-calendar-widget>
        <app-tags-filter-widget
          mode="professions"
          *ngIf="isServicesRoute"
        ></app-tags-filter-widget>
      </div>
    </div>
  </div>
</div>
<app-wave-footer [theme]="'services'"></app-wave-footer>
