<div class="card-container">
  <!-- Post information -->
  <div class="post-section">
    <div class="post-info">
      <div class="f-r-sb-c">
        <div>
          <span style="font-size: 14px" class="font-weight-bold">
            {{
              'FEED-POST-CONTENT.CHANNEL.' + post.channel.toUpperCase()
                | translate
            }}
          </span>
          <span style="font-size: 12px; font-weight: normal" class="ms-1">
            {{ 'FEED-POST-CONTENT._POSTED_BY' | translate }}
            <img
              [src]="authorImageSafeUrl"
              class="small-profile-picture mb-1"
              alt="post_profile_image"
            />
            {{ post.author.name }}
          </span>
        </div>
        <div style="font-size: 12px; font-weight: normal">
          <span class="post-date">{{ humanReadableDate }}</span>
        </div>
      </div>
      <p style="font-size: 24px" class="mt-2 font-weight-bolder c-text">
        {{ post.title }}
      </p>
      <div class="divider mb-3 mt-2"></div>
      <div class="postcard-description mb-3" style="font-size: 15px">
        {{ post.body }}
      </div>
    </div>

    <!-- Image section -->
    <div
      *ngIf="postImageSafeUrl && !isPostImageFallback"
      style="display: flex; justify-content: center; align-items: center"
    >
      <img
        [src]="postImageSafeUrl"
        class="blogpost-image"
        style="max-width: 100%; max-height: 100vh; border-radius: 5px"
        alt="post_image"
      />
    </div>
  </div>

  <!-- Like and Tags section -->
  <div class="row">
    <div class="col-6">
      <div
        class="ms-2 d-flex flex-column justify-content-start align-items-start"
      >
        <div class="f-r-c-c">
          <span
            (click)="toggleLike()"
            class="post-like-button ps-3 pe-3 pt-2 pb-2"
            [class.liked]="isLiked"
          >
            <span class="me-1">{{ post.likeCount }}</span>
            <i class="fa-solid fa-thumbs-up"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="me-2">
        <div
          class="w-100 d-flex flex-row justify-content-end align-items-center flex-wrap"
          *ngIf="tags.length > 0"
        >
          <a
            *ngFor="let tag of tags"
            class="post-tag static m-l-3 m-r-3"
            (click)="filterByTag(tag.self)"
          >
            {{ tag.name }}
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Comments section -->
  <div class="comments-section">
    <div style="margin: 10px 0 10px 0">
      <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
        <div class="comment-input-container">
          <textarea
            formControlName="comment"
            class="cool-input grey-input textarea-min-max"
            rows="3"
            [attr.placeholder]="'FEED-POST-CONTENT.ADD_A_COMMENT' | translate"
            (focus)="isFocused = true"
          ></textarea>

          <div
            class="f-r-e-c pt-1 w-100 font-size-12 g-0"
            [class.visible]="
              isFocused &&
              commentForm.controls['comment'].value.trim().length > 0
            "
          >
            <button
              type="button"
              class="cool-action-button rounded cancel-button p-2"
              (click)="onCancel()"
            >
              {{ 'FEED-POST-CONTENT.CANCEL' | translate }}
            </button>

            <button
              type="submit"
              class="cool-action-button rounded comment-button ms-1"
              [disabled]="commentForm.invalid"
            >
              {{ 'FEED-POST-CONTENT.COMMENT' | translate }}
            </button>
          </div>
        </div>
      </form>
    </div>

    <!-- Display comments if available -->
    <div *ngIf="comments && comments.length > 0; else noComments">
      <div *ngFor="let comment of comments" class="cool-comment w-100 p-3">
        <div class="comment-header f-r-sb-c mb-2">
          <div class="f-r-s-c">
            <img
              [src]="
                comment.user.image ||
                environment.deployUrl + 'assets/images/default-profile.png'
              "
              class="small-profile-picture"
              alt="profile_picture_img"
            />
            <div class="bold">
              {{ comment.user.name }} {{ comment.user.surname }}
            </div>
          </div>
          <div class="">{{ comment.humanReadableDate }}</div>
        </div>
        <div class="comment-body w-100">
          <p class="mt-2 w-100 c-light-text normal">{{ comment.message }}</p>
        </div>
      </div>
    </div>
    <ng-template #noComments>
      <div class="cool-comment">
        <div class="comment-body">
          {{ 'FEED-POST-CONTENT.NO_COMMENTS' | translate }}
        </div>
      </div>
    </ng-template>

    <app-paginator
      [totalPages]="totalPages"
      [currentPage]="currentPage"
      [pageSize]="pageSize"
      (pageChange)="onPageChange($event)"
    ></app-paginator>
  </div>
</div>
