<div class="upper-feed-buttons-box">
  <div class="f-r-s-c filters g-05">
    <a
      (click)="changeStatusToLatest()"
      class="cool-feed-button rounded"
      [class.active]="status === FeedStatus.LATEST"
    >
      <i class="fa-solid fa-arrow-up-wide-short"></i>
      <span i18n>{{ 'FEED-CONTROL-BAR.LATEST' | translate }}</span>
    </a>

    <!-- Trending Button -->
    <a
      (click)="changeStatusToTrending()"
      class="cool-feed-button rounded"
      [class.active]="status === FeedStatus.TRENDING"
    >
      <i class="fa-solid fa-arrow-trend-up ms-1"></i>
      <span i18n>{{ 'FEED-CONTROL-BAR.TRENDING' | translate }}</span>
    </a>

    <!-- Hot Button -->
    <a
      (click)="changeStatusToHot()"
      class="coolest-button"
      [class.active]="status === FeedStatus.HOT"
    >
      <i class="fa-solid fa-fire ms-1"></i>
      <span i18n>{{ 'FEED-CONTROL-BAR.HOT' | translate }}</span>
    </a>
  </div>

  <div *ngIf="currentUser && isNotAdmin && channelClass !== 'Announcements'">
    <button (click)="publishInChannel()" class="cool-feed-button">
      <i class="fa-solid fa-plus"></i>

      <ng-container [ngSwitch]="channelClass">
        <span *ngSwitchCase="'Feed'" i18n>{{
          'FEED-CONTROL-BAR.CREATE_POST' | translate
        }}</span>
        <span *ngSwitchCase="'Complaints'" i18n>{{
          'FEED-CONTROL-BAR.CREATE_COMPLAINT' | translate
        }}</span>
        <span *ngSwitchDefault i18n>{{
          'FEED-CONTROL-BAR.CREATE_POST' | translate
        }}</span>
      </ng-container>
    </button>
  </div>
</div>
