<div class="w-100">
  <!-- Placeholder for loading state -->
  <div id="placeholder-events" *ngIf="isLoading">
    <div *ngFor="let index of placeholders">
      <div class="placeholder-blogpost p-3">
        <div class="placeholder col-12 mb-2"></div>
        <div class="placeholder col-8 mb-2"></div>
        <div class="placeholder col-6"></div>
      </div>
    </div>
  </div>

  <!-- Actual events -->
  <div id="actual-events" *ngIf="!isLoading">
    <div *ngIf="events.length === 0" class="no-posts-found">
      <i class="circle-icon fa-solid fa-magnifying-glass"></i>
      {{
        'CALENDAR-EVENTS-COLUMN.THERE_ARE_NO_EVENTS_FOR_THIS_DATE' | translate
      }}
    </div>

    <div *ngFor="let event of events" class="blogpost p-3">
      <div class="f-r-sb-c w-100">
        <div class="" style="overflow: hidden; text-overflow: ellipsis">
          <a [routerLink]="['/calendar', 'events', event.self]">
            <div class="mb-3 bold font-size-20">{{ event.name }}</div>
          </a>
        </div>
        <div *ngIf="isAdmin">
          <span class="admin-link">
            <a class="btn btn-link" (click)="deleteEvent(event)">
              <i class="fas fa-trash" style="color: var(--error)"></i>
            </a>
          </span>
        </div>
      </div>

      <a [routerLink]="['/calendar/events', event.self]" class="f-c-c-s">
        <p style="font-size: 12px; font-weight: normal">
          {{ event.startTime }} - {{ event.endTime }}
        </p>
        <p style="font-size: 12px; font-weight: normal">
          {{
            'CALENDAR-EVENTS-COLUMN._EVENTDURATION__MINUTES'
              | translate : { eventDuration: event.duration }
          }}
        </p>
        <p style="font-size: 12px; font-weight: normal">
          {{
            'CALENDAR-EVENTS-COLUMN._EVENTATTENDEESCOUNT__PEOPLE_WILL_ATTEND'
              | translate : { eventAttendeesCount: event.attendeesCount }
          }}
        </p>
        <div class="divider"></div>
        <div class="postcard-description m-t-40" style="overflow: clip">
          {{ event.description }}
        </div>
      </a>
    </div>

    <app-paginator
      [totalPages]="totalPages"
      [currentPage]="currentPage"
      (pageChange)="onPageChange($event)"
    >
    </app-paginator>
  </div>
</div>
