<div class="container">
  <div class="row init">
    <div class="column-left">
      <app-sidebar></app-sidebar>
    </div>

    <div id="center-grid" class="column-center ps-3">
      <app-marketplace-control-bar
        [channel]="channel"
      ></app-marketplace-control-bar>

      <div class="cool-static-container w-100">
        <div class="f-c-c-c">
          <div class="f-r-c-c">
            <span class="font-size-24">{{ "MARKETPLACE-PRODUCT-SELL-PAGE.CREATE_LISTING" | translate }}</span>
          </div>
          <div class="divider w-75 mb-3"></div>
        </div>

        <form
          [formGroup]="listingForm"
          (ngSubmit)="onSubmit()"
          enctype="multipart/form-data"
        >
          <div class="f-r-c-c w-100">
            <div class="f-c-c-c w-75">
              <div class="w-100 f-r-c-c">
                <div class="w-75">
                  <input
                    formControlName="title"
                    type="text"
                    class="cool-input marketplace-input font-weight-bold"
                    [attr.placeholder]="'MARKETPLACE-PRODUCT-SELL-PAGE.TITLE' | translate"
                  />
                  <div
                    class="error pt-1"
                    *ngIf="
                      listingForm.get('title').touched &&
                      listingForm.get('title').invalid
                    "
                  >
                  {{ "MARKETPLACE-PRODUCT-SELL-PAGE.TITLE_IS_REQUIRED" | translate }}
                  </div>
                </div>

                <div class="w-25">
                  <input
                    formControlName="price"
                    type="text"
                    class="cool-input marketplace-input font-weight-bold font-size-14"
                    [attr.placeholder]="'MARKETPLACE-PRODUCT-SELL-PAGE.MONEY' | translate"
                    (blur)="formatCurrency()"
                  />
                  <div
                    class="error pt-1"
                    *ngIf="
                      listingForm.get('price').touched &&
                      listingForm.get('price').invalid
                    "
                  >
                  {{ "MARKETPLACE-PRODUCT-SELL-PAGE.PRICE_IS_REQUIRED" | translate }}
                  </div>
                </div>
              </div>

              <div class="w-100 lila-upload-box">
                <div class="upload__box w-100">
                  <div class="upload__btn-box">
                    <input
                      #imageInput
                      type="file"
                      multiple
                      accept="image/*"
                      [hidden]="true"
                      (change)="onFileChange($event)"
                    />
                  </div>
                  <div class="upload__img-wrap">
                    <a
                      id="dummy-upload"
                      class="dummy-upload"
                      (click)="triggerImageInput(imageInput)"
                      *ngIf="images.length < 3"
                    >
                      <div class="f-c-c-c w-100 h-100">
                        <span>
                          <i class="fa-regular fa-images me-1"></i>
                          <i class="fa fa-plus ms-1"></i>
                        </span>
                        <h3 id="add-photo-text" class="font-weight-bold">
                          {{ "MARKETPLACE-PRODUCT-SELL-PAGE.ADD_PHOTO" | translate }} ({{ images.length }}/3)
                        </h3>
                      </div>
                    </a>
                  </div>
                  <div
                    class="f-c-c-c w-100 c-light-text font-weight-normal special-hover mb-3"
                    *ngIf="images.length < 3"
                  >
                  {{ "MARKETPLACE-PRODUCT-SELL-PAGE.SELECT_IMAGES" | translate }}
                  </div>
                  <div class="upload__img-wrap">
                    <div
                      class="upload__img-box"
                      *ngFor="let img of images; let i = index"
                    >
                      <div
                        class="img-bg"
                        [ngStyle]="{
                          'background-image': 'url(' + img.preview + ')'
                        }"
                      >
                        <div
                          class="upload__img-close"
                          (click)="removeImage(i)"
                        ></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <textarea
                formControlName="description"
                class="cool-input marketplace-input textarea-min-max"
                rows="5"
                [attr.placeholder]="'MARKETPLACE-PRODUCT-SELL-PAGE.DESCRIPTION' | translate"
              ></textarea>
              <div
                class="error pt-1"
                *ngIf="
                  listingForm.get('description').touched &&
                  listingForm.get('description').invalid
                "
              >
              {{ "MARKETPLACE-PRODUCT-SELL-PAGE.DESCRIPTION_IS_REQUIRED" | translate }}
              </div>

              <select
                formControlName="departmentId"
                class="cool-input marketplace-input font-weight-bold font-size-12"
                id="department"
              >
                <option value="" disabled selected>
                  {{ "MARKETPLACE-PRODUCT-SELL-PAGE.SELECT_DEPARTMENT" | translate }}
                </option>
                <option *ngFor="let dept of departmentList" [value]="dept.self">
                  {{ dept.displayName }}
                </option>
              </select>

              <div
                class="error pt-1"
                *ngIf="
                  listingForm.get('departmentId').touched &&
                  listingForm.get('departmentId').invalid
                "
              >
              {{ "MARKETPLACE-PRODUCT-SELL-PAGE.DEPARTMENT_IS_REQUIRED" | translate }}
              </div>

              <div class="f-r-c-c w-100 font-size-16 font-weight-normal g-05">
                {{ "MARKETPLACE-PRODUCT-SELL-PAGE.THIS_ITEM_IS" | translate }}
                <div class="w-25">
                  <select
                    formControlName="used"
                    class="cool-input marketplace-input font-weight-bold font-size-14"
                    id="condition"
                  >
                    <option [value]="false">{{ "MARKETPLACE-PRODUCT-SELL-PAGE.NEW" | translate }}</option>
                    <option [value]="true">{{ "MARKETPLACE-PRODUCT-SELL-PAGE.USED" | translate }}</option>
                  </select>
                  <div
                    class="error pt-1"
                    *ngIf="
                      listingForm.get('used').touched &&
                      listingForm.get('used').invalid
                    "
                  >
                  {{ "MARKETPLACE-PRODUCT-SELL-PAGE.CONDITION_IS_REQUIRED" | translate }}
                  </div>
                </div>
              </div>

              <div class="f-c-c-c w-100 g-0">
                <div class="f-r-c-c w-100 font-size-16 font-weight-normal g-05">
                  {{ "MARKETPLACE-PRODUCT-SELL-PAGE.QUANTITY" | translate }}
                  <div>
                    <select
                      formControlName="quantity"
                      class="cool-input marketplace-input quantity-input font-weight-bold font-size-14"
                    >
                      <option *ngFor="let qty of quantities" [value]="qty">
                        {{ qty }}
                      </option>
                    </select>
                  </div>
                </div>
                <div
                  class="error pt-1"
                  *ngIf="
                    listingForm.get('quantity').touched &&
                    listingForm.get('quantity').invalid
                  "
                >
                {{ "MARKETPLACE-PRODUCT-SELL-PAGE.QUANTITY_IS_REQUIRED" | translate }}
                </div>
              </div>
            </div>
          </div>
          <div class="f-r-c-c w-100 mt-4">
            <div *ngIf="formErrors" class="error">
              {{ formErrors }}
            </div>
          </div>
          <div class="f-r-c-c mt-4">
            <button
              class="cool-button marketplace-button cool-button p-3 font-size-14 font-weight-bolder"
              style="width: 200px"
              type="submit"
            >
            {{ "MARKETPLACE-PRODUCT-SELL-PAGE.CREATE_LISTING" | translate }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<app-wave-footer [theme]="'marketplace'"></app-wave-footer>
