<div class="cool-static-container">
  <h2 class="card-title">{{ 'ADMIN-CREATE-ANNOUNCEMENT-PAGE.CREATE_AN_ANNOUNCEMENT' | translate }}</h2>
  <div class="divider mb-3 mt-3"></div>

  <!-- Announcement Form -->
  <form
    [formGroup]="announcementForm"
    (ngSubmit)="onSubmit()"
    enctype="multipart/form-data"
  >
    <!-- Subject -->
    <div class="form-column" style="margin-top: 1rem">
      <div class="col p-0">
        <input
          formControlName="subject"
          class="cool-input"
          [attr.placeholder]="'ADMIN-CREATE-ANNOUNCEMENT-PAGE.SUBJECT' | translate"
          type="text"
        />
        <app-form-error
          class="w-100"
          [control]="subjectControl"
          [centered]="false"
        ></app-form-error>
      </div>

      <!-- Message -->
      <div class="col p-0">
        <textarea
          formControlName="message"
          class="cool-input textarea-min-max"
          rows="5"
          [attr.placeholder]="'ADMIN-CREATE-ANNOUNCEMENT-PAGE.MESSAGE' | translate"
        ></textarea>
        <app-form-error
          class="w-100"
          [control]="messageControl"
          [centered]="false"
        ></app-form-error>
      </div>

      <!-- File input -->
      <div class="col p-0">
        <!-- A "drop-container" for drag/drop + fallback file input -->
        <label
          for="images"
          class="drop-container"
          id="dropcontainer"
          (dragover)="onDragOver($event)"
          (drop)="onDrop($event)"
        >
          <span class="drop-title">{{
            'ADMIN-CREATE-ANNOUNCEMENT-PAGE.DROP_FILES' | translate
          }}</span>
          {{ 'ADMIN-CREATE-ANNOUNCEMENT-PAGE.OR' | translate }}
          <input
            type="file"
            id="images"
            accept="image/*"
            (change)="onFileChange($event)"
          />
        </label>
        <div class="f-c-c-c w-100 mt-2">
          <div *ngIf="imageFileControl?.value">
            <button
              type="button"
              class="cool-button red"
              (click)="removeImage()"
            >
              {{ 'ADMIN-INFORMATION-PAGE.REMOVE_IMAGE' | translate }}
            </button>
          </div>
          <app-form-error
            class="w-100"
            [control]="imageFileControl"
            [centered]="true"
          ></app-form-error>
        </div>
      </div>

      <!-- Image preview -->
      <div class="preview-container" *ngIf="imagePreviewUrl">
        <img
          id="frame"
          class="blogpost-image"
          [src]="imagePreviewUrl"
          alt="uploading image"
          *ngIf="imagePreviewUrl"
        />
      </div>

      <!-- 
          TAGS AREA
          *No* input for creating custom tags. Just 4 hardcoded clickable tags:
          Event, Notice, Important, Urgent
  
          1) Display the currently selected tags (with remove icon)
          2) Show the 4 clickable tags for selection
        -->
      <!-- Tags Section -->
      <div class="col p-0">
        <label class="mb-2">{{
          'ADMIN-CREATE-ANNOUNCEMENT-PAGE.SELECT_FROM_THE_AVAILABLE_TAGS'
            | translate
        }}</label>

        <!-- Display selected tags -->
        <div *ngIf="appliedTags.length > 0" class="tags-row tags w-100 mb-2">
          <span class="tag-selected" *ngFor="let selTag of appliedTags">
            {{ selTag.name }}
            <i class="fa-solid fa-xmark" (click)="removeTag(selTag)"></i>
          </span>
        </div>

        <!-- Hardcoded tags -->
        <div class="tags-row tags w-100 mb-2">
          <a
            class="tag-option"
            *ngFor="let tag of defaultTags"
            (click)="addTagToApplied(tag)"
          >
            {{ tag.name }}
          </a>
        </div>

        <!-- Error message -->
        <app-form-error
          class="w-100"
          [control]="announcementForm.get('tags')"
          [centered]="false"
        ></app-form-error>
      </div>
    </div>

    <!-- Submit button -->
    <div class="d-flex justify-content-end">
      <button
        type="submit"
        class="cool-button cool-small on-bg w-25 font-weight-bolder"
        style="height: 40px"
      >
        {{ 'ADMIN-CREATE-ANNOUNCEMENT-PAGE.POST' | translate }}
      </button>
    </div>
  </form>
</div>
