<div class="column-publish">
    <div class="cool-static-container">
        <h2 class="card-title">Create Contact</h2>
        <div class="divider"></div>

        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" novalidate>
            <!-- Example errors container -->
            <!-- <p class="error" *ngIf="formLevelError">{{ formLevelError }}</p> -->

            <div class="form-column" style="margin-top:1rem;">
                <!-- Contact Name -->
                <div class="form-group">
                    <input formControlName="contactName" class="cool-input" placeholder="Contact Name" type="text" />
                    <div class="form-row form-error" *ngIf="contactNameControl?.invalid && contactNameControl?.touched">
                        <p class="error">Name is required</p>
                    </div>
                </div>

                <!-- Contact Address -->
                <div class="form-group">
                    <input formControlName="contactAddress" class="cool-input" placeholder="Contact Address"
                        type="text" />
                    <div class="form-row form-error" *ngIf="addressControl?.invalid && addressControl?.touched">
                        <p class="error">Address is required</p>
                    </div>
                </div>

                <!-- Contact Phone -->
                <div class="form-group">
                    <input formControlName="contactPhone" class="cool-input" placeholder="Contact Phone" type="text" />
                    <div class="form-row form-error" *ngIf="phoneControl?.invalid && phoneControl?.touched">
                        <p class="error">Phone is required</p>
                    </div>
                </div>
            </div>

            <!-- Submit button -->
            <div class="d-flex justify-content-end">
                <button type="submit" class="cool-button cool-small on-bg mt-2 w-25 font-weight-bold"
                    style="height:40px;">
                    Create
                </button>
            </div>
        </form>
    </div>
</div>