<div
  id="review-dialog"
  class="dialog"
  [ngClass]="{ 'show-dialog': reviewDialogVisible }"
>
  <div class="dialog-content services">
    <div class="dialog-header">
      <div class="review-dialog-text">
        <h3 class="font-size-20 font-weight-bold c-services mb-3">
          {{ 'SERVICE-PROVIDERS-REVIEW-DIALOG.LEAVE_A_REVIEW' | translate }}
        </h3>
        <p
          class="font-weight-normal font-size-14"
          style="color: var(--lighttext)"
        >
          {{
            'SERVICE-PROVIDERS-REVIEW-DIALOG.SHARE_YOUR_EXPERIENCE_WITH'
              | translate
          }}
          <strong class="c-services">{{ worker?.businessName }}</strong>
        </p>
      </div>
    </div>
    <a class="close-button services" (click)="closeReviewDialog()">
      <i class="fas fa-close"></i>
    </a>
    <form
      class="f-c-c-c w-100"
      (ngSubmit)="submitReviewForm()"
      #reviewForm="ngForm"
    >
      <div class="form-group w-75">
        <!-- Star Selector -->
        <div class="stars m-3">
          <i
            class="fa-solid fa-star"
            *ngFor="let star of stars; let i = index"
            [class.active]="rating >= star"
            (click)="setRating(star)"
          ></i>
        </div>
        <div
          *ngIf="!rating && reviewForm.submitted"
          class="error-message c-red"
        >
          {{
            'SERVICE-PROVIDERS-REVIEW-DIALOG.PLEASE_SELECT_A_STAR_RATING'
              | translate
          }}
        </div>

        <textarea
          name="reviewMessage"
          [(ngModel)]="reviewMessage"
          class="cool-input services-input textarea-min-max"
          rows="5"
          [attr.placeholder]="
            'SERVICE-PROVIDERS-REVIEW-DIALOG.YOUR_REVIEW' | translate
          "
          required
          minlength="10"
        ></textarea>
        <div
          *ngIf="reviewForm.invalid && reviewForm.touched"
          class="error-message c-red"
        >
          <span *ngIf="reviewMessage?.length < 10">{{
            'SERVICE-PROVIDERS-REVIEW-DIALOG.REVIEW_MUST_BE_AT_LEAST'
              | translate
          }}</span>
        </div>
      </div>
      <button
        type="submit"
        class="w-75 cool-button services-button pure filled-interesting square-radius font-size-14 font-weight-bold"
        [disabled]="reviewForm.invalid"
      >
        {{ 'SERVICE-PROVIDERS-REVIEW-DIALOG.SUBMIT_REVIEW' | translate }}
      </button>
    </form>
  </div>
</div>
