<!--<c:if test="${channel != 'Announcements'}">-->
<div class="upper-feed-buttons-box  ">
  <div class="f-r-s-c filters g-05">
    <a routerLink="/" [queryParams]="{ postStatus: 'none' }" class="cool-feed-button rounded"
      [ngClass]="{ 'active': postStatus == 'none' }">
      <i class="fa-solid fa-arrow-up-wide-short"></i>
      <span i18n>Newest</span>
    </a>

    <a routerLink="/" [queryParams]="{ postStatus: 'trending' }" class="cool-feed-button rounded"
      [ngClass]="{ 'active': postStatus == 'trending' }">
      <i class="fa-solid fa-arrow-trend-up ml-1"></i>
      <span i18n>Trending</span>
    </a>

    <a routerLink="/" [queryParams]="{ postStatus: 'hot' }" class="coolest-button"
      [ngClass]="{ 'active': postStatus == 'hot' }">
      <i class="fa-solid fa-fire ml-1"></i>
      <span i18n>Hot</span>
    </a>
  </div>

  <div *ngIf="currentUser.userRole !== 'ADMINISTRATOR'">
    <button (click)="publishInChannel()" class="cool-feed-button p-3">
      <i class="fa-solid fa-plus"></i>

      <ng-container [ngSwitch]="channel">
        <span *ngSwitchCase="'Feed'" i18n>Create post</span>
        <span *ngSwitchCase="'Complaints'" i18n>Create complaint</span>
        <span *ngSwitchDefault i18n>Create post</span>
      </ng-container>
    </button>
  </div>
  <!--<c:if test='${loggedUser.role != "ADMINISTRATOR"}'>
      <a onclick="publishInChannel()" class="cool-feed-button p-3 ">
        <i class="fa-solid fa-plus"></i>

        <c:choose>
          <c:when test="${channel eq 'Feed'}">
            <span i18n>Create post</span>
          </c:when>
          <c:when test="${channel eq 'Complaints'}">
            <span i18n>Create complaint</span>
          </c:when>
        </c:choose>
      </a>
    </c:if>-->
</div>
<!--</c:if>-->


<script>
  function publishInChannel() {
    const form = document.createElement('form');
    form.method = 'POST';
    form.action = '${pageContext.request.contextPath}/publish-to-channel'; // Replace with your desired URL

    // Optionally, you can add any form data or parameters here
    // For example, adding a hidden input field with a value
    const input = document.createElement('input');
    input.type = 'hidden';
    input.name = 'channel';
    input.value = '${channel}';

    // Append the input field to the form
    form.appendChild(input);

    // Append the form to the document and submit it
    document.body.appendChild(form);
    form.submit();
  }


  function addQueryParams(url, queryParams) {
    if (url.includes("?")) {
      // URL already has query parameters, so append with '&'
      return url + "&" + queryParams;
    } else {
      // URL doesn't have query parameters, so append with '?'
      return url + "?" + queryParams;
    }
  }


</script>