<div class="container">
  <div class="row init">
    <div class="column-left">
      <app-sidebar></app-sidebar>
    </div>

    <div class="column-middle">
      <div
        class="cool-static-container m-b-20"
        style="word-wrap: break-word"
        aria-hidden="true"
      >
        <!-- If no bookings -->
        <div *ngIf="!isLoading && bookings?.length === 0">
          <div class="f-c-c-c" style="text-align: center">
            <span class="w-75 mb-2">
              Unavailable times for
              <span class="font-weight-bolder c-primary">{{
                amenityName
              }}</span>
              on <span class="font-weight-bolder c-primary">{{ date }}</span
              >.
            </span>
            <span class="w-75 mb-2 c-light-text">
              No shifts are available on this day. Please check the amenity’s
              shift availability table for open days and try selecting a
              different date.
            </span>
          </div>
          <div class="col-md-12">
            <div class="d-flex justify-content-center m-t-40">
              <button
                (click)="goBack()"
                class="cool-button cool-small on-bg w-25 font-weight-bold"
              >
                Go back
              </button>
            </div>
          </div>
        </div>

        <!-- If bookings are available -->
        <div *ngIf="!isLoading && bookings?.length > 0">
          <h2>Select Time Slots</h2>
          <p class="c-light-text mt-2">
            <strong>Amenity:</strong> {{ amenityName }}
          </p>
          <p class="c-light-text mt-2">
            <strong>Date:</strong>
            {{ date }}
          </p>

          <div class="divider"></div>

          <div class="f-c-c-c mt-4">
            <div class="shifts-reservation f-c-c-c w-50">
              <span class="font-weight-bold font-size-16">
                Available times
              </span>

              <form [formGroup]="shiftsForm" *ngIf="bookings?.length > 0">
                <!-- Add formArrayName here -->
                <div formArrayName="selectedShifts">
                  <div
                    *ngFor="let shift of bookings; let i = index"
                    class="cat"
                  >
                    <label class="w-100">
                      <!-- Here i indexes into the FormArray 'selectedShifts' -->
                      <input type="checkbox" [formControlName]="i" />
                      <span>{{ shift.startTime }} - {{ shift.endTime }}</span>
                    </label>
                  </div>
                </div>
              </form>
            </div>
            <div class="f-c-c-c">
              <div class="f-c-c-c" style="gap: 5px">
                Remember that you can select multiple times at once.
                <span class="c-primary font-weight-bolder">
                  Please confirm your selection.
                </span>
              </div>
            </div>
            <div class="col-md-12">
              <div class="d-flex justify-content-center m-t-40">
                <button
                  (click)="onReserve()"
                  type="submit"
                  class="cool-button cool-small on-bg w-50 font-weight-bold m-2"
                  [disabled]="isReserveDisabled()"
                  style="height: 40px"
                >
                  Confirm Reservation
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- Loading indicator -->
        <div *ngIf="isLoading" class="f-c-c-c" style="text-align: center">
          <span class="w-100 mb-2">Loading available times...</span>
        </div>
      </div>
    </div>

    <div class="column-right">
      <app-calendar-widget></app-calendar-widget>
      <app-amenities-reservations-list></app-amenities-reservations-list>
    </div>

    <!-- end column-right -->
  </div>
  <!-- end row -->
</div>
<!-- end container -->

<!-- Success Popup -->
<!-- Success Popup -->
<div
  class="dialog"
  id="reservationDialog"
  [ngClass]="{ 'show-dialog': showReservationDialog }"
>
  <div class="dialog-content success-dialog">
    <div class="title mt-4 f-c-c-c">
      <div class="success-icon mb-2" style="font-size: 50px">
        <i class="fas fa-check-circle"></i>
      </div>
      <span class="font-weight-bold">Reservation Confirmed!</span>
    </div>
    <div class="details text-center c-text">
      <div class="divider mb-4"></div>

      <p>
        <strong>{{ amenityName }}</strong> has been successfully reserved for
        you!
      </p>
      <div class="divider mb-4 mt-4"></div>
      <p><strong>Date:</strong> {{ date }}</p>
      <p>
        <strong>Shift(s):</strong>
      </p>
      <div class="shift-times" [innerHTML]="formattedShiftTimes"></div>
    </div>

    <button
      (click)="redirectToReservations()"
      class="action-button success-button font-weight-bolder"
    >
      <span>Go to Amenities</span>
    </button>
  </div>
</div>
